brmo-stufwoz312/src/XSD-Resolver/toresolve/woz0312/tiox2/woz0312_ontvangAsynchroon_tiox_gemeente.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:WOZ="http://www.waarderingskamer.nl/StUF/0312" xmlns:StUF="http://www.egem.nl/StUF/StUF0301" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" name="StUF-WOZ0312" targetNamespace="http://www.waarderingskamer.nl/StUF/0312">
	<import namespace="http://www.egem.nl/StUF/StUF0301" location="../../0301/stuf0301_types.wsdl"/>
	<documentation>
		Deze wsdl definieert voor de OntvangAsynchroon webservice van een gemeente de operations voor het ontvangen van de asynchrone berichten verzonden vanuit TIOX 
		
		Versie 031201:
		- De import van de namespace "http://www.egem.nl/StUF/StUF0301" is verbeterd nav een bugfix in stuf0301
	</documentation>
	<types>
		<xs:schema>
			<xs:import namespace="http://www.waarderingskamer.nl/StUF/0312" schemaLocation="woz0312_msg_tiox.xsd"/>
		</xs:schema>
	</types>
	<message name="hertaxeerObjectResponsAsynchroon">
		<part name="body" element="WOZ:hertaxeerObjectResponsAsynchroon"/>
	</message>
	<message name="taxeerObjectResponsAsynchroon">
		<part name="body" element="WOZ:taxeerObjectResponsAsynchroon"/>
	</message>
	<portType name="OntvangAsynchroon">
		<operation name="Fo01">
			<input message="StUF:Fo01"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="Fo03">
			<input message="StUF:Fo03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="hertaxeerObjectRespons">
			<input message="WOZ:hertaxeerObjectResponsAsynchroon"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="taxeerObjectRespons">
			<input message="WOZ:taxeerObjectResponsAsynchroon"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
	</portType>
	<binding name="SOAPOntvangAsynchroon" type="WOZ:OntvangAsynchroon" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<documentation>
			Omdat de uit te wisselen berichten volledig gedefinieerd zijn in het sectormodel cq de StUF-standaard, kunnen we ze zonder verdere encoding (“literal”) opnemen in de body.
Niet ondersteunde berichten kunnen uit de binding en portType worden verwijderd.
		</documentation>
		<operation name="Fo01">
			<soap:operation soapAction="http://www.egem.nl/StUF/StUF0301/Fo01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="Fo03">
			<soap:operation soapAction="http://www.egem.nl/StUF/StUF0301/Fo03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="taxeerObjectRespons">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/taxeerObjectRespons"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="hertaxeerObjectRespons">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/hertaxeerObjectRespons"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="OntvangAsynchroon">
		<documentation>
	Hieronder wordt de concreet aan te roepen service voor het ontvangen van asynchrone berichten vanuit TIOX gedefinieerd.
	In het attribute location binnen het element soap:address dient nog wel de correcte URL te worden ingevuld.
		</documentation>
		<port name="OntvangAsynchroon" binding="WOZ:SOAPOntvangAsynchroon">
			<soap:address location="http://example.com/OntvangAsynchroon"/>
			<documentation>
				<wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
		</port>
	</service>
</definitions>
