brmo-stufwoz312/src/XSD-Resolver/toresolve/woz0312/tiox2/woz0312_stuf_tiox.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 sp2 (x64) (http://www.altova.com) by Maarten van den Broek (messageDesign B.V.) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:StUF="http://www.egem.nl/StUF/StUF0301" targetNamespace="http://www.egem.nl/StUF/StUF0301" elementFormDefault="qualified" attributeFormDefault="unqualified" version="031201">
	<include schemaLocation="../entiteiten/woz0312_stuf_simpleTypes.xsd"/>
	<annotation>
		<documentation>
			Dit schema bevat de restricties van StUF-types tbv TIOX.
			
			Wijzigingen vergeleken met versie 031200:
			- SimpleType voor berichtcode in de complexTypes voor de stuurgegevens in lijn gebracht met gewijzigde simpleType in patch016 van StUF0301
			- SimpleType voor functie in stuurgegevens vervangen door toegevoegd simpleType met als enige enumeration value de huidige fixed value
		</documentation>
	</annotation>
	<!--Stuurgegevens elementen tbv dienstberichten TIOX-->
	<complexType name="StuurgegevensDi02-geefActueleKengetalSet">
		<complexContent>
			<restriction base="StUF:StuurgegevensDi02">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDi02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="functie" type="StUF:FunctieGeefActueleKengetalSet"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDu02-geefActueleKengetalSet">
		<complexContent>
			<restriction base="StUF:StuurgegevensDu02">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDu02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="functie" type="StUF:FunctieGeefActueleKengetalSet"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDi02-geefBeschikbareWaardepeildata">
		<complexContent>
			<restriction base="StUF:StuurgegevensDi02">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDi02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="functie" type="StUF:FunctieGeefBeschikbareWaardepeildata"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDu02-geefBeschikbareWaardepeildata">
		<complexContent>
			<restriction base="StUF:StuurgegevensDu02">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDu02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="functie" type="StUF:FunctieGeefBeschikbareWaardepeildata"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDi02-geefGebruikergegevens">
		<complexContent>
			<restriction base="StUF:StuurgegevensDi02">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDi02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="functie" type="StUF:FunctieGeefGebruikergegevens"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDu02-geefGebruikergegevens">
		<complexContent>
			<restriction base="StUF:StuurgegevensDu02">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDu02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="functie" type="StUF:FunctieGeefGebruikergegevens"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDi02-geefKengetalSetOpDatum">
		<complexContent>
			<restriction base="StUF:StuurgegevensDi02">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDi02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="functie" type="StUF:FunctieGeefKengetalSetOpDatum"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDu02-geefKengetalSetOpDatum">
		<complexContent>
			<restriction base="StUF:StuurgegevensDu02">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDu02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="functie" type="StUF:FunctieGeefKengetalSetOpDatum"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDi02-geefKengetalSetOpId">
		<complexContent>
			<restriction base="StUF:StuurgegevensDi02">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDi02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="functie" type="StUF:FunctieGeefKengetalSetOpId"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDu02-geefKengetalSetOpId">
		<complexContent>
			<restriction base="StUF:StuurgegevensDu02">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDu02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="functie" type="StUF:FunctieGeefKengetalSetOpId"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDi02-geefTaxatieInvoer">
		<complexContent>
			<restriction base="StUF:StuurgegevensDi02">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDi02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="functie" type="StUF:FunctieGeefTaxatieInvoer"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDu02-geefTaxatieInvoer">
		<complexContent>
			<restriction base="StUF:StuurgegevensDu02">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDu02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="functie" type="StUF:FunctieGeefTaxatieInvoer"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDi02-geefTaxatieInvoerlijst">
		<complexContent>
			<restriction base="StUF:StuurgegevensDi02">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDi02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="functie" type="StUF:FunctieGeefTaxatieInvoerlijst"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDi02-geefTaxInvoerlijstGemEnDatum">
		<complexContent>
			<restriction base="StUF:StuurgegevensDi02">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDi02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="functie" type="StUF:FunctieGeefTaxInvoerlijstGemEnDatum"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDu02-geefTaxatieInvoerlijst">
		<complexContent>
			<restriction base="StUF:StuurgegevensDu02">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDu02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="functie" type="StUF:FunctieGeefTaxatieInvoerlijst"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDi02-geefTaxatieUitvoer">
		<complexContent>
			<restriction base="StUF:StuurgegevensDi02">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDi02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="functie" type="StUF:FunctieGeefTaxatieUitvoer"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDu02-geefTaxatieUitvoer">
		<complexContent>
			<restriction base="StUF:StuurgegevensDu02">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDu02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="functie" type="StUF:FunctieGeefTaxatieUitvoer"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDi02-geefTaxatieUitvoerlijst">
		<complexContent>
			<restriction base="StUF:StuurgegevensDi02">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDi02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="functie" type="StUF:FunctieGeefTaxatieUitvoerlijst"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDi02-geefTaxUitvoerlijstGemEnDatum">
		<complexContent>
			<restriction base="StUF:StuurgegevensDi02">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDi02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="functie" type="StUF:FunctieGeefTaxatieUitvoerlijstGemEnDatum"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDu02-geefTaxatieUitvoerlijst">
		<complexContent>
			<restriction base="StUF:StuurgegevensDu02">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDu02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="functie" type="StUF:FunctieGeefTaxatieUitvoerlijst"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDi01-hertaxeerObject">
		<complexContent>
			<restriction base="StUF:StuurgegevensDi01">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="functie" type="StUF:FunctieHertaxeerObject"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDu01-hertaxeerObject">
		<complexContent>
			<restriction base="StUF:StuurgegevensDu01">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDu01"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="functie" type="StUF:FunctieHertaxeerObject"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDi02-hertaxeerObject">
		<complexContent>
			<restriction base="StUF:StuurgegevensDi02">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDi02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="functie" type="StUF:FunctieHertaxeerObject"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDu02-hertaxeerObject">
		<complexContent>
			<restriction base="StUF:StuurgegevensDu02">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDu02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="functie" type="StUF:FunctieHertaxeerObject"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDi01-taxeerObject">
		<complexContent>
			<restriction base="StUF:StuurgegevensDi01">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="functie" type="StUF:FunctieTaxeerObject"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDu01-taxeerObject">
		<complexContent>
			<restriction base="StUF:StuurgegevensDu01">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDu01"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="functie" type="StUF:FunctieTaxeerObject"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDi02-taxeerObject">
		<complexContent>
			<restriction base="StUF:StuurgegevensDi02">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDi02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="functie" type="StUF:FunctieTaxeerObject"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDu02-taxeerObject">
		<complexContent>
			<restriction base="StUF:StuurgegevensDu02">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDu02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="functie" type="StUF:FunctieTaxeerObject"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLk02-TAXTIOX">
		<complexContent>
			<restriction base="StUF:StuurgegevensLk02">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLk02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="entiteittype" type="StUF:EntiteittypeTAX"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!--Restrictions op andere StUF-typen-->
	<complexType name="ParametersLk02T">
		<complexContent>
			<restriction base="StUF:ParametersLk02">
				<sequence>
					<element name="mutatiesoort" type="StUF:MutatiesoortT"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<simpleType name="FunctieGeefActueleKengetalSet">
		<restriction base="StUF:Functie">
			<enumeration value="geefActueleKengetalSet"/>
		</restriction>
	</simpleType>
	<simpleType name="FunctieGeefBeschikbareWaardepeildata">
		<restriction base="StUF:Functie">
			<enumeration value="geefBeschikbareWaardepeildata"/>
		</restriction>
	</simpleType>
	<simpleType name="FunctieGeefGebruikergegevens">
		<restriction base="StUF:Functie">
			<enumeration value="geefGebruikergegevens"/>
		</restriction>
	</simpleType>
	<simpleType name="FunctieGeefKengetalSetOpDatum">
		<restriction base="StUF:Functie">
			<enumeration value="geefKengetalSetOpDatum"/>
		</restriction>
	</simpleType>
	<simpleType name="FunctieGeefKengetalSetOpId">
		<restriction base="StUF:Functie">
			<enumeration value="geefKengetalSetOpId"/>
		</restriction>
	</simpleType>
	<simpleType name="FunctieGeefTaxatieInvoer">
		<restriction base="StUF:Functie">
			<enumeration value="geefTaxatieInvoer"/>
		</restriction>
	</simpleType>
	<simpleType name="FunctieGeefTaxatieInvoerlijst">
		<restriction base="StUF:Functie">
			<enumeration value="geefTaxatieInvoerlijst"/>
		</restriction>
	</simpleType>
	<simpleType name="FunctieGeefTaxInvoerlijstGemEnDatum">
		<restriction base="StUF:Functie">
			<enumeration value="geefTaxInvoerlijstGemEnDatum"/>
		</restriction>
	</simpleType>
	<simpleType name="FunctieGeefTaxatieUitvoer">
		<restriction base="StUF:Functie">
			<enumeration value="geefTaxatieUitvoer"/>
		</restriction>
	</simpleType>
	<simpleType name="FunctieGeefTaxatieUitvoerlijst">
		<restriction base="StUF:Functie">
			<enumeration value="geefTaxatieUitvoerlijst"/>
		</restriction>
	</simpleType>
	<simpleType name="FunctieGeefTaxatieUitvoerlijstGemEnDatum">
		<restriction base="StUF:Functie">
			<enumeration value="geefTaxUitvoerlijstGemEnDatum"/>
		</restriction>
	</simpleType>
	<simpleType name="FunctieHertaxeerObject">
		<restriction base="StUF:Functie">
			<enumeration value="hertaxeerObject"/>
		</restriction>
	</simpleType>
	<simpleType name="FunctieTaxeerObject">
		<restriction base="StUF:Functie">
			<enumeration value="taxeerObject"/>
		</restriction>
	</simpleType>
</schema>
