brmo-stufwoz312/src/XSD-Resolver/toresolve/woz0312/tiox2/woz0312_verwerkSynchroonVrijBericht_tiox.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:WOZ="http://www.waarderingskamer.nl/StUF/0312" xmlns:StUF="http://www.egem.nl/StUF/StUF0301" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" name="StUF-WOZ0312" targetNamespace="http://www.waarderingskamer.nl/StUF/0312">
	<import namespace="http://www.egem.nl/StUF/StUF0301" location="../../0301/stuf0301_types.wsdl"/>
	<documentation>
		Versie 031200
		Deze wsdl definieert de VerwerkSynchroonVrijBericht webservice van TIOX
		
		Versie 031201:
		- De import van de namespace "http://www.egem.nl/StUF/StUF0301" is verbeterd nav een bugfix in stuf0301
	</documentation>
	<types>
		<xs:schema>
			<xs:import namespace="http://www.waarderingskamer.nl/StUF/0312" schemaLocation="woz0312_msg_tiox.xsd"/>
		</xs:schema>
	</types>
	<message name="geefActueleKengetalSetVerzoek">
		<part name="body" element="WOZ:geefActueleKengetalSetVerzoek"/>
	</message>
	<message name="geefActueleKengetalSetRespons">
		<part name="body" element="WOZ:geefActueleKengetalSetRespons"/>
	</message>
	<message name="geefBeschikbareWaardepeildataVerzoek">
		<part name="body" element="WOZ:geefBeschikbareWaardepeildataVerzoek"/>
	</message>
	<message name="geefBeschikbareWaardepeildataRespons">
		<part name="body" element="WOZ:geefBeschikbareWaardepeildataRespons"/>
	</message>
	<message name="geefGebruikergegevensVerzoek">
		<part name="body" element="WOZ:geefGebruikergegevensVerzoek"/>
	</message>
	<message name="geefGebruikergegevensRespons">
		<part name="body" element="WOZ:geefGebruikergegevensRespons"/>
	</message>
	<message name="geefKengetalSetOpDatumVerzoek">
		<part name="body" element="WOZ:geefKengetalSetOpDatumVerzoek"/>
	</message>
	<message name="geefKengetalSetOpDatumRespons">
		<part name="body" element="WOZ:geefKengetalSetOpDatumRespons"/>
	</message>
	<message name="geefKengetalSetOpIdVerzoek">
		<part name="body" element="WOZ:geefKengetalSetOpIdVerzoek"/>
	</message>
	<message name="geefKengetalSetOpIdRespons">
		<part name="body" element="WOZ:geefKengetalSetOpIdRespons"/>
	</message>
	<message name="geefTaxatieInvoerVerzoek">
		<part name="body" element="WOZ:geefTaxatieInvoerVerzoek"/>
	</message>
	<message name="geefTaxatieInvoerRespons">
		<part name="body" element="WOZ:geefTaxatieInvoerRespons"/>
	</message>
	<message name="geefTaxatieInvoerlijstVerzoek">
		<part name="body" element="WOZ:geefTaxatieInvoerlijstVerzoek"/>
	</message>
	<message name="geefTaxatieInvoerlijstRespons">
		<part name="body" element="WOZ:geefTaxatieInvoerlijstRespons"/>
	</message>
	<message name="geefTaxatieUitvoerVerzoek">
		<part name="body" element="WOZ:geefTaxatieUitvoerVerzoek"/>
	</message>
	<message name="geefTaxatieUitvoerRespons">
		<part name="body" element="WOZ:geefTaxatieUitvoerRespons"/>
	</message>
	<message name="geefTaxatieUitvoerlijstVerzoek">
		<part name="body" element="WOZ:geefTaxatieUitvoerlijstVerzoek"/>
	</message>
	<message name="geefTaxatieUitvoerlijstRespons">
		<part name="body" element="WOZ:geefTaxatieUitvoerlijstRespons"/>
	</message>
	<message name="geefTaxInvoerlijstGemEnDatumVerzoek">
		<part name="body" element="WOZ:geefTaxInvoerlijstGemEnDatumVerzoek"/>
	</message>
	<message name="geefTaxUitvoerlijstGemEnDatumVerzoek">
		<part name="body" element="WOZ:geefTaxUitvoerlijstGemEnDatumVerzoek"/>
	</message>
	<message name="hertaxeerObjectVerzoekSynchroon">
		<part name="body" element="WOZ:hertaxeerObjectVerzoekSynchroon"/>
	</message>
	<message name="hertaxeerObjectResponsSynchroon">
		<part name="body" element="WOZ:hertaxeerObjectResponsSynchroon"/>
	</message>
	<message name="taxeerObjectVerzoekSynchroon">
		<part name="body" element="WOZ:taxeerObjectVerzoekSynchroon"/>
	</message>
	<message name="taxeerObjectResponsSynchroon">
		<part name="body" element="WOZ:taxeerObjectResponsSynchroon"/>
	</message>
	<portType name="VerwerkSynchroonVrijBericht">
		<operation name="geefActueleKengetalSetVerzoek">
			<input message="WOZ:geefActueleKengetalSetVerzoek"/>
			<output message="WOZ:geefActueleKengetalSetRespons"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="geefBeschikbareWaardepeildataVerzoek">
			<input message="WOZ:geefBeschikbareWaardepeildataVerzoek"/>
			<output message="WOZ:geefBeschikbareWaardepeildataRespons"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="geefGebruikergegevensVerzoek">
			<input message="WOZ:geefGebruikergegevensVerzoek"/>
			<output message="WOZ:geefGebruikergegevensRespons"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="geefKengetalSetOpDatumVerzoek">
			<input message="WOZ:geefKengetalSetOpDatumVerzoek"/>
			<output message="WOZ:geefKengetalSetOpDatumRespons"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="geefKengetalSetOpIdVerzoek">
			<input message="WOZ:geefKengetalSetOpIdVerzoek"/>
			<output message="WOZ:geefKengetalSetOpIdRespons"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="geefTaxatieInvoerVerzoek">
			<input message="WOZ:geefTaxatieInvoerVerzoek"/>
			<output message="WOZ:geefTaxatieInvoerRespons"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="geefTaxatieInvoerlijstVerzoek">
			<input message="WOZ:geefTaxatieInvoerlijstVerzoek"/>
			<output message="WOZ:geefTaxatieInvoerlijstRespons"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="geefTaxatieUitvoerVerzoek">
			<input message="WOZ:geefTaxatieUitvoerVerzoek"/>
			<output message="WOZ:geefTaxatieUitvoerRespons"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="geefTaxatieUitvoerlijstVerzoek">
			<input message="WOZ:geefTaxatieUitvoerlijstVerzoek"/>
			<output message="WOZ:geefTaxatieUitvoerlijstRespons"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="geefTaxInvoerlijstGemEnDatumVerzoek">
			<input message="WOZ:geefTaxInvoerlijstGemEnDatumVerzoek"/>
			<output message="WOZ:geefTaxatieInvoerlijstRespons"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="geefTaxUitvoerlijstGemEnDatumVerzoek">
			<input message="WOZ:geefTaxUitvoerlijstGemEnDatumVerzoek"/>
			<output message="WOZ:geefTaxatieUitvoerlijstRespons"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="hertaxeerObjectVerzoek">
			<input message="WOZ:hertaxeerObjectVerzoekSynchroon"/>
			<output message="WOZ:hertaxeerObjectResponsSynchroon"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="taxeerObjectVerzoek">
			<input message="WOZ:taxeerObjectVerzoekSynchroon"/>
			<output message="WOZ:taxeerObjectResponsSynchroon"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
	</portType>
	<binding name="SOAPVerwerkSynchroonVrijBericht" type="WOZ:VerwerkSynchroonVrijBericht">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="geefActueleKengetalSetVerzoek">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/geefActueleKengetalSetVerzoek"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="geefBeschikbareWaardepeildataVerzoek">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/geefBeschikbareWaardepeildataVerzoek"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="geefGebruikergegevensVerzoek">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/geefGebruikergegevensVerzoek"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="geefKengetalSetOpDatumVerzoek">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/geefKengetalSetOpDatumVerzoek"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="geefKengetalSetOpIdVerzoek">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/geefKengetalSetOpIdVerzoek"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="geefTaxatieInvoerVerzoek">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/geefTaxatieInvoerVerzoek"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="geefTaxatieInvoerlijstVerzoek">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/geefTaxatieInvoerlijstVerzoek"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="geefTaxatieUitvoerVerzoek">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/geefTaxatieUitvoerVerzoek"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="geefTaxatieUitvoerlijstVerzoek">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/geefTaxatieUitvoerlijstVerzoek"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="geefTaxInvoerlijstGemEnDatumVerzoek">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/geefTaxInvoerlijstGemEnDatumVerzoek"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="geefTaxUitvoerlijstGemEnDatumVerzoek">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/geefTaxUitvoerlijstGemEnDatumVerzoek"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="hertaxeerObjectVerzoek">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/hertaxeerObjectVerzoek"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="taxeerObjectVerzoek">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/taxeerObjectVerzoek"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="VerwerkSynchroonVrijBericht">
		<documentation>
	Hieronder wordt de concreet aan te roepen service voor het verwerken van synchrone WOZ0312-vrije berichten gedefinieerd. In het attribute location in het element soap:address dient nog de correcte URL te worden ingevuld.
		</documentation>
		<port name="VerwerkSynchroonVrijBericht" binding="WOZ:SOAPVerwerkSynchroonVrijBericht">
			<soap:address location="http://example.com/VerwerkSynchroonVrijBericht"/>
			<documentation>
				<wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
		</port>
	</service>
</definitions>
