brmo-stufwoz312/src/main/webapp/WEB-INF/wsdl/woz0312_msg_stuf_lv_mutatie_resolved.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:StUF="http://www.egem.nl/StUF/StUF0301"
        targetNamespace="http://www.egem.nl/StUF/StUF0301"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        version="031204">
   <annotation>
		    <documentation>
			Dit schema bevat de restricties van StUF-types tbv het doorgeven van mutaties aan de LV WOZ
			
			Wijizigingen vergeleken met versie 031204:
			- ComplexType ZenderNaarLVWOZ toegevoegd met in het element organisatie StUF:OIN als simpleType in plaats StUF:Organisatie
			- In alle XXX-StuurgegevensYYYY complexTypes in het element zender het complexType StUF:Systeem vervangen door StUF:ZenderNaarLVWOZ
		</documentation>
	  </annotation>
   <annotation>
		    <documentation>
			Dit schema bevat de restricties van StUF-types tbv de mutatieberichtcatalogus voor de procesapplicaties in de gemeente
			
			Wijzigingen vergeleken met versie 030102:
			- Het complexType ZenderNaarLVWOZ toegevoegd
		</documentation>
	  </annotation>
   <annotation>
		    <documentation>
			   Nieuw bestand in verband met nieuwe werkwijze maken sectormodellen
			   Het schema met restrictions op de in StUF gedefinieerde simpleTypes en complexTypes gebruikt in de definitie van de basisentiteiten in bg0310.
			
			   Wijzigingen t.b.v. patch 16 (1-7-2013) vergeleken met versie bg0310_stuf_simpleTypes.xsd v031000:
			   - ERR267: Voor elke entiteit een simpleType toegevoegd in de vorm 'EntiteittypeXXX' waarbij 'XXX' staat voor de mnemonic van de betreffende entiteit, bijv. 'EntiteittypeAOA'.
 
			   Wijzigingen t.b.v. patch 21 (1-4-2015) vergeleken met versie 031001 zijn de volgende wijzigingen doorgevoerd:			
			   - ERR0353: Het schema is voorzien van de afgesproken structuur in 'appinfo'
			
        </documentation>
		    <appinfo>
			      <StUF:onderdeel>http://www.egem.nl/StUF/sector/bg/0310</StUF:onderdeel>
			      <StUF:patch>28</StUF:patch>
			      <StUF:patchdatum>20180401</StUF:patchdatum>
			      <StUF:schemaversie>2</StUF:schemaversie>
		    </appinfo>
	  </annotation>
   <annotation>
		    <documentation xml:lang="nl">
               Dit schema  correspondeert met StUF 03.01 (In gebruik) per 1 juli 2011.
               
               Wijzigingen vergeleken met versie 030107:
               - ERR0184: Het attribute functie en het simpleType FunctieVrijBerichtElement toegevoegd.
               
			   Wijzigingen t.b.v. patch 16 (1-7-2013) vergeleken met versie stuf0301.xsd v030108:
			   - ERR240: 'aantalVoorkomens' en 'aardAantal' zijn als attributen deprecated.
               - ERR267: Voor elk type bericht een simpleType toegevoegd in de vorm 'BerichtcodeXxnn' waarbij 'Xxnn' staat voor het betreffende bericht, bijv. 'BerichtcodeLk02'.
							   Voor elke mutatiesoort een simpleType toegevoegd in de vorm 'MutatiesoortX' waarbij 'X' staat voor de betreffende mutatiesoort, bijv. 'MutatiesoortF'.

			   Wijzigingen t.b.v. patch 20 (30-6-2014) vergeleken met versie stuf0301.xsd v030109:
			   - ERR242, ERR248, ERR249, ERR265: Het attribute 'StUF:sleutelSynchronisatie' is gedefinieerd en opgenomen in de attributeGroup 'entiteit'.
 
			   Wijzigingen t.b.v. patch 21 (1-4-2015) vergeleken met versie 030110 zijn de volgende wijzigingen doorgevoerd:			
			   - ERR289: Het complexType 'Datum-r' is vanuit het schema 'zkn0310_msg_stuf_zs-dms.xsd' verplaatst naar dit schema.
			     Daarnaast is ook 'Tijdstip-r' in dit schema geplaatst zodat het ook hergebruikt kan worden in meerdere koppelvlakken.
			   - ERR0353: Het schema is voorzien van de afgesproken structuur in 'appinfo'
 
			   Wijzigingen t.b.v. patch 22 (1-7-2015) vergeleken met versie 030111 zijn de volgende wijzigingen doorgevoerd:			
			   - ERR0395: De regels &lt;element name="aanvullendeElementen" type="anyType"/&gt; en &lt;attribute name="schemaLocation" type="string"/&gt; zijn 
			     toegevoegd aan het schema.
 
			   Wijzigingen t.b.v. patch 26 (1-4-2017) vergeleken met versie 030112 zijn de volgende wijzigingen doorgevoerd:			
			   - ERR0452: I.p.v. een choice met daarin een element 'bericht' bevat het 'StUF-berichtenSet' element nu een complexType met een sequence van een 
			     unbounded any element met een 'lax' processContents.
			   - ERR0459: I.p.v. een element met een any content bevat het 'aanvullendeElementen' element nu een complexType met een sequence van een of meerdere
			     any elements met een 'lax' processContents.
			
        </documentation>
		    <appinfo>
			      <StUF:onderdeel>http://www.egem.nl/StUF/StUF0301</StUF:onderdeel>
			      <StUF:patch>28</StUF:patch>
			      <StUF:patchdatum>20170401</StUF:patchdatum>
			      <StUF:schemaversie>13</StUF:schemaversie>
		    </appinfo>
	  </annotation>
   <annotation>
		    <documentation>
			Dit schema bevat de restricties van StUF-types tbv het sectormodel WOZ.
			
			Wijzigingen tov versie 031204:
			- Het SimpleType OIN toegevoegd met als pattern [0-9]{20}
		</documentation>
	  </annotation>
   <complexType name="Stuurgegevens-BSKMB">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					    <element name="zender" type="StUF:ZenderNaarLVWOZ"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="functie" type="StUF:FunctieWOZ-BSKMB"/>
				  </sequence>
		
	  </complexType>
   <complexType name="Stuurgegevens-BSWO">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					    <element name="zender" type="StUF:ZenderNaarLVWOZ"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="functie" type="StUF:FunctieWOZ-BSWO"/>
				  </sequence>
		
	  </complexType>
   <complexType name="Stuurgegevens-BWOZ">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					    <element name="zender" type="StUF:ZenderNaarLVWOZ"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="functie" type="StUF:FunctieWOZ-BWOZ"/>
				  </sequence>
		
	  </complexType>
   <complexType name="Stuurgegevens-IBB">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					    <element name="zender" type="StUF:ZenderNaarLVWOZ"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="functie" type="StUF:FunctieWOZ-IBB"/>
				  </sequence>
		
	  </complexType>
   <complexType name="Stuurgegevens-MBAG">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					    <element name="zender" type="StUF:ZenderNaarLVWOZ"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="functie" type="StUF:FunctieWOZ-MBAG"/>
				  </sequence>
		
	  </complexType>
   <complexType name="Stuurgegevens-MBE">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					    <element name="zender" type="StUF:ZenderNaarLVWOZ"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="functie" type="StUF:FunctieWOZ-MBE"/>
				  </sequence>
		
	  </complexType>
   <complexType name="Stuurgegevens-MBG">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					    <element name="zender" type="StUF:ZenderNaarLVWOZ"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="functie" type="StUF:FunctieWOZ-MBG"/>
				  </sequence>
		
	  </complexType>
   <complexType name="Stuurgegevens-MEL">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					    <element name="zender" type="StUF:ZenderNaarLVWOZ"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="functie" type="StUF:FunctieWOZ-MEL"/>
				  </sequence>
		
	  </complexType>
   <complexType name="Stuurgegevens-MHEF">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					    <element name="zender" type="StUF:ZenderNaarLVWOZ"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="functie" type="StUF:FunctieWOZ-MHEF"/>
				  </sequence>
		
	  </complexType>
   <complexType name="Stuurgegevens-MKEN">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					    <element name="zender" type="StUF:ZenderNaarLVWOZ"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="functie" type="StUF:FunctieWOZ-MKEN"/>
				  </sequence>
		
	  </complexType>
   <complexType name="Stuurgegevens-MKOZ">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					    <element name="zender" type="StUF:ZenderNaarLVWOZ"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="functie" type="StUF:FunctieWOZ-MKOZ"/>
				  </sequence>
		
	  </complexType>
   <complexType name="Stuurgegevens-MSUB">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					    <element name="zender" type="StUF:ZenderNaarLVWOZ"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="functie" type="StUF:FunctieWOZ-MSUB"/>
				  </sequence>
		
	  </complexType>
   <complexType name="Stuurgegevens-NBSK">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					    <element name="zender" type="StUF:ZenderNaarLVWOZ"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="functie" type="StUF:FunctieWOZ-NBSK"/>
				  </sequence>
		
	  </complexType>
   <complexType name="Stuurgegevens-OSWO">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					    <element name="zender" type="StUF:ZenderNaarLVWOZ"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="functie" type="StUF:FunctieWOZ-OSWO"/>
				  </sequence>
		
	  </complexType>
   <complexType name="Stuurgegevens-OWOZ">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					    <element name="zender" type="StUF:ZenderNaarLVWOZ"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="functie" type="StUF:FunctieWOZ-OWOZ"/>
				  </sequence>
		
	  </complexType>
   <complexType name="Stuurgegevens-UBB">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					    <element name="zender" type="StUF:ZenderNaarLVWOZ"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="functie" type="StUF:FunctieWOZ-UBB"/>
				  </sequence>
		
	  </complexType>
   <complexType name="Stuurgegevens-VBSK">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					    <element name="zender" type="StUF:ZenderNaarLVWOZ"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="functie" type="StUF:FunctieWOZ-VBSK"/>
				  </sequence>
		
	  </complexType>
   <complexType name="Stuurgegevens-WASWO">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					    <element name="zender" type="StUF:ZenderNaarLVWOZ"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="functie" type="StUF:FunctieWOZ-WASWO"/>
				  </sequence>
		
	  </complexType>
   <complexType name="Stuurgegevens-WAWOZ">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					    <element name="zender" type="StUF:ZenderNaarLVWOZ"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="functie" type="StUF:FunctieWOZ-WAWOZ"/>
				  </sequence>
		
	  </complexType>
   <complexType name="Stuurgegevens-WGEM_hangObjectOm">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					    <element name="zender" type="StUF:ZenderNaarLVWOZ"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="functie" type="StUF:FunctieWOZ-WGEM_hangObjectOm"/>
				  </sequence>
		
	  </complexType>
   <complexType name="Stuurgegevens-WGEM_hangSubjectOm">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					    <element name="zender" type="StUF:ZenderNaarLVWOZ"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="functie" type="StUF:FunctieWOZ-WGEM_hangSubjectOm"/>
				  </sequence>
		
	  </complexType>
   <complexType name="Stuurgegevens-WGEM_meldSubjectAf">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					    <element name="zender" type="StUF:ZenderNaarLVWOZ"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="functie" type="StUF:FunctieWOZ-WGEM_meldSubjectAf"/>
				  </sequence>
		
	  </complexType>
   <complexType name="Stuurgegevens-WGEM_voegSubjectToe">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					    <element name="zender" type="StUF:ZenderNaarLVWOZ"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="functie" type="StUF:FunctieWOZ-WGEM_voegSubjectToe"/>
				  </sequence>
		
	  </complexType>
   <complexType name="Stuurgegevens-WWSP">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					    <element name="zender" type="StUF:ZenderNaarLVWOZ"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="functie" type="StUF:FunctieWOZ-WWSP"/>
				  </sequence>
		
	  </complexType>
   <simpleType name="FunctieWOZ-BSKMB">
		    <restriction base="StUF:Functie">
			      <enumeration value="WOZ-BSKMB"/>
		    </restriction>
	  </simpleType>
   <simpleType name="FunctieWOZ-BSWO">
		    <restriction base="StUF:Functie">
			      <enumeration value="WOZ-BSWO"/>
		    </restriction>
	  </simpleType>
   <simpleType name="FunctieWOZ-BWOZ">
		    <restriction base="StUF:Functie">
			      <enumeration value="WOZ-BWOZ"/>
		    </restriction>
	  </simpleType>
   <simpleType name="FunctieWOZ-IBB">
		    <restriction base="StUF:Functie">
			      <enumeration value="WOZ-IBB"/>
		    </restriction>
	  </simpleType>
   <simpleType name="FunctieWOZ-MBAG">
		    <restriction base="StUF:Functie">
			      <enumeration value="WOZ-MBAG"/>
		    </restriction>
	  </simpleType>
   <simpleType name="FunctieWOZ-MBE">
		    <restriction base="StUF:Functie">
			      <enumeration value="WOZ-MBE"/>
		    </restriction>
	  </simpleType>
   <simpleType name="FunctieWOZ-MBG">
		    <restriction base="StUF:Functie">
			      <enumeration value="WOZ-MBG"/>
		    </restriction>
	  </simpleType>
   <simpleType name="FunctieWOZ-MEL">
		    <restriction base="StUF:Functie">
			      <enumeration value="WOZ-MEL"/>
		    </restriction>
	  </simpleType>
   <simpleType name="FunctieWOZ-MHEF">
		    <restriction base="StUF:Functie">
			      <enumeration value="WOZ-MHEF"/>
		    </restriction>
	  </simpleType>
   <simpleType name="FunctieWOZ-MKEN">
		    <restriction base="StUF:Functie">
			      <enumeration value="WOZ-MKEN"/>
		    </restriction>
	  </simpleType>
   <simpleType name="FunctieWOZ-MKOZ">
		    <restriction base="StUF:Functie">
			      <enumeration value="WOZ-MKOZ"/>
		    </restriction>
	  </simpleType>
   <simpleType name="FunctieWOZ-MSUB">
		    <restriction base="StUF:Functie">
			      <enumeration value="WOZ-MSUB"/>
		    </restriction>
	  </simpleType>
   <simpleType name="FunctieWOZ-NBSK">
		    <restriction base="StUF:Functie">
			      <enumeration value="WOZ-NBSK"/>
		    </restriction>
	  </simpleType>
   <simpleType name="FunctieWOZ-OSWO">
		    <restriction base="StUF:Functie">
			      <enumeration value="WOZ-OSWO"/>
		    </restriction>
	  </simpleType>
   <simpleType name="FunctieWOZ-OWOZ">
		    <restriction base="StUF:Functie">
			      <enumeration value="WOZ-OWOZ"/>
		    </restriction>
	  </simpleType>
   <simpleType name="FunctieWOZ-UBB">
		    <restriction base="StUF:Functie">
			      <enumeration value="WOZ-UBB"/>
		    </restriction>
	  </simpleType>
   <simpleType name="FunctieWOZ-VBSK">
		    <restriction base="StUF:Functie">
			      <enumeration value="WOZ-VBSK"/>
		    </restriction>
	  </simpleType>
   <simpleType name="FunctieWOZ-WASWO">
		    <restriction base="StUF:Functie">
			      <enumeration value="WOZ-WASWO"/>
		    </restriction>
	  </simpleType>
   <simpleType name="FunctieWOZ-WAWOZ">
		    <restriction base="StUF:Functie">
			      <enumeration value="WOZ-WAWOZ"/>
		    </restriction>
	  </simpleType>
   <simpleType name="FunctieWOZ-WGEM_hangObjectOm">
		    <restriction base="StUF:Functie">
			      <enumeration value="WOZ-WGEM_hangObjectOm"/>
		    </restriction>
	  </simpleType>
   <simpleType name="FunctieWOZ-WGEM_hangSubjectOm">
		    <restriction base="StUF:Functie">
			      <enumeration value="WOZ-WGEM_hangSubjectOm"/>
		    </restriction>
	  </simpleType>
   <simpleType name="FunctieWOZ-WGEM_meldSubjectAf">
		    <restriction base="StUF:Functie">
			      <enumeration value="WOZ-WGEM_meldSubjectAf"/>
		    </restriction>
	  </simpleType>
   <simpleType name="FunctieWOZ-WGEM_voegSubjectToe">
		    <restriction base="StUF:Functie">
			      <enumeration value="WOZ-WGEM_voegSubjectToe"/>
		    </restriction>
	  </simpleType>
   <simpleType name="FunctieWOZ-WWSP">
		    <restriction base="StUF:Functie">
			      <enumeration value="WOZ-WWSP"/>
		    </restriction>
	  </simpleType>
   <complexType name="ZenderNaarLVWOZ">
		
			   <sequence>
					    <element name="organisatie" type="StUF:OIN"/>
					    <element name="applicatie" type="StUF:Applicatie"/>
					    <element name="administratie" type="StUF:Administratie" minOccurs="0"/>
					    <element name="gebruiker" type="StUF:Gebruiker" minOccurs="0"/>
				  </sequence>
		
	  </complexType>
   <complexType name="NNP-StuurgegevensLk01">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeLk01"/>
					    <element name="zender" type="StUF:Systeem"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="entiteittype" type="StUF:EntiteittypeNNP"/>
				  </sequence>
		
	  </complexType>
   <complexType name="NNP-StuurgegevensSa01">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeSa01"/>
					    <element name="zender" type="StUF:Systeem"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					    <element name="entiteittype" type="StUF:EntiteittypeNNP"/>
				  </sequence>
		
	  </complexType>
   <complexType name="NNP-StuurgegevensSa03">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeSa03"/>
					    <element name="zender" type="StUF:Systeem"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="entiteittype" type="StUF:EntiteittypeNNP"/>
				  </sequence>
		
	  </complexType>
   <complexType name="NPS-StuurgegevensLk01">
	
		    <sequence>
				     <element name="berichtcode" type="StUF:BerichtcodeLk01"/>
				     <element name="zender" type="StUF:Systeem"/>
				     <element name="ontvanger" type="StUF:Systeem"/>
				     <element name="referentienummer" type="StUF:Refnummer"/>
				     <element name="tijdstipBericht" type="StUF:Tijdstip"/>
				     <element name="entiteittype" type="StUF:EntiteittypeNPS"/>
			   </sequence>
	
   </complexType>
   <complexType name="NPS-StuurgegevensSa01">
	
		    <sequence>
				     <element name="berichtcode" type="StUF:BerichtcodeSa01"/>
				     <element name="zender" type="StUF:Systeem"/>
				     <element name="ontvanger" type="StUF:Systeem"/>
				     <element name="referentienummer" type="StUF:Refnummer"/>
				     <element name="tijdstipBericht" type="StUF:Tijdstip"/>
				     <element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
				     <element name="entiteittype" type="StUF:EntiteittypeNPS"/>
			   </sequence>
	
   </complexType>
   <complexType name="NPS-StuurgegevensSa03">
	
		    <sequence>
				     <element name="berichtcode" type="StUF:BerichtcodeSa03"/>
				     <element name="zender" type="StUF:Systeem"/>
				     <element name="ontvanger" type="StUF:Systeem"/>
				     <element name="referentienummer" type="StUF:Refnummer"/>
				     <element name="tijdstipBericht" type="StUF:Tijdstip"/>
				     <element name="entiteittype" type="StUF:EntiteittypeNPS"/>
			   </sequence>
	
   </complexType>
   <complexType name="SWO-StuurgegevensLk01">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeLk01"/>
					    <element name="zender" type="StUF:Systeem"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="entiteittype" type="StUF:EntiteittypeSWO"/>
				  </sequence>
		
	  </complexType>
   <complexType name="SWO-StuurgegevensSa01">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeSa01"/>
					    <element name="zender" type="StUF:Systeem"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					    <element name="entiteittype" type="StUF:EntiteittypeSWO"/>
				  </sequence>
		
	  </complexType>
   <complexType name="SWO-StuurgegevensSa03">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeSa03"/>
					    <element name="zender" type="StUF:Systeem"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="entiteittype" type="StUF:EntiteittypeSWO"/>
				  </sequence>
		
	  </complexType>
   <complexType name="SWO-StuurgegevensSh01">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeSh01"/>
					    <element name="zender" type="StUF:Systeem"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					    <element name="entiteittype" type="StUF:EntiteittypeSWO"/>
				  </sequence>
		
	  </complexType>
   <complexType name="SWO-StuurgegevensSh03">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeSh03"/>
					    <element name="zender" type="StUF:Systeem"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="entiteittype" type="StUF:EntiteittypeSWO"/>
				  </sequence>
		
	  </complexType>
   <complexType name="VES-StuurgegevensLk01">
	
		    <sequence>
				     <element name="berichtcode" type="StUF:BerichtcodeLk01"/>
				     <element name="zender" type="StUF:Systeem"/>
				     <element name="ontvanger" type="StUF:Systeem"/>
				     <element name="referentienummer" type="StUF:Refnummer"/>
				     <element name="tijdstipBericht" type="StUF:Tijdstip"/>
				     <element name="entiteittype" type="StUF:EntiteittypeVES"/>
			   </sequence>
	
   </complexType>
   <complexType name="VES-StuurgegevensSa01">
	
		    <sequence>
				     <element name="berichtcode" type="StUF:BerichtcodeSa01"/>
				     <element name="zender" type="StUF:Systeem"/>
				     <element name="ontvanger" type="StUF:Systeem"/>
				     <element name="referentienummer" type="StUF:Refnummer"/>
				     <element name="tijdstipBericht" type="StUF:Tijdstip"/>
				     <element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
				     <element name="entiteittype" type="StUF:EntiteittypeVES"/>
			   </sequence>
	
   </complexType>
   <complexType name="VES-StuurgegevensSa03">
	
		    <sequence>
				     <element name="berichtcode" type="StUF:BerichtcodeSa03"/>
				     <element name="zender" type="StUF:Systeem"/>
				     <element name="ontvanger" type="StUF:Systeem"/>
				     <element name="referentienummer" type="StUF:Refnummer"/>
				     <element name="tijdstipBericht" type="StUF:Tijdstip"/>
				     <element name="entiteittype" type="StUF:EntiteittypeVES"/>
			   </sequence>
	
   </complexType>
   <complexType name="WOZ-StuurgegevensLk01">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeLk01"/>
					    <element name="zender" type="StUF:Systeem"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="entiteittype" type="StUF:EntiteittypeWOZ"/>
				  </sequence>
		
	  </complexType>
   <complexType name="WOZ-StuurgegevensSa01">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeSa01"/>
					    <element name="zender" type="StUF:Systeem"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					    <element name="entiteittype" type="StUF:EntiteittypeWOZ"/>
				  </sequence>
		
	  </complexType>
   <complexType name="WOZ-StuurgegevensSa03">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeSa03"/>
					    <element name="zender" type="StUF:Systeem"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="entiteittype" type="StUF:EntiteittypeWOZ"/>
				  </sequence>
		
	  </complexType>
   <complexType name="WOZ-StuurgegevensSh01">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeSh01"/>
					    <element name="zender" type="StUF:Systeem"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					    <element name="entiteittype" type="StUF:EntiteittypeWOZ"/>
				  </sequence>
		
	  </complexType>
   <complexType name="WOZ-StuurgegevensSh03">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeSh03"/>
					    <element name="zender" type="StUF:Systeem"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="entiteittype" type="StUF:EntiteittypeWOZ"/>
				  </sequence>
		
	  </complexType>
   <complexType name="WRD-StuurgegevensLk01">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeLk01"/>
					    <element name="zender" type="StUF:Systeem"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="entiteittype" type="StUF:EntiteittypeWRD"/>
				  </sequence>
		
	  </complexType>
   <complexType name="WRD-StuurgegevensSa01">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeSa01"/>
					    <element name="zender" type="StUF:Systeem"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					    <element name="entiteittype" type="StUF:EntiteittypeWRD"/>
				  </sequence>
		
	  </complexType>
   <complexType name="WRD-StuurgegevensSa03">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeSa03"/>
					    <element name="zender" type="StUF:Systeem"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="entiteittype" type="StUF:EntiteittypeWRD"/>
				  </sequence>
		
	  </complexType>
   <complexType name="WRD-StuurgegevensSh01">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeSh01"/>
					    <element name="zender" type="StUF:Systeem"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					    <element name="entiteittype" type="StUF:EntiteittypeWRD"/>
				  </sequence>
		
	  </complexType>
   <complexType name="WRD-StuurgegevensSh03">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeSh03"/>
					    <element name="zender" type="StUF:Systeem"/>
					    <element name="ontvanger" type="StUF:Systeem"/>
					    <element name="referentienummer" type="StUF:Refnummer"/>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="entiteittype" type="StUF:EntiteittypeWRD"/>
				  </sequence>
		
	  </complexType>
   <simpleType name="EntiteittypeNNP">
		    <annotation>
			      <documentation>Entiteittype = NNP</documentation>
		    </annotation>
		    <restriction base="StUF:Entiteittype">
			      <enumeration value="NNP"/>
		    </restriction>
	  </simpleType>
   <simpleType name="EntiteittypeNPS">
		    <annotation>
			      <documentation>Entiteittype = NPS</documentation>
		    </annotation>
		    <restriction base="StUF:Entiteittype">
			      <enumeration value="NPS"/>
		    </restriction>
	  </simpleType>
   <simpleType name="EntiteittypeVES">
		    <annotation>
			      <documentation>Entiteittype = VES</documentation>
		    </annotation>
		    <restriction base="StUF:Entiteittype">
			      <enumeration value="VES"/>
		    </restriction>
	  </simpleType>
   <simpleType name="EntiteittypeWOZ">
		    <annotation>
			      <documentation>Entiteittype = WOZ</documentation>
		    </annotation>
		    <restriction base="StUF:Entiteittype">
			      <enumeration value="WOZ"/>
		    </restriction>
	  </simpleType>
   <simpleType name="EntiteittypeWRD">
		    <annotation>
			      <documentation>Entiteittype = WRD</documentation>
		    </annotation>
		    <restriction base="StUF:Entiteittype">
			      <enumeration value="WRD"/>
		    </restriction>
	  </simpleType>
   <simpleType name="InOnderzoekWOZGroep">
		    <restriction base="StUF:Groepsnaam">
			      <enumeration value="aanduidingWOZobject"/>
		    </restriction>
	  </simpleType>
   <element name="Fo01Bericht">
		    <complexType>
			      <sequence>
				        <element name="stuurgegevens">
					          <complexType>
						
							           <sequence>
									            <element name="berichtcode" type="StUF:Berichtcode" fixed="Fo01"/>
									            <element name="zender" type="StUF:Systeem"/>
									            <element name="ontvanger" type="StUF:Systeem"/>
									            <element name="referentienummer" type="StUF:Refnummer"/>
									            <element name="tijdstipBericht" type="StUF:Tijdstip"/>
									            <element name="crossRefnummer" type="StUF:Refnummer"/>
								          </sequence>
						
					          </complexType>
				        </element>
				        <element name="body" type="StUF:Foutbericht"/>
			      </sequence>
		    </complexType>
	  </element>
   <element name="Fo02Bericht">
		    <complexType>
			      <sequence>
				        <element name="stuurgegevens">
					          <complexType>
						
							           <sequence>
									            <element name="berichtcode" type="StUF:Berichtcode" fixed="Fo02"/>
								          </sequence>
						
					          </complexType>
				        </element>
				        <element name="body" type="StUF:Foutbericht"/>
			      </sequence>
		    </complexType>
	  </element>
   <element name="Fo03Bericht">
		    <complexType>
			      <sequence>
				        <element name="stuurgegevens">
					          <complexType>
						
							           <sequence>
									            <element name="berichtcode" type="StUF:Berichtcode" fixed="Fo03"/>
									            <element name="zender" type="StUF:Systeem"/>
									            <element name="ontvanger" type="StUF:Systeem"/>
									            <element name="referentienummer" type="StUF:Refnummer"/>
									            <element name="tijdstipBericht" type="StUF:Tijdstip"/>
									            <element name="crossRefnummer" type="StUF:Refnummer"/>
								          </sequence>
						
					          </complexType>
				        </element>
				        <element name="body" type="StUF:Foutbericht"/>
			      </sequence>
		    </complexType>
	  </element>
   <element name="Bv01Bericht">
		    <complexType>
			      <sequence>
				        <element name="stuurgegevens">
					          <complexType>
						
							           <sequence>
									            <element name="berichtcode" type="StUF:Berichtcode" fixed="Bv01"/>
									            <element name="zender" type="StUF:Systeem"/>
									            <element name="ontvanger" type="StUF:Systeem"/>
									            <element name="referentienummer" type="StUF:Refnummer"/>
									            <element name="tijdstipBericht" type="StUF:Tijdstip"/>
									            <element name="crossRefnummer" type="StUF:Refnummer"/>
								          </sequence>
						
					          </complexType>
				        </element>
				        <element name="melding"
                     type="StUF:Melding"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
			      </sequence>
		    </complexType>
	  </element>
   <element name="Bv02Bericht">
		    <complexType>
			      <sequence>
				        <element name="stuurgegevens">
					          <complexType>
						
							           <sequence>
									            <element name="berichtcode" type="StUF:Berichtcode" fixed="Bv02"/>
								          </sequence>
						
					          </complexType>
				        </element>
				        <element name="melding"
                     type="StUF:Melding"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
			      </sequence>
		    </complexType>
	  </element>
   <element name="Bv03Bericht">
		    <complexType>
			      <sequence>
				        <element name="stuurgegevens">
					          <complexType>
						
							           <sequence>
									            <element name="berichtcode" type="StUF:Berichtcode" fixed="Bv03"/>
									            <element name="zender" type="StUF:Systeem"/>
									            <element name="ontvanger" type="StUF:Systeem"/>
									            <element name="referentienummer" type="StUF:Refnummer"/>
									            <element name="tijdstipBericht" type="StUF:Tijdstip"/>
									            <element name="crossRefnummer" type="StUF:Refnummer"/>
								          </sequence>
						
					          </complexType>
				        </element>
			      </sequence>
		    </complexType>
	  </element>
   <element name="Bv04Bericht">
		    <complexType>
			      <sequence>
				        <element name="stuurgegevens">
					          <complexType>
						
							           <sequence>
									            <element name="berichtcode" type="StUF:Berichtcode" fixed="Bv04"/>
									            <element name="zender" type="StUF:Systeem"/>
									            <element name="ontvanger" type="StUF:Systeem"/>
									            <element name="referentienummer" type="StUF:Refnummer"/>
									            <element name="tijdstipBericht" type="StUF:Tijdstip"/>
									            <element name="crossRefnummer" type="StUF:Refnummer"/>
								          </sequence>
						
					          </complexType>
				        </element>
			      </sequence>
		    </complexType>
	  </element>
   <element name="Tr01Bericht">
		    <complexType>
			      <sequence>
				        <element name="stuurgegevens">
					          <complexType>
						
							           <sequence>
									            <element name="berichtcode" type="StUF:Berichtcode" fixed="Tr01"/>
									            <element name="zender" type="StUF:Systeem"/>
									            <element name="ontvanger" type="StUF:Systeem"/>
									            <element name="referentienummer" type="StUF:Refnummer"/>
									            <element name="tijdstipBericht" type="StUF:Tijdstip"/>
								          </sequence>
						
					          </complexType>
				        </element>
			      </sequence>
		    </complexType>
	  </element>
   <element name="tijdstipRegistratie" type="StUF:Tijdstip-e" nillable="true"/>
   <element name="tijdvakGeldigheid" type="StUF:TijdvakGeldigheid"/>
   <element name="tijdvakRelatie" type="StUF:TijdvakRelatie"/>
   <complexType name="ParametersLk01TInSx01">
		
			   <sequence>
					    <element name="mutatiesoort" type="StUF:Mutatiesoort" fixed="T"/>
					    <element name="indicatorOvername" type="StUF:IndicatorOvername" fixed="V"/>
				  </sequence>
		
	  </complexType>
   <complexType name="ParametersLk01WInSx01">
		
			   <sequence>
					    <element name="mutatiesoort" type="StUF:MutatiesoortWijzigingInSynchronisatie"/>
					    <element name="indicatorOvername" type="StUF:IndicatorOvername" fixed="V"/>
				  </sequence>
		
	  </complexType>
   <attributeGroup name="element">
		    <attribute ref="StUF:noValue"/>
		    <attribute ref="StUF:exact"/>
	  </attributeGroup>
   <attribute name="entiteittype" type="StUF:Entiteittype"/>
   <attribute name="exact" type="boolean" default="true"/>
   <attribute name="functie" type="StUF:FunctieVrijBerichtElement"/>
   <attribute name="indOnvolledigeDatum"
              type="StUF:IndOnvolledigeDatum"
              default="V"/>
   <attribute name="metagegeven" type="boolean" fixed="true"/>
   <attribute name="noValue" type="StUF:NoValue"/>
   <attribute name="sleutelVerzendend" type="StUF:Sleutel"/>
   <attribute name="sleutelOntvangend" type="StUF:Sleutel"/>
   <attribute name="sleutelGegevensbeheer" type="StUF:Sleutel"/>
   <attribute name="sleutelSynchronisatie" type="StUF:Sleutel"/>
   <attribute name="verwerkingssoort" type="StUF:Verwerkingssoort"/>
   <complexType name="Datum-e">
		    <simpleContent>
			      <restriction base="StUF:DatumMetIndicator">
				        <attribute ref="StUF:noValue"/>
				        <attribute ref="StUF:exact"/>
			      </restriction>
		    </simpleContent>
	  </complexType>
   <complexType name="DatumMetIndicator">
		    <simpleContent>
			      <extension base="StUF:Datum">
				        <attributeGroup ref="StUF:element"/>
				        <attribute ref="StUF:indOnvolledigeDatum"/>
			      </extension>
		    </simpleContent>
	  </complexType>
   <complexType name="Datum-r">
		    <simpleContent>
			      <restriction base="StUF:Datum-e">
				        <attribute ref="StUF:noValue" use="prohibited"/>
				        <attribute ref="StUF:exact"/>
			      </restriction>
		    </simpleContent>
	  </complexType>
   <complexType name="Foutbericht">
		    <sequence>
			      <element name="code" type="StUF:Foutcode"/>
			      <element name="plek" type="StUF:Foutplek"/>
			      <element name="omschrijving" type="StUF:Foutomschrijving"/>
			      <element name="details" type="StUF:Foutdetails" minOccurs="0"/>
			      <element name="detailsXML" type="StUF:FoutdetailsXML" minOccurs="0"/>
		    </sequence>
	  </complexType>
   <complexType name="FoutdetailsXML">
		    <sequence>
			      <any namespace="##any"
              processContents="skip"
              minOccurs="0"
              maxOccurs="unbounded"/>
		    </sequence>
	  </complexType>
   <complexType name="StatusMetagegevenNoValue">
		    <simpleContent>
			      <extension base="StUF:StatusMetagegeven">
            <attribute ref="StUF:metagegeven" use="required"/>
            <attribute ref="StUF:noValue"/>
         </extension>
		    </simpleContent>
	  </complexType>
   <complexType name="Systeem">
		    <sequence>
			      <element name="organisatie" type="StUF:Organisatie" minOccurs="0"/>
			      <element name="applicatie" type="StUF:Applicatie"/>
			      <element name="administratie" type="StUF:Administratie" minOccurs="0"/>
			      <element name="gebruiker" type="StUF:Gebruiker" minOccurs="0"/>
		    </sequence>
	  </complexType>
   <complexType name="Tijdstip-e">
		    <simpleContent>
			      <extension base="StUF:Tijdstip">
				        <attributeGroup ref="StUF:element"/>
			      </extension>
		    </simpleContent>
	  </complexType>
   <complexType name="TijdstipMetIndicator">
		    <simpleContent>
			      <extension base="StUF:Tijdstip-e">
				        <attribute ref="StUF:indOnvolledigeDatum"/>
			      </extension>
		    </simpleContent>
	  </complexType>
   <complexType name="TijdvakGeldigheid">
		    <sequence>
			      <element name="beginGeldigheid"
                  type="StUF:TijdstipMetIndicator"
                  nillable="true"/>
			      <element name="eindGeldigheid"
                  type="StUF:TijdstipMetIndicator"
                  nillable="true"/>
		    </sequence>
	  </complexType>
   <complexType name="TijdvakRelatie">
		    <sequence>
			      <element name="beginRelatie"
                  type="StUF:TijdstipMetIndicator"
                  nillable="true"/>
			      <element name="eindRelatie"
                  type="StUF:TijdstipMetIndicator"
                  nillable="true"
                  minOccurs="0"/>
		    </sequence>
	  </complexType>
   <simpleType name="Administratie">
		    <restriction base="string">
			      <maxLength value="50"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Applicatie">
		    <restriction base="string">
			      <minLength value="3"/>
			      <maxLength value="50"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Berichtcode">
		    <restriction base="string">
			      <enumeration value="Bv01">
				        <annotation>
					          <documentation>
						Bevestigingsbericht dat als functionele respons kan worden verstuurd op een asynchroon bericht
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Bv02">
				        <annotation>
					          <documentation>
						Bevestigingsbericht dat als functionele respons kan worden verstuurd op een synchroon bericht
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Bv03">
				        <annotation>
					          <documentation>
						Bevestigingsbericht dat als synchrone respons wordt verstuurd op een asynchroon bericht, indien het ontvangende systeem het bericht op basis van de berichtstuurgegevens heeft gecheckt op verwerkbaarheid
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Bv04">
				        <annotation>
					          <documentation>
						Bevestigingsbericht dat als respons wordt verstuurd op een asynchroon bericht, dat slechts de aflevering naar de uiteindelijke ontvanger kan garanderen, maar de verwerking niet heeft gecheckt op basis van de berichtstuurgegevens
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Di01">
				        <annotation>
					          <documentation>
						Asynchroon vrij bericht dat geen respons is op een eerder verzonden vrij bericht. Het kan bijvoorbeeld gaan om een notificatie of het verzoek deel van een aysnchroon verzoek/respons patroon. De 'i' in Di01 staat daarom voor inkomend.
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Di02">
				        <annotation>
					          <documentation>
						Synchroon vrij bericht waarop een respons wordt verwacht.
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Du01">
				        <annotation>
					          <documentation>
						Asynchroon vrij bericht dat een respons is op een eerder verzonden vrij bericht met berichtsoort Di01.
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Du02">
				        <annotation>
					          <documentation>
						Synchrone respons op een inkomend vrij bericht met berichtsoort Di02
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Fo01">
				        <annotation>
					          <documentation>
						Foutbericht dat als functionele respons kan worden verstuurd op een asynchroon bericht
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Fo02">
				        <annotation>
					          <documentation>
						Foutbericht dat als functionele respons kan worden verstuurd op een synchroon bericht
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Fo03">
				        <annotation>
					          <documentation>
						Foutbericht dat als synchrone respons wordt verstuurd op een asynchroon bericht
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La01">
				        <annotation>
					          <documentation>
						Antwoordbericht met actuele gegevens als respons op een synchroon vraagbericht (Lv01)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La02">
				        <annotation>
					          <documentation>
						Asynchroon antwoordbericht met actuele gegevens als respons op een asynchroon vraagbericht (Lv02)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La03">
				        <annotation>
					          <documentation>
						Synchroon antwoordbericht met huidige gegevens op peiltijdstipMaterieel als respons op een synchroon vraagbericht (Lv03)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La04">
				        <annotation>
					          <documentation>
						Asynchroon antwoordbericht met huidige gegevens op peiltijdstipMaterieel als respons op een asynchroon vraagbericht (Lv03)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La05">
				        <annotation>
					          <documentation>
						Synchroon antwoordbericht met gegevens op peiltijdstipMaterieel en peiltijdstipFormeel als respons op een synchroon vraagbericht (Lv05)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La06">
				        <annotation>
					          <documentation>
						Asynchroon antwoordbericht met gegevens op peiltijdstipMaterieel en peiltijdstipFormeel als respons op een asynchroon vraagbericht (Lv06)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La07">
				        <annotation>
					          <documentation>
						Synchroon antwoordbericht met materile historie en alleen gewijzigde gegevens in historie als respons op een synchroon vraagbericht (Lv07)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La08">
				        <annotation>
					          <documentation>
						Asynchroon antwoordbericht met materile historie en alleen gewijzigde gegevens in historie als respons op een asynchroon vraagbericht (Lv08)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La09">
				        <annotation>
					          <documentation>
						Synchroon antwoordbericht met materile en formele historie en alleen gewijzigde gegevens in historie als respons op een synchroon vraagbericht (Lv09)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La10">
				        <annotation>
					          <documentation>
						Asynchroon antwoordbericht met materile en formele historie en alleen gewijzigde gegevens in historie als respons op een asynchroon vraagbericht (Lv10)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La11">
				        <annotation>
					          <documentation>
						Synchroon antwoordbericht met materile historie en alle gegevens in historie als respons op een synchroon vraagbericht (Lv11)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La12">
				        <annotation>
					          <documentation>
						Asynchroon antwoordbericht met materile historie en alle gegevens in historie als respons op een asynchroon vraagbericht (Lv12)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La13">
				        <annotation>
					          <documentation>
						Synchroon antwoordbericht met materile en formele historie en alle gegevens in historie als respons op een synchroon vraagbericht (Lv13)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La14">
				        <annotation>
					          <documentation>
						Asynchroon antwoordbericht met materile en formele historie en alle gegevens in historie als respons op een asynchroon vraagbericht (Lv14)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lk01">
				        <annotation>
					          <documentation>
						Asynchroon atomair kennisgevingbericht
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lk02">
				        <annotation>
					          <documentation>
						Synchroon atomair kennisgevingbericht
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lk03">
				        <annotation>
					          <documentation>
						Asynchroon samengesteld kennisgevingbericht of transactie
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lk04">
				        <annotation>
					          <documentation>
						Synchroon samengesteld kennisgevingbericht of transactie
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lk05"/>
			      <enumeration value="Lk06"/>
			      <enumeration value="Lv01">
				        <annotation>
					          <documentation>
						Synchroon vraagbericht naar actuele gegevens
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lv02">
				        <annotation>
					          <documentation>
						Asynchroon vraagbericht naar actuele gegevens
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lv03">
				        <annotation>
					          <documentation>
						Synchroon vraagbericht naar huidige gegevens op peiltijdstipMaterieel
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lv04">
				        <annotation>
					          <documentation>
						Asynchroon vraagbericht naar huidige gegevens op peiltijdstipMaterieel
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lv05">
				        <annotation>
					          <documentation>
						Synchroon vraagbericht naar gegevens op peiltijdstipMaterieel en peiltijdstipFormeel
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lv06">
				        <annotation>
					          <documentation>
						Asynchroon vraagbericht naar gegevens op peiltijdstipMaterieel en peiltijdstipFormeel
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lv07">
				        <annotation>
					          <documentation>
						Synchroon vraagbericht naar actuele gegevens en materile historie met alleen gewijzigde gegevens in de historie
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lv08">
				        <annotation>
					          <documentation>
						Asynchroon vraagbericht naar actuele gegevens en materile historie met alleen gewijzigde gegevens in de historie
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lv09">
				        <annotation>
					          <documentation>
						Synchroon vraagbericht naar actuele gegevens en materile plus formele historie met alleen gewijzigde gegevens in de historie
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lv10">
				        <annotation>
					          <documentation>
						Asynchroon vraagbericht naar actuele gegevens en materile plus formele historie met alleen gewijzigde gegevens in de historie
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lv11">
				        <annotation>
					          <documentation>
						Synchroon vraagbericht naar actuele gegevens en materile historie met alle gegevens in de historie
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lv12">
				        <annotation>
					          <documentation>
						Asynchroon vraagbericht naar actuele gegevens en materile historie met alle gegevens in de historie
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lv13">
				        <annotation>
					          <documentation>
						Synchroon vraagbericht naar actuele gegevens en materile plus formele historie met alle gegevens in de historie
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lv14">
				        <annotation>
					          <documentation>
						Asynchroon vraagbericht naar actuele gegevens en materile plus formele historie met alle gegevens in de historie
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Sa01">
				        <annotation>
					          <documentation>
						Asynchroon synchronisatiebericht voor actuele gegevens
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Sh01">
				        <annotation>
					          <documentation>
						Asynchroon synchronisatiebericht voor actuele en historische gegevens
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Sa02">
				        <annotation>
					          <documentation>
						Synchroon synchronisatiebericht voor actuele gegevens
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Sh02">
				        <annotation>
					          <documentation>
						Synchroon synchronisatiebericht voor actuele en historische gegevens
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Sa03">
				        <annotation>
					          <documentation>
						Vraag naar een asynchroon synchronisatiebericht voor actuele gegevens
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Sh03">
				        <annotation>
					          <documentation>
						Vraag naar een asynchroon synchronisatiebericht voor historische gegevens
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Sa04">
				        <annotation>
					          <documentation>
						Vraag naar een synchroon synchronisatiebericht voor actuele gegevens
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Sh04">
				        <annotation>
					          <documentation>
						Vraag naar een synchroon synchronisatiebericht voor historische gegevens
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Tr01">
				        <annotation>
					          <documentation>
						Triggerbericht
					</documentation>
				        </annotation>
			      </enumeration>
		    </restriction>
	  </simpleType>
   <simpleType name="BerichtcodeDi01">
		    <annotation>
			      <documentation>Berichtcode = Di01</documentation>
		    </annotation>
		    <restriction base="StUF:Berichtcode">
			      <enumeration value="Di01"/>
		    </restriction>
	  </simpleType>
   <simpleType name="BerichtcodeLk01">
		    <annotation>
			      <documentation>Berichtcode = Lk01</documentation>
		    </annotation>
		    <restriction base="StUF:Berichtcode">
			      <enumeration value="Lk01"/>
		    </restriction>
	  </simpleType>
   <simpleType name="BerichtcodeSa01">
		    <annotation>
			      <documentation>Berichtcode = Sa01</documentation>
		    </annotation>
		    <restriction base="StUF:Berichtcode">
			      <enumeration value="Sa01"/>
		    </restriction>
	  </simpleType>
   <simpleType name="BerichtcodeSa03">
		    <annotation>
			      <documentation>Berichtcode = Sa03</documentation>
		    </annotation>
		    <restriction base="StUF:Berichtcode">
			      <enumeration value="Sa03"/>
		    </restriction>
	  </simpleType>
   <simpleType name="BerichtcodeSh01">
		    <annotation>
			      <documentation>Berichtcode = Sh01</documentation>
		    </annotation>
		    <restriction base="StUF:Berichtcode">
			      <enumeration value="Sh01"/>
		    </restriction>
	  </simpleType>
   <simpleType name="BerichtcodeSh03">
		    <annotation>
			      <documentation>Berichtcode = Sh03</documentation>
		    </annotation>
		    <restriction base="StUF:Berichtcode">
			      <enumeration value="Sh03"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Datum">
		    <annotation>
			      <documentation>Er is niet aangesloten bij date, omdat hier allerlei opmaak in zit</documentation>
		    </annotation>
		    <restriction base="decimal">
			      <totalDigits value="8"/>
			      <fractionDigits value="0"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Entiteittype">
		    <restriction base="string">
			      <maxLength value="30"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Foutcode">
		    <restriction base="string">
			      <maxLength value="7"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Foutplek">
		    <restriction base="string">
			      <enumeration value="client"/>
			      <enumeration value="server"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Foutomschrijving">
		    <restriction base="string">
			      <maxLength value="200"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Foutdetails">
		    <restriction base="string">
			      <maxLength value="1000"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Functie">
		    <restriction base="string">
			      <maxLength value="30"/>
		    </restriction>
	  </simpleType>
   <simpleType name="FunctieVrijBerichtElement">
		    <restriction base="string">
			      <enumeration value="antwoord"/>
			      <enumeration value="entiteit"/>
			      <enumeration value="selectie"/>
			      <enumeration value="update"/>
			      <enumeration value="zaakinfo"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Gebruiker">
		    <restriction base="string">
			      <maxLength value="100"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Groepsnaam">
		    <restriction base="string">
			      <maxLength value="80"/>
		    </restriction>
	  </simpleType>
   <simpleType name="IndicatorOvername">
		    <restriction base="string">
			      <enumeration value="I">
				        <annotation>
					          <documentation xml:lang="nl">Informatief</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="V">
				        <annotation>
					          <documentation xml:lang="nl">Verplicht</documentation>
				        </annotation>
			      </enumeration>
		    </restriction>
	  </simpleType>
   <simpleType name="IndOnvolledigeDatum">
		    <restriction base="string">
			      <enumeration value="J">
				        <annotation>
					          <documentation xml:lang="nl">de datum heeft een waarde maar jaar, maand en dag zijn onbekend</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="M">
				        <annotation>
					          <documentation xml:lang="nl">de datum heeft een waarde maar maand en dag zijn onbekend</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="D">
				        <annotation>
					          <documentation xml:lang="nl">de datum heeft een waarde maar de dag is onbekend</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="V">
				        <annotation>
					          <documentation xml:lang="nl">datum is volledig</documentation>
				        </annotation>
			      </enumeration>
		    </restriction>
	  </simpleType>
   <simpleType name="Melding">
		    <restriction base="string">
			      <maxLength value="250"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Mutatiesoort">
		    <restriction base="StUF:Functie">
			      <enumeration value="T">
				        <annotation>
					          <documentation xml:lang="nl">Toevoeging</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="W">
				        <annotation>
					          <documentation xml:lang="nl">Wijziging</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="V">
				        <annotation>
					          <documentation xml:lang="nl">Verwijdering</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="C">
				        <annotation>
					          <documentation xml:lang="nl">Correctie zonder opbouw formele historie</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="F">
				        <annotation>
					          <documentation xml:lang="nl">Correctie met opbouw formele historie</documentation>
				        </annotation>
			      </enumeration>
		    </restriction>
	  </simpleType>
   <simpleType name="MutatiesoortWijzigingInSynchronisatie">
		    <restriction base="StUF:Mutatiesoort">
			      <enumeration value="W"/>
			      <enumeration value="F"/>
		    </restriction>
	  </simpleType>
   <simpleType name="NoValue">
		    <restriction base="string">
			      <enumeration value="nietOndersteund"/>
			      <enumeration value="nietGeautoriseerd"/>
			      <enumeration value="geenWaarde"/>
			      <enumeration value="waardeOnbekend"/>
			      <enumeration value="vastgesteldOnbekend"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Organisatie">
		    <restriction base="string">
			      <maxLength value="200"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Refnummer">
		    <restriction base="string">
			      <maxLength value="40"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Sleutel">
		    <restriction base="string">
			      <maxLength value="40"/>
		    </restriction>
	  </simpleType>
   <simpleType name="StatusMetagegeven">
		    <restriction base="string">
			      <enumeration value="J"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Tijdstip">
		    <restriction base="string">
			      <pattern value="[0-9]{8,17}"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Verwerkingssoort">
		    <restriction base="string">
			      <maxLength value="1"/>
			      <enumeration value="T">
				        <annotation>
					          <documentation xml:lang="nl">Toevoeging</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="W">
				        <annotation>
					          <documentation xml:lang="nl">Wijziging of correctie</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="V">
				        <annotation>
					          <documentation xml:lang="nl">Verwijdering</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="E">
				        <annotation>
					          <documentation xml:lang="nl"> Een relatie entiteit wordt beeindigd.</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="I">
				        <annotation>
					          <documentation xml:lang="nl">Entiteit bevat alleen identificerende gegevens.</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="R">
				        <annotation>
					          <documentation xml:lang="nl">Een relatie entiteit wordt vervangen door een nieuwe relatie entiteit.</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="S">
				        <annotation>
					          <documentation xml:lang="nl"> De sleutel van een entiteit wordt gewijzigd.</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="O">
				        <annotation>
					          <documentation xml:lang="nl"> Het object in de oude entiteit wordt in het kader van een ontdubbeling samengevoegd met het object in de nieuwe entiteit. Het object in de oude entiteit komt niet voor in het zendende systeem. Objecten in een systeem worden veelal ontdubbeld als blijkt dat ze verwijzen naar hetzelfde object in de werkelijkheid.</documentation>
				        </annotation>
			      </enumeration>
		    </restriction>
	  </simpleType>
   <complexType name="InOnderzoekSWO">
		    <simpleContent>
			      <extension base="StUF:StatusMetagegeven">
            <attribute name="elementnaam" type="StUF:InOnderzoekSWOElementen"/>
            <attribute ref="StUF:metagegeven" use="required"/>
            <attribute ref="StUF:noValue"/>
         </extension>
		    </simpleContent>
	  </complexType>
   <complexType name="InOnderzoekWOZ-woz">
		    <simpleContent>
			      <extension base="StUF:StatusMetagegeven">
            <attribute name="groepsnaam" type="StUF:InOnderzoekWOZGroep"/>
            <attribute name="elementnaam" type="StUF:InOnderzoekWOZElementen-woz"/>
            <attribute ref="StUF:metagegeven" use="required"/>
            <attribute ref="StUF:noValue"/>
         </extension>
		    </simpleContent>
	  </complexType>
   <complexType name="InOnderzoekWOZKOZ-woz">
		    <simpleContent>
			      <extension base="StUF:StatusMetagegeven">
            <attribute name="elementnaam" type="StUF:InOnderzoekWOZKOZElementen-woz"/>
            <attribute ref="StUF:metagegeven" use="required"/>
            <attribute ref="StUF:noValue"/>
         </extension>
		    </simpleContent>
	  </complexType>
   <complexType name="InOnderzoekWRD-woz">
		    <simpleContent>
			      <extension base="StUF:StatusMetagegeven">
            <attribute name="elementnaam" type="StUF:InOnderzoekWRDElementen-woz"/>
            <attribute ref="StUF:metagegeven" use="required"/>
            <attribute ref="StUF:noValue"/>
         </extension>
		    </simpleContent>
	  </complexType>
   <simpleType name="InOnderzoekSWOElementen">
		    <restriction base="StUF:Groepsnaam">
			      <enumeration value="codeGebouwdOngebouwd"/>
			      <enumeration value="grondOppervlakte"/>
			      <enumeration value="meegetaxeerdeOppervlakteGebouwd"/>
			      <enumeration value="wozObjectGeometrie"/>
			      <enumeration value="statusWOZObject"/>
			      <enumeration value="ingangsdatumObject"/>
			      <enumeration value="einddatumObject"/>
		    </restriction>
	  </simpleType>
   <simpleType name="InOnderzoekWOZElementen-woz">
		    <restriction base="StUF:Groepsnaam">
			      <enumeration value="ozbVrijstelling"/>
			      <enumeration value="meegetaxeerdeOppervlakteGebouwd"/>
			      <enumeration value="wozObjectGeometrie"/>
			      <enumeration value="codeGebouwdOngebouwd"/>
			      <enumeration value="grondOppervlakte"/>
			      <enumeration value="gebruikscode"/>
			      <enumeration value="ingangsdatumObject"/>
			      <enumeration value="einddatumObject"/>
			      <enumeration value="gor.openbareRuimteNaam"/>
			      <enumeration value="locatieOmschrijving"/>
			      <enumeration value="statusWozObject"/>
			      <enumeration value="woonplaatsnaam"/>
		    </restriction>
	  </simpleType>
   <simpleType name="InOnderzoekWOZKOZElementen-woz">
		    <restriction base="StUF:Groepsnaam">
			      <enumeration value="toegekendeOppervlakte"/>
			      <enumeration value="meegetaxeerdeOppervlakte"/>
		    </restriction>
	  </simpleType>
   <simpleType name="InOnderzoekWRDElementen-woz">
		    <restriction base="StUF:Groepsnaam">
			      <enumeration value="vastgesteldeWaarde"/>
			      <enumeration value="heffingsmaatstafOZB"/>
			      <enumeration value="heffingsmaatstafOZBGebruiker"/>
			      <enumeration value="toestandspeildatum"/>
		    </restriction>
	  </simpleType>
   <simpleType name="EntiteittypeSWO">
		    <restriction base="StUF:Entiteittype">
			      <enumeration value="SWO"/>
		    </restriction>
	  </simpleType>
   <simpleType name="OIN">
		    <restriction base="StUF:Organisatie">
			      <pattern value="[0-9]{20}"/>
		    </restriction>
	  </simpleType>
</schema>
