brmo-stufwoz312/src/XSD-Resolver/toresolve/woz0312/mutatie/woz0312_bg0310_mutatie.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 3 sp1 (x64) (http://www.altova.com) by Maarten van den Broek (messageDesign B.V.) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:StUF="http://www.egem.nl/StUF/StUF0301" xmlns:BG="http://www.egem.nl/StUF/sector/bg/0310" targetNamespace="http://www.egem.nl/StUF/sector/bg/0310" elementFormDefault="qualified" attributeFormDefault="unqualified" version="031205">
	<annotation>
		<documentation>
			Dit schema bevat de restricties van BG-types tbv het proces gedeelte van het sectormodel WOZ.
			
			Wijzigingen vergeleken met version 031205:
			- Binnen het complexType CorrespondentieAdrGrp-woz-kennisgeving zijn de elementen wpl.woonplaatsNaam, gor.openbareRuimteNaam, aoa.huisnummer, sub.postadresType en sub.postadresNummer nillable gemaakt en is het '-r' type vervangen door een '-e' type
 		</documentation>
	</annotation>
	<include schemaLocation="../entiteiten/woz0312_bg0310_ent_basis.xsd"/>
	<import namespace="http://www.egem.nl/StUF/StUF0301" schemaLocation="../entiteiten/woz0312_stuf_simpleTypes.xsd"/>
	<complexType name="AOA-woz-kennisgeving">
		<complexContent>
			<restriction base="BG:AOA-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true"/>
					<element name="wpl.woonplaatsNaam" type="BG:NaamgevingObject-e" nillable="true"/>
					<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true"/>
					<element name="huisnummer" type="BG:Huisnummering-e" nillable="true"/>
					<element name="huisletter" type="BG:Huislettering-e" nillable="true"/>
					<element name="huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true"/>
					<element name="postcode" type="BG:Postcode-e" nillable="true"/>
					<element name="gor.straatnaam" type="BG:Straatnaam-e" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
				<attribute ref="StUF:scope" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AOA-woz-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:AOA-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true" minOccurs="0"/>
					<element name="wpl.woonplaatsNaam" type="BG:NaamgevingObject-e" nillable="true" minOccurs="0"/>
					<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true" minOccurs="0"/>
					<element name="huisnummer" type="BG:Huisnummering-e" nillable="true" minOccurs="0"/>
					<element name="huisletter" type="BG:Huislettering-e" nillable="true" minOccurs="0"/>
					<element name="huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true" minOccurs="0"/>
					<element name="postcode" type="BG:Postcode-e" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
				<attribute ref="StUF:scope" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AOT-woz-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:AOT-woz-basis">
				<choice minOccurs="0">
					<choice minOccurs="0">
						<element name="ligplaats" type="BG:LIG-woz-kerngegevensKennisgeving" minOccurs="0"/>
						<element name="standplaats" type="BG:STA-woz-kerngegevensKennisgeving" minOccurs="0"/>
						<element name="verblijfsobject" type="BG:VBO-woz-kerngegevensKennisgeving" minOccurs="0"/>
					</choice>
				</choice>
				<attribute ref="StUF:entiteittype" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="KOZ-woz-kennisgeving">
		<complexContent>
			<restriction base="BG:KOZ-woz-basis">
				<sequence minOccurs="0">
					<element name="kadastraleIdentificatie" type="BG:KadastraleIdentificatie-e" nillable="true" minOccurs="0"/>
					<element name="kadastraleAanduiding" type="BG:KadastraleAanduidingGrp-verplicht" minOccurs="0"/>
					<choice minOccurs="0">
						<sequence minOccurs="0">
							<element name="kdp.grootte" type="BG:Maateenheid8-2-neg-e" nillable="true" minOccurs="0"/>
						</sequence>
						<sequence minOccurs="0"/>
					</choice>
					<element name="ingangsdatumObject" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
					<element name="einddatumObject" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
				<attribute ref="StUF:scope" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="KOZ-woz-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:KOZ-woz-basis">
				<sequence minOccurs="0">
					<element name="kadastraleIdentificatie" type="BG:KadastraleIdentificatie-e" nillable="true" minOccurs="0"/>
					<element name="kadastraleAanduiding" type="BG:KadastraleAanduidingGrp-verplicht" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
				<attribute ref="StUF:scope" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="LIG-woz-kennisgeving">
		<complexContent>
			<restriction base="BG:LIG-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true"/>
					<element name="adresAanduidingGrp" type="BG:AdrGrp-woz-kennisgeving"/>
				</sequence>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="LIG-woz-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:LIG-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true"/>
					<element name="adresAanduidingGrp" type="BG:AdrGrp-woz-kerngegevensKennisgeving"/>
				</sequence>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
				<attribute ref="StUF:scope" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="MAC-woz-kennisgeving">
		<complexContent>
			<restriction base="BG:MAC-basis">
				<sequence>
					<element name="kvkNummer" type="BG:KvKNummer-e" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:entiteittype" use="required" fixed="MAC"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NNP-woz-kennisgeving">
		<complexContent>
			<restriction base="BG:NNP-woz-basis">
				<sequence>
					<choice minOccurs="0">
						<sequence>
							<element name="inn.nnpId" type="BG:BSN-e" nillable="true"/>
						</sequence>
						<element name="ann.identificatie" type="BG:IdentificatieRPSBTL-e" nillable="true"/>
					</choice>
					<element name="statutaireNaam" type="BG:StatutaireNaam-e" nillable="true" minOccurs="0"/>
					<element name="sub.correspondentieAdres" type="BG:CorrespondentieAdrGrp-woz-kennisgeving" minOccurs="0"/>
					<choice minOccurs="0">
						<element name="sub.verblijfBuitenland" type="BG:VerblijfBuitenlandGrp" minOccurs="0"/>
					</choice>
					<element name="rps.isEigenaarVan" type="BG:NNPMAC-woz-kennisgeving" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NNP-woz-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:NNP-woz-basis">
				<sequence>
					<choice minOccurs="0">
						<sequence>
							<element name="inn.nnpId" type="BG:BSN-e" nillable="true"/>
						</sequence>
						<element name="ann.identificatie" type="BG:IdentificatieRPSBTL-e" nillable="true"/>
					</choice>
					<element name="statutaireNaam" type="BG:StatutaireNaam-e" nillable="true" minOccurs="0"/>
					<element name="sub.correspondentieAdres" type="BG:CorrespondentieAdrGrp-woz-kerngegevens" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NNPMAC-woz-kennisgeving">
		<complexContent>
			<restriction base="BG:NNPMAC-basis">
				<sequence>
					<element name="gerelateerde" type="BG:MAC-woz-kennisgeving"/>
				</sequence>
				<attribute ref="StUF:entiteittype" use="required" fixed="NNPMAC"/>
				<attribute ref="StUF:sleutelVerzendend" use="prohibited"/>
				<attribute ref="StUF:sleutelOntvangend" use="prohibited"/>
				<attribute ref="StUF:sleutelGegevensbeheer" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NPS-woz-kennisgeving">
		<complexContent>
			<restriction base="BG:NPS-woz-basis">
				<sequence>
					<choice minOccurs="0">
						<sequence minOccurs="0">
							<element name="inp.bsn" type="BG:BSN-e" nillable="true" minOccurs="0"/>
						</sequence>
						<element name="anp.identificatie" type="BG:IdentificatieRPSBTL-e" nillable="true" minOccurs="0"/>
					</choice>
					<element name="geslachtsnaam" type="BG:Geslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="voorvoegselGeslachtsnaam" type="BG:VoorvoegselGeslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="voorletters" type="BG:Voorletters-e" nillable="true" minOccurs="0"/>
					<element name="aanduidingNaamgebruik" type="BG:AanduidingNaamgebruik-e" nillable="true" minOccurs="0"/>
					<element name="geslachtsnaamPartner" type="BG:Geslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="voorvoegselGeslachtsnaamPartner" type="BG:VoorvoegselGeslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="aanhefAanschrijving" type="BG:Aanhef-e" nillable="true" minOccurs="0"/>
					<element name="geslachtsnaamAanschrijving" type="BG:Geslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="geslachtsaanduiding" type="BG:Geslachtsaanduiding-e" nillable="true" minOccurs="0"/>
					<element name="geboortedatum" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
					<element name="inp.verblijftIn" type="BG:NPSTGO-woz-kennisgeving" nillable="true" minOccurs="0"/>
					<choice minOccurs="0">
						<element name="verblijfsadres" type="BG:VerblijfsadresGrp-woz-kennisgeving"/>
						<element name="sub.verblijfBuitenland" type="BG:VerblijfBuitenlandGrp-kerngegevensKennisgeving"/>
					</choice>
					<element name="sub.correspondentieAdres" type="BG:CorrespondentieAdrGrp-woz-basis" minOccurs="0"/>
					<element name="inp.indicatieGeheim" type="BG:IndicatieGeheim-e" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NPS-woz-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:NPS-woz-basis">
				<sequence>
					<choice minOccurs="0">
						<sequence minOccurs="0">
							<element name="inp.bsn" type="BG:BSN-e" nillable="true" minOccurs="0"/>
						</sequence>
						<element name="anp.identificatie" type="BG:IdentificatieRPSBTL-e" nillable="true" minOccurs="0"/>
					</choice>
					<element name="geslachtsnaam" type="BG:Geslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="voorvoegselGeslachtsnaam" type="BG:VoorvoegselGeslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="voorletters" type="BG:Voorletters-e" nillable="true" minOccurs="0"/>
					<element name="aanduidingNaamgebruik" type="BG:AanduidingNaamgebruik-e" nillable="true" minOccurs="0"/>
					<element name="geslachtsnaamPartner" type="BG:Geslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="voorvoegselGeslachtsnaamPartner" type="BG:VoorvoegselGeslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="aanhefAanschrijving" type="BG:Aanhef-e" nillable="true" minOccurs="0"/>
					<element name="geslachtsnaamAanschrijving" type="BG:Geslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="geslachtsaanduiding" type="BG:Geslachtsaanduiding-e" nillable="true" minOccurs="0"/>
					<element name="geboortedatum" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
					<choice minOccurs="0">
						<element name="verblijfsadres" type="BG:VerblijfsadresGrp-woz-kerngegevensKennisgeving"/>
						<element name="sub.verblijfBuitenland" type="BG:VerblijfBuitenlandGrp-kerngegevensKennisgeving"/>
					</choice>
				</sequence>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NPSTGO-woz-kennisgeving">
		<complexContent>
			<restriction base="BG:NPSTGO-woz-basis">
				<sequence>
					<element name="gerelateerde" type="BG:TGO-woz-kerngegevensKennisgeving" nillable="true"/>
				</sequence>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NPSTGO-woz-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:NPSTGO-woz-basis">
				<sequence>
					<element name="gerelateerde" type="BG:TGO-woz-kerngegevensKennisgeving" nillable="true"/>
				</sequence>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NUM-woz-kennisgeving">
		<complexContent>
			<restriction base="BG:NUM-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true"/>
					<element name="wpl.woonplaatsNaam" type="BG:NaamgevingObject-e" nillable="true"/>
					<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true"/>
					<element name="huisnummer" type="BG:Huisnummering-e" nillable="true"/>
					<element name="huisletter" type="BG:Huislettering-e" nillable="true"/>
					<element name="huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true"/>
					<element name="postcode" type="BG:Postcode-e" nillable="true"/>
					<element name="gor.straatnaam" type="BG:Straatnaam-e" nillable="true" minOccurs="0"/>
					<element name="ingangsdatumObject" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
					<element name="einddatumObject" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
				<attribute ref="StUF:scope" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NUM-woz-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:NUM-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true" minOccurs="0"/>
					<element name="wpl.woonplaatsNaam" type="BG:NaamgevingObject-e" nillable="true" minOccurs="0"/>
					<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true" minOccurs="0"/>
					<element name="huisnummer" type="BG:Huisnummering-e" nillable="true" minOccurs="0"/>
					<element name="huisletter" type="BG:Huislettering-e" nillable="true" minOccurs="0"/>
					<element name="huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true" minOccurs="0"/>
					<element name="postcode" type="BG:Postcode-e" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
				<attribute ref="StUF:scope" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="PND-woz-kennisgeving">
		<complexContent>
			<restriction base="BG:PND-woz-basis">
				<sequence minOccurs="0">
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true" minOccurs="0"/>
					<element name="ingangsdatumObject" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
					<element name="einddatumObject" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="PND-woz-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:PND-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true"/>
				</sequence>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="STA-woz-kennisgeving">
		<complexContent>
			<restriction base="BG:STA-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true"/>
					<element name="adresAanduidingGrp" type="BG:AdrGrp-woz-kennisgeving"/>
				</sequence>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
				<attribute ref="StUF:scope" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="STA-woz-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:STA-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true"/>
					<element name="adresAanduidingGrp" type="BG:AdrGrp-woz-kerngegevensKennisgeving"/>
				</sequence>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
				<attribute ref="StUF:scope" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="TGO-woz-kennisgeving">
		<complexContent>
			<restriction base="BG:TGO-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true" minOccurs="0"/>
					<element name="adresAanduidingGrp" type="BG:AdrGrp-woz-basis" minOccurs="0"/>
					<element name="gbo.puntGeometrie" type="BG:GeometriePunt-e" nillable="true" minOccurs="0"/>
					<element name="vlakGeometrie" type="BG:GeometrieVlak-e" nillable="true" minOccurs="0"/>
					<element name="type" type="BG:TypeOGOofOTR-e" nillable="true" minOccurs="0"/>
					<element name="vbo.soortWoonobject" type="BG:SoortWoonobject-e" nillable="true" minOccurs="0"/>
					<element name="gbo.bouwkundigeBestemming" type="BG:BouwkundigeBestemming-e" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="gebruiksdoel" type="BG:Gebruiksdoeleinden-e" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="gbo.brutoInhoud" type="BG:Maateenheid6-e" nillable="true" minOccurs="0"/>
					<element name="gbo.oppervlakte" type="BG:Maateenheid6-e" nillable="true" minOccurs="0"/>
					<element name="ogo.bouwjaar" type="BG:Jaar-e" nillable="true" minOccurs="0"/>
					<element name="vbo.toegangBouwlaag" type="BG:Bouwlaag-e" nillable="true" minOccurs="0"/>
					<element name="vbo.aantalKamers" type="BG:Maateenheid2-e" nillable="true" minOccurs="0"/>
					<element name="vbo.ontsluitingVerdieping" type="BG:OntsluitingVerdieping-e" nillable="true" minOccurs="0"/>
					<element name="aot.status" type="BG:StatusTGO-e" nillable="true" minOccurs="0"/>
					<element name="gbo.statusVoortgangBouw" type="BG:StatusVoortgangBouw-e" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="TGO-woz-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:TGO-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true"/>
					<element name="adresAanduidingGrp" type="BG:AdrGrp-woz-kerngegevensKennisgeving"/>
				</sequence>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VBO-woz-kennisgeving">
		<complexContent>
			<restriction base="BG:VBO-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true"/>
					<element name="adresAanduidingGrp" type="BG:AdrGrp-woz-kennisgeving"/>
				</sequence>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VBO-woz-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:VBO-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true"/>
					<element name="adresAanduidingGrp" type="BG:AdrGrp-woz-kerngegevensKennisgeving"/>
				</sequence>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VES-woz-kennisgeving">
		<complexContent>
			<restriction base="BG:VES-woz-basis">
				<sequence>
					<element name="vestigingsNummer" type="BG:VestigingsNummer-e" nillable="true" minOccurs="0"/>
					<sequence minOccurs="0">
						<element name="handelsnaam" type="BG:Handelsnaam-e" nillable="true" minOccurs="0"/>
					</sequence>
					<choice minOccurs="0">
						<element name="verblijfsadres" type="BG:VerblijfsadresGrp-woz-kennisgeving" minOccurs="0"/>
						<element name="sub.verblijfBuitenland" type="BG:VerblijfBuitenlandGrp-kerngegevensKennisgeving" minOccurs="0"/>
					</choice>
					<element name="sub.correspondentieAdres" type="BG:CorrespondentieAdrGrp-woz-basis" minOccurs="0"/>
					<element name="oefentActiviteitenUitVoor" type="BG:VESMAC-woz-kennisgeving" nillable="true" minOccurs="0"/>
					<element name="heeftAlsHoofdLocatie" type="BG:VESTGOHFD-woz-kennisgeving" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VES-woz-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:VES-woz-basis">
				<sequence>
					<element name="vestigingsNummer" type="BG:VestigingsNummer-e" nillable="true" minOccurs="0"/>
					<sequence minOccurs="0">
						<element name="handelsnaam" type="BG:Handelsnaam-e" nillable="true" minOccurs="0"/>
					</sequence>
					<choice minOccurs="0">
						<element name="verblijfsadres" type="BG:VerblijfsadresGrp-woz-basis" minOccurs="0"/>
						<element name="sub.verblijfBuitenland" type="BG:VerblijfBuitenlandGrp" minOccurs="0"/>
					</choice>
				</sequence>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VESMAC-woz-kennisgeving">
		<complexContent>
			<restriction base="BG:VESMAC-basis">
				<sequence>
					<element name="gerelateerde" type="BG:MAC-woz-kennisgeving" nillable="true"/>
				</sequence>
				<attribute ref="StUF:entiteittype" use="required" fixed="VESMAC"/>
				<attribute ref="StUF:sleutelVerzendend" use="prohibited"/>
				<attribute ref="StUF:sleutelOntvangend" use="prohibited"/>
				<attribute ref="StUF:sleutelGegevensbeheer" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VESTGOHFD-woz-kennisgeving">
		<complexContent>
			<restriction base="BG:VESTGOHFD-woz-basis">
				<sequence>
					<element name="gerelateerde" type="BG:TGO-woz-kerngegevensKennisgeving" nillable="true"/>
				</sequence>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VESTGOHFD-woz-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:VESTGOHFD-woz-basis">
				<sequence>
					<element name="gerelateerde" type="BG:TGO-woz-kerngegevensKennisgeving" nillable="true"/>
				</sequence>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!--ComplexTypes voor groepen-->
	<complexType name="AanduidingWOZobjectGrp-woz-kennisgeving">
		<complexContent>
			<restriction base="BG:AanduidingWOZobjectGrp-woz">
				<sequence minOccurs="0">
					<element name="aoa.identificatie" type="BG:ObjectNummering-e" nillable="true"/>
					<element name="wpl.woonplaatsNaam" type="BG:WoonplaatsNaam-e" nillable="true"/>
					<element name="aoa.postcode" type="BG:Postcode-e" nillable="true"/>
					<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true"/>
					<element name="gor.straatnaam" type="BG:Straatnaam-e" nillable="true" minOccurs="0"/>
					<element name="aoa.huisnummer" type="BG:Huisnummering-e" nillable="true"/>
					<element name="aoa.huisletter" type="BG:Huislettering-e" nillable="true"/>
					<element name="aoa.huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true"/>
					<element name="locatieOmschrijving" type="BG:LocatieOmschrijving-e" nillable="true"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AanduidingWOZobjectGrp-woz-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:AanduidingWOZobjectGrp-woz">
				<sequence minOccurs="0">
					<element name="aoa.identificatie" type="BG:ObjectNummering-e" nillable="true"/>
					<element name="wpl.woonplaatsNaam" type="BG:WoonplaatsNaam-e" nillable="true"/>
					<element name="aoa.postcode" type="BG:Postcode-e" nillable="true"/>
					<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true"/>
					<element name="aoa.huisnummer" type="BG:Huisnummering-e" nillable="true"/>
					<element name="aoa.huisletter" type="BG:Huislettering-e" nillable="true"/>
					<element name="aoa.huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true"/>
					<element name="locatieOmschrijving" type="BG:LocatieOmschrijving-e" nillable="true"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AdrGrp-woz-kennisgeving">
		<complexContent>
			<restriction base="BG:AdrGrp-woz-basis">
				<sequence>
					<sequence>
						<choice>
							<element name="num.identificatie" type="BG:ObjectNummering-e" nillable="true"/>
						</choice>
					</sequence>
					<element name="wpl.woonplaatsNaam" type="BG:WoonplaatsNaam-e" nillable="true"/>
					<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true"/>
					<element name="gor.straatnaam" type="BG:Straatnaam-e" nillable="true" minOccurs="0"/>
					<element name="aoa.postcode" type="BG:Postcode-e" nillable="true"/>
					<element name="aoa.huisnummer" type="BG:Huisnummering-e" nillable="true"/>
					<element name="aoa.huisletter" type="BG:Huislettering-e" nillable="true"/>
					<element name="aoa.huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true"/>
					<element name="ogo.locatieAanduiding" type="BG:LocatieOmschrijving-e" nillable="true"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AdrGrp-woz-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:AdrGrp-woz-basis">
				<sequence>
					<sequence minOccurs="0">
						<choice>
							<element name="num.identificatie" type="BG:ObjectNummering-e" nillable="true"/>
						</choice>
					</sequence>
					<element name="wpl.woonplaatsNaam" type="BG:WoonplaatsNaam-e" nillable="true"/>
					<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true"/>
					<element name="aoa.postcode" type="BG:Postcode-e" nillable="true"/>
					<element name="aoa.huisnummer" type="BG:Huisnummering-e" nillable="true"/>
					<element name="aoa.huisletter" type="BG:Huislettering-e" nillable="true"/>
					<element name="aoa.huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true"/>
					<element name="ogo.locatieAanduiding" type="BG:LocatieOmschrijving-e" nillable="true"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="CorrespondentieAdrGrp-woz-kennisgeving">
		<complexContent>
			<restriction base="BG:CorrespondentieAdrGrp-woz-basis">
				<sequence>
					<element name="wpl.woonplaatsNaam" type="BG:NaamgevingObject-e" nillable="true"/>
					<element name="postcode" type="BG:Postcode-e" nillable="true"/>
					<choice>
						<sequence>
							<element name="aoa.identificatie" type="BG:ObjectNummering-e" nillable="true"/>
							<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true"/>
							<element name="gor.straatnaam" type="BG:Straatnaam-e" nillable="true" minOccurs="0"/>
							<element name="aoa.huisnummer" type="BG:Huisnummering-e" nillable="true"/>
							<element name="aoa.huisletter" type="BG:Huislettering-e" nillable="true"/>
							<element name="aoa.huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true"/>
						</sequence>
						<sequence>
							<element name="sub.postadresType" type="BG:PostadresType-e" nillable="true"/>
							<element name="sub.postadresNummer" type="BG:PostadresNummer-e" nillable="true"/>
						</sequence>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="CorrespondentieAdrGrp-woz-kernGegevensKennisgeving">
		<complexContent>
			<restriction base="BG:CorrespondentieAdrGrp-woz-basis">
				<sequence>
					<element name="wpl.woonplaatsNaam" type="BG:NaamgevingObject-e" nillable="true"/>
					<element name="postcode" type="BG:Postcode-e" nillable="true"/>
					<choice>
						<sequence>
							<element name="aoa.identificatie" type="BG:ObjectNummering-e" nillable="true"/>
							<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true"/>
							<element name="aoa.huisnummer" type="BG:Huisnummering-e" nillable="true"/>
							<element name="aoa.huisletter" type="BG:Huislettering-e" nillable="true"/>
							<element name="aoa.huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true"/>
						</sequence>
						<sequence>
							<element name="sub.postadresType" type="BG:PostadresType-e" nillable="true"/>
							<element name="sub.postadresNummer" type="BG:PostadresNummer-e" nillable="true"/>
						</sequence>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VerantwoordelijkeGemeenteGrp-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:VerantwoordelijkeGemeenteGrp">
				<sequence>
					<element name="gemeenteCode" type="BG:Gemeentecodering-e" nillable="true"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VerblijfBuitenlandGrp-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:VerblijfBuitenlandGrp">
				<sequence>
					<element name="lnd.landcode" type="BG:Landcode-e" nillable="true"/>
					<element name="lnd.landnaam" type="BG:Landnaam-e" nillable="true"/>
					<element name="sub.adresBuitenland1" type="BG:AdresBuitenland-e" nillable="true"/>
					<element name="sub.adresBuitenland2" type="BG:AdresBuitenland-e" nillable="true"/>
					<element name="sub.adresBuitenland3" type="BG:AdresBuitenland-e" nillable="true"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VerblijfsadresGrp-woz-kennisgeving">
		<complexContent>
			<restriction base="BG:VerblijfsadresGrp-woz-basis">
				<sequence minOccurs="0">
					<element name="aoa.identificatie" type="BG:ObjectNummering-e" nillable="true"/>
					<element name="wpl.woonplaatsNaam" type="BG:WoonplaatsNaam-e" nillable="true"/>
					<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true"/>
					<element name="gor.straatnaam" type="BG:Straatnaam-e" nillable="true" minOccurs="0"/>
					<element name="aoa.postcode" type="BG:Postcode-e" nillable="true"/>
					<element name="aoa.huisnummer" type="BG:Huisnummering-e" nillable="true"/>
					<element name="aoa.huisletter" type="BG:Huislettering-e" nillable="true"/>
					<element name="aoa.huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true"/>
					<element name="inp.locatiebeschrijving" type="BG:Locatiebeschrijving-e" nillable="true"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VerblijfsadresGrp-woz-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:VerblijfsadresGrp-woz-basis">
				<sequence minOccurs="0">
					<element name="aoa.identificatie" type="BG:ObjectNummering-e" nillable="true"/>
					<element name="wpl.woonplaatsNaam" type="BG:WoonplaatsNaam-e" nillable="true"/>
					<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true"/>
					<element name="aoa.postcode" type="BG:Postcode-e" nillable="true"/>
					<element name="aoa.huisnummer" type="BG:Huisnummering-e" nillable="true"/>
					<element name="aoa.huisletter" type="BG:Huislettering-e" nillable="true"/>
					<element name="aoa.huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true"/>
					<element name="inp.locatiebeschrijving" type="BG:Locatiebeschrijving-e" nillable="true"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
</schema>
