brmo-stufwoz312/src/XSD-Resolver/toresolve/woz0312/mutatie/woz0312_verwerkSynchroneKennisgeving_mutatie.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 (http://www.altova.com) by Maarten van den Broek (messageDesign) -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:WOZ="http://www.waarderingskamer.nl/StUF/0312" xmlns:StUF="http://www.egem.nl/StUF/StUF0301" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" xmlns:ns="http://www.egem.nl/StUF/sector/bg/0310" xmlns:ns1="http://www.isotc211.org/2005/gco" xmlns:ns2="http://www.isotc211.org/2005/gmd" xmlns:ns3="http://www.isotc211.org/2005/gsr" xmlns:ns4="http://www.isotc211.org/2005/gss" xmlns:ns5="http://www.isotc211.org/2005/gts" xmlns:ns6="http://www.opengis.net/gml/3.2" name="StUF-WOZ0312" targetNamespace="http://www.waarderingskamer.nl/StUF/0312">
	<documentation>
		Deze wsdl definieert de webservice voor het verwerken van synchrone kennisgevingen en verzoeken om synchronisatie door een WOZ procesapplicatie
		
		Versie 031202:
		- De berichten nnp/nps/vesLk02/Sa02/Sa04 zijn toegevoegd in de wsdl
		</documentation>
	<import namespace="http://www.egem.nl/StUF/StUF0301" location="../../0301/stuf0301_types.wsdl"/>
	<types>
		<xs:schema>
			<xs:import namespace="http://www.waarderingskamer.nl/StUF/0312" schemaLocation="woz0312_msg_mutatie.xsd"/>
		</xs:schema>
	</types>
	<message name="aslLk02">
		<part name="body" element="WOZ:aslLk02"/>
	</message>
	<message name="aslSa02">
		<part name="body" element="WOZ:aslSa02"/>
	</message>
	<message name="aslSa04">
		<part name="body" element="WOZ:aslSa04"/>
	</message>
	<message name="aslSh02">
		<part name="body" element="WOZ:aslSh02"/>
	</message>
	<message name="aslSh04">
		<part name="body" element="WOZ:aslSh04"/>
	</message>
	<message name="bljLk02">
		<part name="body" element="WOZ:bljLk02"/>
	</message>
	<message name="bljSa02">
		<part name="body" element="WOZ:bljSa02"/>
	</message>
	<message name="bljSa04">
		<part name="body" element="WOZ:bljSa04"/>
	</message>
	<message name="bljSh02">
		<part name="body" element="WOZ:bljSh02"/>
	</message>
	<message name="bljSh04">
		<part name="body" element="WOZ:bljSh04"/>
	</message>
	<message name="bskLk02">
		<part name="body" element="WOZ:bskLk02"/>
	</message>
	<message name="bskSa02">
		<part name="body" element="WOZ:bskSa02"/>
	</message>
	<message name="bskSa04">
		<part name="body" element="WOZ:bskSa04"/>
	</message>
	<message name="bskSh02">
		<part name="body" element="WOZ:bskSh02"/>
	</message>
	<message name="bskSh04">
		<part name="body" element="WOZ:bskSh04"/>
	</message>
	<message name="bzwLk02">
		<part name="body" element="WOZ:bzwLk02"/>
	</message>
	<message name="bzwSa02">
		<part name="body" element="WOZ:bzwSa02"/>
	</message>
	<message name="bzwSa04">
		<part name="body" element="WOZ:bzwSa04"/>
	</message>
	<message name="bzwSh02">
		<part name="body" element="WOZ:bzwSh02"/>
	</message>
	<message name="bzwSh04">
		<part name="body" element="WOZ:bzwSh04"/>
	</message>
	<message name="ctlLk02">
		<part name="body" element="WOZ:ctlLk02"/>
	</message>
	<message name="ctlSa02">
		<part name="body" element="WOZ:ctlSa02"/>
	</message>
	<message name="ctlSa04">
		<part name="body" element="WOZ:ctlSa04"/>
	</message>
	<message name="ctlSh02">
		<part name="body" element="WOZ:ctlSh02"/>
	</message>
	<message name="ctlSh04">
		<part name="body" element="WOZ:ctlSh04"/>
	</message>
	<message name="kpaLk02">
		<part name="body" element="WOZ:kpaLk02"/>
	</message>
	<message name="kpaSa02">
		<part name="body" element="WOZ:kpaSa02"/>
	</message>
	<message name="kpaSa04">
		<part name="body" element="WOZ:kpaSa04"/>
	</message>
	<message name="nnpLk02">
		<part name="body" element="WOZ:nnpLk02"/>
	</message>
	<message name="nnpSa02">
		<part name="body" element="WOZ:nnpSa02"/>
	</message>
	<message name="nnpSa04">
		<part name="body" element="WOZ:nnpSa04"/>
	</message>
	<message name="npsLk02">
		<part name="body" element="WOZ:npsLk02"/>
	</message>
	<message name="npsSa02">
		<part name="body" element="WOZ:npsSa02"/>
	</message>
	<message name="npsSa04">
		<part name="body" element="WOZ:npsSa04"/>
	</message>
	<message name="rmaLk02">
		<part name="body" element="WOZ:rmaLk02"/>
	</message>
	<message name="rmaSa02">
		<part name="body" element="WOZ:rmaSa02"/>
	</message>
	<message name="rmaSa04">
		<part name="body" element="WOZ:rmaSa04"/>
	</message>
	<message name="socLk02">
		<part name="body" element="WOZ:socLk02"/>
	</message>
	<message name="socSa02">
		<part name="body" element="WOZ:socSa02"/>
	</message>
	<message name="socSa04">
		<part name="body" element="WOZ:socSa04"/>
	</message>
	<message name="swoLk02">
		<part name="body" element="WOZ:swoLk02"/>
	</message>
	<message name="swoSa02">
		<part name="body" element="WOZ:swoSa02"/>
	</message>
	<message name="swoSa04">
		<part name="body" element="WOZ:swoSa04"/>
	</message>
	<message name="swoSh02">
		<part name="body" element="WOZ:swoSh02"/>
	</message>
	<message name="swoSh04">
		<part name="body" element="WOZ:swoSh04"/>
	</message>
	<message name="taxLk02">
		<part name="body" element="WOZ:taxLk02"/>
	</message>
	<message name="taxSa02">
		<part name="body" element="WOZ:taxSa02"/>
	</message>
	<message name="taxSa04">
		<part name="body" element="WOZ:taxSa04"/>
	</message>
	<message name="taxSh02">
		<part name="body" element="WOZ:taxSh02"/>
	</message>
	<message name="taxSh04">
		<part name="body" element="WOZ:taxSh04"/>
	</message>
	<message name="trnLk02">
		<part name="body" element="WOZ:trnLk02"/>
	</message>
	<message name="trnSa02">
		<part name="body" element="WOZ:trnSa02"/>
	</message>
	<message name="trnSa04">
		<part name="body" element="WOZ:trnSa04"/>
	</message>
	<message name="tvnLk02">
		<part name="body" element="WOZ:tvnLk02"/>
	</message>
	<message name="tvnSa02">
		<part name="body" element="WOZ:tvnSa02"/>
	</message>
	<message name="tvnSa04">
		<part name="body" element="WOZ:tvnSa04"/>
	</message>
	<message name="tvwLk02">
		<part name="body" element="WOZ:tvwLk02"/>
	</message>
	<message name="tvwSa02">
		<part name="body" element="WOZ:tvwSa02"/>
	</message>
	<message name="tvwSa04">
		<part name="body" element="WOZ:tvwSa04"/>
	</message>
	<message name="vesLk02">
		<part name="body" element="WOZ:vesLk02"/>
	</message>
	<message name="vesSa02">
		<part name="body" element="WOZ:vesSa02"/>
	</message>
	<message name="vesSa04">
		<part name="body" element="WOZ:vesSa04"/>
	</message>
	<message name="wbpLk02">
		<part name="body" element="WOZ:wbpLk02"/>
	</message>
	<message name="wbpSa02">
		<part name="body" element="WOZ:wbpSa02"/>
	</message>
	<message name="wbpSa04">
		<part name="body" element="WOZ:wbpSa04"/>
	</message>
	<message name="wbpSh02">
		<part name="body" element="WOZ:wbpSh02"/>
	</message>
	<message name="wbpSh04">
		<part name="body" element="WOZ:wbpSh04"/>
	</message>
	<message name="wdcLk02">
		<part name="body" element="WOZ:wdcLk02"/>
	</message>
	<message name="wdcSa02">
		<part name="body" element="WOZ:wdcSa02"/>
	</message>
	<message name="wdcSa04">
		<part name="body" element="WOZ:wdcSa04"/>
	</message>
	<message name="wdoLk02">
		<part name="body" element="WOZ:wdoLk02"/>
	</message>
	<message name="wdoSa02">
		<part name="body" element="WOZ:wdoSa02"/>
	</message>
	<message name="wdoSa04">
		<part name="body" element="WOZ:wdoSa04"/>
	</message>
	<message name="wdoSh02">
		<part name="body" element="WOZ:wdoSh02"/>
	</message>
	<message name="wdoSh04">
		<part name="body" element="WOZ:wdoSh04"/>
	</message>
	<message name="wozLk02">
		<part name="body" element="WOZ:wozLk02"/>
	</message>
	<message name="wozSa02">
		<part name="body" element="WOZ:wozSa02"/>
	</message>
	<message name="wozSa04">
		<part name="body" element="WOZ:wozSa04"/>
	</message>
	<message name="wozSh02">
		<part name="body" element="WOZ:wozSh02"/>
	</message>
	<message name="wozSh04">
		<part name="body" element="WOZ:wozSh04"/>
	</message>
	<message name="wrdLk02">
		<part name="body" element="WOZ:wrdLk02"/>
	</message>
	<message name="wrdSa02">
		<part name="body" element="WOZ:wrdSa02"/>
	</message>
	<message name="wrdSa04">
		<part name="body" element="WOZ:wrdSa04"/>
	</message>
	<message name="wrdSh02">
		<part name="body" element="WOZ:wrdSh02"/>
	</message>
	<message name="wrdSh04">
		<part name="body" element="WOZ:wrdSh04"/>
	</message>
	<message name="wspLk02">
		<part name="body" element="WOZ:wspLk02"/>
	</message>
	<message name="wspSa02">
		<part name="body" element="WOZ:wspSa02"/>
	</message>
	<message name="wspSa04">
		<part name="body" element="WOZ:wspSa04"/>
	</message>
	<portType name="VerwerkSynchroneKennisgeving">
		<operation name="aslLk02">
			<input message="WOZ:aslLk02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="aslSa02">
			<input message="WOZ:aslSa02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="aslSa04">
			<input message="WOZ:aslSa04"/>
			<output message="WOZ:aslSa02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="aslSh02">
			<input message="WOZ:aslSh02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="aslSh04">
			<input message="WOZ:aslSh04"/>
			<output message="WOZ:aslSh02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="bljLk02">
			<input message="WOZ:bljLk02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="bljSa02">
			<input message="WOZ:bljSa02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="bljSa04">
			<input message="WOZ:bljSa04"/>
			<output message="WOZ:bljSa02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="bljSh02">
			<input message="WOZ:bljSh02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="bljSh04">
			<input message="WOZ:bljSh04"/>
			<output message="WOZ:bljSh02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="bskLk02">
			<input message="WOZ:bskLk02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="bskSa02">
			<input message="WOZ:bskSa02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="bskSa04">
			<input message="WOZ:bskSa04"/>
			<output message="WOZ:bskSa02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="bskSh02">
			<input message="WOZ:bskSh02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="bskSh04">
			<input message="WOZ:bskSh04"/>
			<output message="WOZ:bskSh02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="bzwLk02">
			<input message="WOZ:bzwLk02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="bzwSa02">
			<input message="WOZ:bzwSa02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="bzwSa04">
			<input message="WOZ:bzwSa04"/>
			<output message="WOZ:bzwSa02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="bzwSh02">
			<input message="WOZ:bzwSh02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="bzwSh04">
			<input message="WOZ:bzwSh04"/>
			<output message="WOZ:bzwSh02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="ctlLk02">
			<input message="WOZ:ctlLk02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="ctlSa02">
			<input message="WOZ:ctlSa02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="ctlSa04">
			<input message="WOZ:ctlSa04"/>
			<output message="WOZ:ctlSa02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="ctlSh02">
			<input message="WOZ:ctlSh02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="ctlSh04">
			<input message="WOZ:ctlSh04"/>
			<output message="WOZ:ctlSh02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="kpaLk02">
			<input message="WOZ:kpaLk02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="kpaSa02">
			<input message="WOZ:kpaSa02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="kpaSa04">
			<input message="WOZ:kpaSa04"/>
			<output message="WOZ:kpaSa02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="nnpLk02">
			<input message="WOZ:nnpLk02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="nnpSa02">
			<input message="WOZ:nnpSa02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="nnpSa04">
			<input message="WOZ:nnpSa04"/>
			<output message="WOZ:nnpSa02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="npsLk02">
			<input message="WOZ:npsLk02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="npsSa02">
			<input message="WOZ:npsSa02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="npsSa04">
			<input message="WOZ:npsSa04"/>
			<output message="WOZ:npsSa02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="rmaLk02">
			<input message="WOZ:rmaLk02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="rmaSa02">
			<input message="WOZ:rmaSa02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="rmaSa04">
			<input message="WOZ:rmaSa04"/>
			<output message="WOZ:rmaSa02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="socLk02">
			<input message="WOZ:socLk02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="socSa02">
			<input message="WOZ:socSa02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="socSa04">
			<input message="WOZ:socSa04"/>
			<output message="WOZ:socSa02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="swoLk02">
			<input message="WOZ:swoLk02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="swoSa02">
			<input message="WOZ:swoSa02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="swoSa04">
			<input message="WOZ:swoSa04"/>
			<output message="WOZ:swoSa02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="swoSh02">
			<input message="WOZ:swoSh02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="swoSh04">
			<input message="WOZ:swoSh04"/>
			<output message="WOZ:swoSh02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="taxLk02">
			<input message="WOZ:taxLk02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="taxSa02">
			<input message="WOZ:taxSa02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="taxSa04">
			<input message="WOZ:taxSa04"/>
			<output message="WOZ:taxSa02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="taxSh02">
			<input message="WOZ:taxSh02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="taxSh04">
			<input message="WOZ:taxSh04"/>
			<output message="WOZ:taxSh02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="trnLk02">
			<input message="WOZ:trnLk02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="trnSa02">
			<input message="WOZ:trnSa02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="trnSa04">
			<input message="WOZ:trnSa04"/>
			<output message="WOZ:trnSa02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="tvnLk02">
			<input message="WOZ:tvnLk02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="tvnSa02">
			<input message="WOZ:tvnSa02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="tvnSa04">
			<input message="WOZ:tvnSa04"/>
			<output message="WOZ:tvnSa02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="tvwLk02">
			<input message="WOZ:tvwLk02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="tvwSa02">
			<input message="WOZ:tvwSa02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="tvwSa04">
			<input message="WOZ:tvwSa04"/>
			<output message="WOZ:tvwSa02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="vesLk02">
			<input message="WOZ:vesLk02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="vesSa02">
			<input message="WOZ:vesSa02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="vesSa04">
			<input message="WOZ:vesSa04"/>
			<output message="WOZ:vesSa02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wbpLk02">
			<input message="WOZ:wbpLk02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wbpSa02">
			<input message="WOZ:wbpSa02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wbpSa04">
			<input message="WOZ:wbpSa04"/>
			<output message="WOZ:wbpSa02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wbpSh02">
			<input message="WOZ:wbpSh02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wbpSh04">
			<input message="WOZ:wbpSh04"/>
			<output message="WOZ:wbpSh02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wdcLk02">
			<input message="WOZ:wdcLk02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wdcSa02">
			<input message="WOZ:wdcSa02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wdcSa04">
			<input message="WOZ:wdcSa04"/>
			<output message="WOZ:wdcSa02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wdoLk02">
			<input message="WOZ:wdoLk02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wdoSa02">
			<input message="WOZ:wdoSa02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wdoSa04">
			<input message="WOZ:wdoSa04"/>
			<output message="WOZ:wdoSa02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wdoSh02">
			<input message="WOZ:wdoSh02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wdoSh04">
			<input message="WOZ:wdoSh04"/>
			<output message="WOZ:wdoSh02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wozLk02">
			<input message="WOZ:wozLk02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wozSa02">
			<input message="WOZ:wozSa02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wozSa04">
			<input message="WOZ:wozSa04"/>
			<output message="WOZ:wozSa02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wozSh02">
			<input message="WOZ:wozSh02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wozSh04">
			<input message="WOZ:wozSh04"/>
			<output message="WOZ:wozSh02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wrdLk02">
			<input message="WOZ:wrdLk02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wrdSa02">
			<input message="WOZ:wrdSa02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wrdSa04">
			<input message="WOZ:wrdSa04"/>
			<output message="WOZ:wrdSa02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wrdSh02">
			<input message="WOZ:wrdSh02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wrdSh04">
			<input message="WOZ:wrdSh04"/>
			<output message="WOZ:wrdSh02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wspLk02">
			<input message="WOZ:wspLk02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wspSa02">
			<input message="WOZ:wspSa02"/>
			<output message="StUF:Bv02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wspSa04">
			<input message="WOZ:wspSa04"/>
			<output message="WOZ:wspSa02"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
	</portType>
	<binding name="SOAPVerwerkSynchroneKennisgeving" type="WOZ:VerwerkSynchroneKennisgeving">
		<documentation>
Omdat de uit te wisselen berichten volledig gedefinieerd zijn in het sectormodel cq de StUF-standaard, kunnen we ze zonder verdere encoding (“literal”) opnemen in de body.
Niet ondersteunde berichten kunnen uit de binding en portType worden verwijderd.
			</documentation>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		<operation name="aslLk02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/aslLk02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="aslSa02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/aslSa02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="aslSa04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/aslSa04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="aslSh02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/aslSh02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="aslSh04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/aslSh04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="bljLk02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/bljLk02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="bljSa02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/bljSa02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="bljSa04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/bljSa04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="bljSh02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/bljSh02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="bljSh04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/bljSh04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="bskLk02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/bskLk02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="bskSa02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/bskSa02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="bskSa04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/bskSa04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="bskSh02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/bskSh02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="bskSh04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/bskSh04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="bzwLk02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/bzwLk02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="bzwSa02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/bzwSa02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="bzwSa04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/bzwSa04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="bzwSh02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/bzwSh02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="bzwSh04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/bzwSh04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="ctlLk02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/ctlLk02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="ctlSa02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/ctlSa02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="ctlSa04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/ctlSa04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="ctlSh02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/ctlSh02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="ctlSh04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/ctlSh04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="kpaLk02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/kpaLk02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="kpaSa02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/kpaSa02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="kpaSa04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/kpaSa04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="nnpLk02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/nnpLk02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="nnpSa02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/nnpSa02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="nnpSa04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/nnpSa04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="npsLk02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/npsLk02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="npsSa02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/npsSa02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="npsSa04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/npsSa04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="rmaLk02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/rmaLk02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="rmaSa02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/rmaSa02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="rmaSa04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/rmaSa04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="socLk02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/socLk02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="socSa02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/socSa02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="socSa04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/socSa04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="swoLk02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/swoLk02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="swoSa02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/swoSa02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="swoSa04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/swoSa04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="swoSh02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/swoSh02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="swoSh04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/swoSh04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="taxLk02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/taxLk02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="taxSa02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/taxSa02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="taxSa04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/taxSa04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="taxSh02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/taxSh02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="taxSh04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/taxSh04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="trnLk02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/trnLk02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="trnSa02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/trnSa02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="trnSa04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/trnSa04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="tvnLk02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/tvnLk02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="tvnSa02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/tvnSa02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="tvnSa04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/tvnSa04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="tvwLk02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/tvwLk02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="tvwSa02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/tvwSa02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="tvwSa04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/tvwSa04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="vesLk02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/vesLk02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="vesSa02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/vesSa02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="vesSa04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/vesSa04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="wbpLk02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wbpLk02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="wbpSa02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wbpSa02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="wbpSa04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wbpSa04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="wbpSh02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wbpSh02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="wbpSh04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wbpSh04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="wdcLk02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wdcLk02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="wdcSa02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wdcSa02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="wdcSa04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wdcSa04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="wdoLk02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wdoLk02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="wdoSa02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wdoSa02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="wdoSa04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wdoSa04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="wdoSh02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wdoSh02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="wdoSh04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wdoSh04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="wozLk02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wozLk02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="wozSa02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wozSa02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="wozSa04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wozSa04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="wozSh02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wozSh02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="wozSh04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wozSh04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="wrdLk02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wrdLk02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="wrdSa02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wrdSa02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="wrdSa04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wrdSa04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="wrdSh02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wrdSh02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="wrdSh04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wrdSh04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="wspLk02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wspLk02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="wspSa02">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wspSa02" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
		<operation name="wspSa04">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wspSa04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</fault>
		</operation>
	</binding>
	<service name="VerwerkSynchroneKennisgeving">
		<documentation>
	Hieronder wordt de concreet aan te roepen service voor het beantwoorden van synchrone WOZ0312-kennisgevingen en synchronisatieberichten gedefinieerd. In het attribute location in het element soap:address dient nog de correcte URL te worden ingevuld.
		</documentation>
		<port name="VerwerkSynchroneKennisgeving" binding="WOZ:SOAPVerwerkSynchroneKennisgeving">
			<documentation>
				<wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soap:address location="http://example.com/VerwerkSynchroonVrijBericht"/>
		</port>
	</service>
</definitions>
