brmo-stufwoz312/src/XSD-Resolver/toresolve/woz0312/vraagAntwoord/woz0312_beantwoordVraag_vraagAntwoord.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:WOZ="http://www.waarderingskamer.nl/StUF/0312" xmlns:StUF="http://www.egem.nl/StUF/StUF0301" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" name="StUF-WOZ0312" targetNamespace="http://www.waarderingskamer.nl/StUF/0312">
	<documentation>
		Deze wsdl definieert de BeantwoordVraag webservice voor een WOZ procesapplicatie
		
		Versie 031202:
		- de berichten nnp/nps/vesLv01/La01 toegevoegd
	</documentation>
	<import namespace="http://www.egem.nl/StUF/StUF0301" location="../../0301/stuf0301_types.wsdl"/>
	<types>
		<xs:schema>
			<xs:import namespace="http://www.waarderingskamer.nl/StUF/0312" schemaLocation="woz0312_msg_vraagAntwoord.xsd"/>
		</xs:schema>
	</types>
	<message name="aslLa01">
		<part name="body" element="WOZ:aslLa01"/>
	</message>
	<message name="aslLa03">
		<part name="body" element="WOZ:aslLa03"/>
	</message>
	<message name="aslLa07">
		<part name="body" element="WOZ:aslLa07"/>
	</message>
	<message name="aslLv01">
		<part name="body" element="WOZ:aslLv01"/>
	</message>
	<message name="aslLv03">
		<part name="body" element="WOZ:aslLv03"/>
	</message>
	<message name="aslLv07">
		<part name="body" element="WOZ:aslLv07"/>
	</message>
	<message name="bljLa01">
		<part name="body" element="WOZ:bljLa01"/>
	</message>
	<message name="bljLa03">
		<part name="body" element="WOZ:bljLa03"/>
	</message>
	<message name="bljLa07">
		<part name="body" element="WOZ:bljLa07"/>
	</message>
	<message name="bljLv01">
		<part name="body" element="WOZ:bljLv01"/>
	</message>
	<message name="bljLv03">
		<part name="body" element="WOZ:bljLv03"/>
	</message>
	<message name="bljLv07">
		<part name="body" element="WOZ:bljLv07"/>
	</message>
	<message name="bskLa01">
		<part name="body" element="WOZ:bskLa01"/>
	</message>
	<message name="bskLa03">
		<part name="body" element="WOZ:bskLa03"/>
	</message>
	<message name="bskLa05">
		<part name="body" element="WOZ:bskLa05"/>
	</message>
	<message name="bskLa07">
		<part name="body" element="WOZ:bskLa07"/>
	</message>
	<message name="bskLa09">
		<part name="body" element="WOZ:bskLa09"/>
	</message>
	<message name="bskLv01">
		<part name="body" element="WOZ:bskLv01"/>
	</message>
	<message name="bskLv03">
		<part name="body" element="WOZ:bskLv03"/>
	</message>
	<message name="bskLv05">
		<part name="body" element="WOZ:bskLv05"/>
	</message>
	<message name="bskLv07">
		<part name="body" element="WOZ:bskLv07"/>
	</message>
	<message name="bskLv09">
		<part name="body" element="WOZ:bskLv09"/>
	</message>
	<message name="bzwLa01">
		<part name="body" element="WOZ:bzwLa01"/>
	</message>
	<message name="bzwLa03">
		<part name="body" element="WOZ:bzwLa03"/>
	</message>
	<message name="bzwLa07">
		<part name="body" element="WOZ:bzwLa07"/>
	</message>
	<message name="bzwLv01">
		<part name="body" element="WOZ:bzwLv01"/>
	</message>
	<message name="bzwLv03">
		<part name="body" element="WOZ:bzwLv03"/>
	</message>
	<message name="bzwLv07">
		<part name="body" element="WOZ:bzwLv07"/>
	</message>
	<message name="ctlLa01">
		<part name="body" element="WOZ:ctlLa01"/>
	</message>
	<message name="ctlLa03">
		<part name="body" element="WOZ:ctlLa03"/>
	</message>
	<message name="ctlLa07">
		<part name="body" element="WOZ:ctlLa07"/>
	</message>
	<message name="ctlLv01">
		<part name="body" element="WOZ:ctlLv01"/>
	</message>
	<message name="ctlLv03">
		<part name="body" element="WOZ:ctlLv03"/>
	</message>
	<message name="ctlLv07">
		<part name="body" element="WOZ:ctlLv07"/>
	</message>
	<message name="kpaLa01">
		<part name="body" element="WOZ:kpaLa01"/>
	</message>
	<message name="kpaLv01">
		<part name="body" element="WOZ:kpaLv01"/>
	</message>
	<message name="nnpLa01">
		<part name="body" element="WOZ:nnpLa01"/>
	</message>
	<message name="nnpLv01">
		<part name="body" element="WOZ:nnpLv01"/>
	</message>
	<message name="npsLa01">
		<part name="body" element="WOZ:npsLa01"/>
	</message>
	<message name="npsLv01">
		<part name="body" element="WOZ:npsLv01"/>
	</message>
	<message name="rmaLa01">
		<part name="body" element="WOZ:rmaLa01"/>
	</message>
	<message name="rmaLv01">
		<part name="body" element="WOZ:rmaLv01"/>
	</message>
	<message name="socLa01">
		<part name="body" element="WOZ:socLa01"/>
	</message>
	<message name="socLv01">
		<part name="body" element="WOZ:socLv01"/>
	</message>
	<message name="swoLa01">
		<part name="body" element="WOZ:swoLa01"/>
	</message>
	<message name="swoLa03">
		<part name="body" element="WOZ:swoLa03"/>
	</message>
	<message name="swoLa05">
		<part name="body" element="WOZ:swoLa05"/>
	</message>
	<message name="swoLa07">
		<part name="body" element="WOZ:swoLa07"/>
	</message>
	<message name="swoLa09">
		<part name="body" element="WOZ:swoLa09"/>
	</message>
	<message name="swoLv01">
		<part name="body" element="WOZ:swoLv01"/>
	</message>
	<message name="swoLv03">
		<part name="body" element="WOZ:swoLv03"/>
	</message>
	<message name="swoLv05">
		<part name="body" element="WOZ:swoLv05"/>
	</message>
	<message name="swoLv07">
		<part name="body" element="WOZ:swoLv07"/>
	</message>
	<message name="swoLv09">
		<part name="body" element="WOZ:swoLv09"/>
	</message>
	<message name="taxLa01">
		<part name="body" element="WOZ:taxLa01"/>
	</message>
	<message name="taxLa03">
		<part name="body" element="WOZ:taxLa03"/>
	</message>
	<message name="taxLa07">
		<part name="body" element="WOZ:taxLa07"/>
	</message>
	<message name="taxLv01">
		<part name="body" element="WOZ:taxLv01"/>
	</message>
	<message name="taxLv03">
		<part name="body" element="WOZ:taxLv03"/>
	</message>
	<message name="taxLv07">
		<part name="body" element="WOZ:taxLv07"/>
	</message>
	<message name="trnLa01">
		<part name="body" element="WOZ:trnLa01"/>
	</message>
	<message name="trnLv01">
		<part name="body" element="WOZ:trnLv01"/>
	</message>
	<message name="tvnLa01">
		<part name="body" element="WOZ:tvnLa01"/>
	</message>
	<message name="tvnLv01">
		<part name="body" element="WOZ:tvnLv01"/>
	</message>
	<message name="tvwLa01">
		<part name="body" element="WOZ:tvwLa01"/>
	</message>
	<message name="tvwLv01">
		<part name="body" element="WOZ:tvwLv01"/>
	</message>
	<message name="vesLa01">
		<part name="body" element="WOZ:vesLa01"/>
	</message>
	<message name="vesLv01">
		<part name="body" element="WOZ:vesLv01"/>
	</message>
	<message name="wbpLa01">
		<part name="body" element="WOZ:wbpLa01"/>
	</message>
	<message name="wbpLa03">
		<part name="body" element="WOZ:wbpLa03"/>
	</message>
	<message name="wbpLa07">
		<part name="body" element="WOZ:wbpLa07"/>
	</message>
	<message name="wbpLv01">
		<part name="body" element="WOZ:wbpLv01"/>
	</message>
	<message name="wbpLv03">
		<part name="body" element="WOZ:wbpLv03"/>
	</message>
	<message name="wbpLv07">
		<part name="body" element="WOZ:wbpLv07"/>
	</message>
	<message name="wdcLa01">
		<part name="body" element="WOZ:wdcLa01"/>
	</message>
	<message name="wdcLv01">
		<part name="body" element="WOZ:wdcLv01"/>
	</message>
	<message name="wdoLa01">
		<part name="body" element="WOZ:wdoLa01"/>
	</message>
	<message name="wdoLa03">
		<part name="body" element="WOZ:wdoLa03"/>
	</message>
	<message name="wdoLa05">
		<part name="body" element="WOZ:wdoLa05"/>
	</message>
	<message name="wdoLa07">
		<part name="body" element="WOZ:wdoLa07"/>
	</message>
	<message name="wdoLa09">
		<part name="body" element="WOZ:wdoLa09"/>
	</message>
	<message name="wdoLv01">
		<part name="body" element="WOZ:wdoLv01"/>
	</message>
	<message name="wdoLv03">
		<part name="body" element="WOZ:wdoLv03"/>
	</message>
	<message name="wdoLv05">
		<part name="body" element="WOZ:wdoLv05"/>
	</message>
	<message name="wdoLv07">
		<part name="body" element="WOZ:wdoLv07"/>
	</message>
	<message name="wdoLv09">
		<part name="body" element="WOZ:wdoLv09"/>
	</message>
	<message name="wozLa01">
		<part name="body" element="WOZ:wozLa01"/>
	</message>
	<message name="wozLa03">
		<part name="body" element="WOZ:wozLa03"/>
	</message>
	<message name="wozLa05">
		<part name="body" element="WOZ:wozLa05"/>
	</message>
	<message name="wozLa07">
		<part name="body" element="WOZ:wozLa07"/>
	</message>
	<message name="wozLa09">
		<part name="body" element="WOZ:wozLa09"/>
	</message>
	<message name="wozLv01">
		<part name="body" element="WOZ:wozLv01"/>
	</message>
	<message name="wozLv03">
		<part name="body" element="WOZ:wozLv03"/>
	</message>
	<message name="wozLv05">
		<part name="body" element="WOZ:wozLv05"/>
	</message>
	<message name="wozLv07">
		<part name="body" element="WOZ:wozLv07"/>
	</message>
	<message name="wozLv09">
		<part name="body" element="WOZ:wozLv09"/>
	</message>
	<message name="wrdLa01">
		<part name="body" element="WOZ:wrdLa01"/>
	</message>
	<message name="wrdLa03">
		<part name="body" element="WOZ:wrdLa03"/>
	</message>
	<message name="wrdLa05">
		<part name="body" element="WOZ:wrdLa05"/>
	</message>
	<message name="wrdLa07">
		<part name="body" element="WOZ:wrdLa07"/>
	</message>
	<message name="wrdLa09">
		<part name="body" element="WOZ:wrdLa09"/>
	</message>
	<message name="wrdLv01">
		<part name="body" element="WOZ:wrdLv01"/>
	</message>
	<message name="wrdLv03">
		<part name="body" element="WOZ:wrdLv03"/>
	</message>
	<message name="wrdLv05">
		<part name="body" element="WOZ:wrdLv05"/>
	</message>
	<message name="wrdLv07">
		<part name="body" element="WOZ:wrdLv07"/>
	</message>
	<message name="wrdLv09">
		<part name="body" element="WOZ:wrdLv09"/>
	</message>
	<message name="wspLa01">
		<part name="body" element="WOZ:wspLa01"/>
	</message>
	<message name="wspLv01">
		<part name="body" element="WOZ:wspLv01"/>
	</message>
	<portType name="BeantwoordVraag">
		<operation name="aslLv01">
			<input message="WOZ:aslLv01"/>
			<output message="WOZ:aslLa01"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="aslLv03">
			<input message="WOZ:aslLv03"/>
			<output message="WOZ:aslLa03"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="aslLv07">
			<input message="WOZ:aslLv07"/>
			<output message="WOZ:aslLa07"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="bljLv01">
			<input message="WOZ:bljLv01"/>
			<output message="WOZ:bljLa01"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="bljLv03">
			<input message="WOZ:bljLv03"/>
			<output message="WOZ:bljLa03"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="bljLv07">
			<input message="WOZ:bljLv07"/>
			<output message="WOZ:bljLa07"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="bskLv01">
			<input message="WOZ:bskLv01"/>
			<output message="WOZ:bskLa01"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="bskLv03">
			<input message="WOZ:bskLv03"/>
			<output message="WOZ:bskLa03"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="bskLv05">
			<input message="WOZ:bskLv05"/>
			<output message="WOZ:bskLa05"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="bskLv07">
			<input message="WOZ:bskLv07"/>
			<output message="WOZ:bskLa07"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="bskLv09">
			<input message="WOZ:bskLv09"/>
			<output message="WOZ:bskLa09"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="bzwLv01">
			<input message="WOZ:bzwLv01"/>
			<output message="WOZ:bzwLa01"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="bzwLv03">
			<input message="WOZ:bzwLv03"/>
			<output message="WOZ:bzwLa03"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="bzwLv07">
			<input message="WOZ:bzwLv07"/>
			<output message="WOZ:bzwLa07"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="ctlLv01">
			<input message="WOZ:ctlLv01"/>
			<output message="WOZ:ctlLa01"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="ctlLv03">
			<input message="WOZ:ctlLv03"/>
			<output message="WOZ:ctlLa03"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="ctlLv07">
			<input message="WOZ:ctlLv07"/>
			<output message="WOZ:ctlLa07"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="kpaLv01">
			<input message="WOZ:kpaLv01"/>
			<output message="WOZ:kpaLa01"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="nnpLv01">
			<input message="WOZ:nnpLv01"/>
			<output message="WOZ:nnpLa01"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="npsLv01">
			<input message="WOZ:npsLv01"/>
			<output message="WOZ:npsLa01"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="rmaLv01">
			<input message="WOZ:rmaLv01"/>
			<output message="WOZ:rmaLa01"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="socLv01">
			<input message="WOZ:socLv01"/>
			<output message="WOZ:socLa01"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="swoLv01">
			<input message="WOZ:swoLv01"/>
			<output message="WOZ:swoLa01"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="swoLv03">
			<input message="WOZ:swoLv03"/>
			<output message="WOZ:swoLa03"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="swoLv05">
			<input message="WOZ:swoLv05"/>
			<output message="WOZ:swoLa05"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="swoLv07">
			<input message="WOZ:swoLv07"/>
			<output message="WOZ:swoLa07"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="swoLv09">
			<input message="WOZ:swoLv09"/>
			<output message="WOZ:swoLa09"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="taxLv01">
			<input message="WOZ:taxLv01"/>
			<output message="WOZ:taxLa01"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="taxLv03">
			<input message="WOZ:taxLv03"/>
			<output message="WOZ:taxLa03"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="taxLv07">
			<input message="WOZ:taxLv07"/>
			<output message="WOZ:taxLa07"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="trnLv01">
			<input message="WOZ:trnLv01"/>
			<output message="WOZ:trnLa01"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="tvnLv01">
			<input message="WOZ:tvnLv01"/>
			<output message="WOZ:tvnLa01"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="tvwLv01">
			<input message="WOZ:tvwLv01"/>
			<output message="WOZ:tvwLa01"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="vesLv01">
			<input message="WOZ:vesLv01"/>
			<output message="WOZ:vesLa01"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wbpLv01">
			<input message="WOZ:wbpLv01"/>
			<output message="WOZ:wbpLa01"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wbpLv03">
			<input message="WOZ:wbpLv03"/>
			<output message="WOZ:wbpLa03"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wbpLv07">
			<input message="WOZ:wbpLv07"/>
			<output message="WOZ:wbpLa07"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wdcLv01">
			<input message="WOZ:wdcLv01"/>
			<output message="WOZ:wdcLa01"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wdoLv01">
			<input message="WOZ:wdoLv01"/>
			<output message="WOZ:wdoLa01"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wdoLv03">
			<input message="WOZ:wdoLv03"/>
			<output message="WOZ:wdoLa03"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wdoLv05">
			<input message="WOZ:wdoLv05"/>
			<output message="WOZ:wdoLa05"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wdoLv07">
			<input message="WOZ:wdoLv07"/>
			<output message="WOZ:wdoLa07"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wdoLv09">
			<input message="WOZ:wdoLv09"/>
			<output message="WOZ:wdoLa09"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wozLv01">
			<input message="WOZ:wozLv01"/>
			<output message="WOZ:wozLa01"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wozLv03">
			<input message="WOZ:wozLv03"/>
			<output message="WOZ:wozLa03"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wozLv05">
			<input message="WOZ:wozLv05"/>
			<output message="WOZ:wozLa05"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wozLv07">
			<input message="WOZ:wozLv07"/>
			<output message="WOZ:wozLa07"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wozLv09">
			<input message="WOZ:wozLv09"/>
			<output message="WOZ:wozLa09"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wrdLv01">
			<input message="WOZ:wrdLv01"/>
			<output message="WOZ:wrdLa01"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wrdLv03">
			<input message="WOZ:wrdLv03"/>
			<output message="WOZ:wrdLa03"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wrdLv05">
			<input message="WOZ:wrdLv05"/>
			<output message="WOZ:wrdLa05"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wrdLv07">
			<input message="WOZ:wrdLv07"/>
			<output message="WOZ:wrdLa07"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wrdLv09">
			<input message="WOZ:wrdLv09"/>
			<output message="WOZ:wrdLa09"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
		<operation name="wspLv01">
			<input message="WOZ:wspLv01"/>
			<output message="WOZ:wspLa01"/>
			<fault name="fout" message="StUF:Fo02"/>
		</operation>
	</portType>
	<binding name="SOAPBeantwoordVraag" type="WOZ:BeantwoordVraag">
		<documentation>
			Omdat de uit te wisselen berichten volledig gedefinieerd zijn in het sectormodel cq de StUF-standaard, kunnen we ze zonder verdere encoding (“literal”) opnemen in de body.
Niet ondersteunde berichten kunnen uit de binding en portType worden verwijderd.
		</documentation>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="aslLv01">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/aslLv01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="aslLv03">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/aslLv03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="aslLv07">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/aslLv07"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bljLv01">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/bljLv01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bljLv03">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/bljLv03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bljLv07">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/bljLv07"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bskLv01">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/bskLv01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bskLv03">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/bskLv03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bskLv05">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/bskLv05"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bskLv07">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/bskLv07"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bskLv09">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/bskLv09"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bzwLv01">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/bzwLv01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bzwLv03">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/bzwLv03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bzwLv07">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/bzwLv07"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="ctlLv01">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/ctlLv01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="ctlLv03">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/ctlLv03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="ctlLv07">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/ctlLv07"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="kpaLv01">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/kpaLv01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="nnpLv01">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/nnpLv01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="npsLv01">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/npsLv01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="rmaLv01">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/rmaLv01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="socLv01">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/socLv01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="swoLv01">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/swoLv01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="swoLv03">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/swoLv03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="swoLv05">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/swoLv05"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="swoLv07">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/swoLv07"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="swoLv09">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/swoLv09"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="taxLv01">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/taxLv01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="taxLv03">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/taxLv03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="taxLv07">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/taxLv07"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="trnLv01">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/trnLv01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="tvnLv01">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/tvnLv01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="tvwLv01">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/tvwLv01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="vesLv01">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/vesLv01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wbpLv01">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wbpLv01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wbpLv03">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wbpLv03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wbpLv07">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wbpLv07"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wdcLv01">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wdcLv01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wdoLv01">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wdoLv01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wdoLv03">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wdoLv03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wdoLv05">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wdoLv05"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wdoLv07">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wdoLv07"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wdoLv09">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wdoLv09"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wozLv01">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wozLv01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wozLv03">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wozLv03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wozLv05">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wozLv05"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wozLv07">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wozLv07"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wozLv09">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wozLv09"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wrdLv01">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wrdLv01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wrdLv03">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wrdLv03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wrdLv05">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wrdLv05"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wrdLv07">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wrdLv07"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wrdLv09">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wrdLv09"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wspLv01">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wspLv01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="BeantwoordVraag">
		<documentation>
	Hieronder wordt de concreet aan te roepen service voor het beantwoorden van synchrone WOZ0312-vraagberichten gedefinieerd. In het attribute location in het element soap:address dient nog de correcte URL te worden ingevuld.
		</documentation>
		<port name="BeantwoordVraag" binding="WOZ:SOAPBeantwoordVraag">
			<documentation>
				<wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soap:address location="http://example.com/BeantwoordVraag"/>
		</port>
	</service>
</definitions>
