brmo-stufwoz312/src/XSD-Resolver/toresolve/woz0312/vraagAntwoord/woz0312_bg0310_vraagAntwoord.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 4 (x64) (http://www.altova.com) by Maarten van den Broek (messageDesign B.V.) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:StUF="http://www.egem.nl/StUF/StUF0301" xmlns:BG="http://www.egem.nl/StUF/sector/bg/0310" targetNamespace="http://www.egem.nl/StUF/sector/bg/0310" elementFormDefault="qualified" attributeFormDefault="unqualified" version="031207">
	<annotation>
		<documentation>
			Dit schema bevat de restricties van BG-types tbv de vraag- en antwoordberichten ter ondersteuning van de gemeentelijke WOZ-processen.
			
			Wijzigingen vergeleken met versie 031206:
			- Waar nodig het attribute noValue toegevoegd en op een aantal plaatsen de definitie van de attributes verbeterd
 		</documentation>
	</annotation>
	<include schemaLocation="../entiteiten/woz0312_bg0310_ent_basis.xsd"/>
	<import namespace="http://www.egem.nl/StUF/StUF0301" schemaLocation="../entiteiten/woz0312_stuf_simpleTypes.xsd"/>
	<complexType name="AOA-woz-antwoord">
		<complexContent>
			<restriction base="BG:AOA-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true" minOccurs="0"/>
					<element name="wpl.woonplaatsNaam" type="BG:NaamgevingObject-e" nillable="true" minOccurs="0"/>
					<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true" minOccurs="0"/>
					<element name="huisnummer" type="BG:Huisnummering-e" nillable="true" minOccurs="0"/>
					<element name="huisletter" type="BG:Huislettering-e" nillable="true" minOccurs="0"/>
					<element name="huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true" minOccurs="0"/>
					<element name="postcode" type="BG:Postcode-e" nillable="true" minOccurs="0"/>
					<element name="gor.straatnaam" type="BG:Straatnaam-e" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AOA-woz-vraag">
		<complexContent>
			<restriction base="BG:AOA-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true" minOccurs="0"/>
					<element name="wpl.woonplaatsNaam" type="BG:NaamgevingObject-e" nillable="true" minOccurs="0"/>
					<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true" minOccurs="0"/>
					<element name="huisnummer" type="BG:Huisnummering-e" nillable="true" minOccurs="0"/>
					<element name="huisletter" type="BG:Huislettering-e" nillable="true" minOccurs="0"/>
					<element name="huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true" minOccurs="0"/>
					<element name="postcode" type="BG:Postcode-e" nillable="true" minOccurs="0"/>
					<element name="gor.straatnaam" type="BG:Straatnaam-e" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AOT-woz-antwoord">
		<complexContent>
			<restriction base="BG:AOT-woz-basis">
				<choice minOccurs="0">
					<choice minOccurs="0">
						<element name="ligplaats" type="BG:LIG-woz-antwoord" minOccurs="0"/>
						<element name="standplaats" type="BG:STA-woz-antwoord" minOccurs="0"/>
						<element name="verblijfsobject" type="BG:VBO-woz-antwoord" minOccurs="0"/>
					</choice>
				</choice>
				<attribute ref="StUF:entiteittype" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AOT-woz-vraagScope">
		<complexContent>
			<restriction base="BG:AOT-woz-basis">
				<choice minOccurs="0">
					<choice minOccurs="0" maxOccurs="3">
						<element name="ligplaats" type="BG:LIG-woz-vraag" minOccurs="0"/>
						<element name="standplaats" type="BG:STA-woz-vraag" minOccurs="0"/>
						<element name="verblijfsobject" type="BG:VBO-woz-vraag" minOccurs="0"/>
					</choice>
				</choice>
				<attribute ref="StUF:entiteittype" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AOT-woz-vraagSelectie">
		<complexContent>
			<restriction base="BG:AOT-woz-basis">
				<choice minOccurs="0">
					<sequence minOccurs="0">
						<element name="identificatie" type="BG:ObjectNummering-e" nillable="true" minOccurs="0"/>
						<element name="adresAanduidingGrp" type="BG:AdrGrp-woz-basis" minOccurs="0"/>
					</sequence>
				</choice>
				<attribute ref="StUF:entiteittype" use="required" fixed="AOT"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="KOZ-woz-antwoord">
		<complexContent>
			<restriction base="BG:KOZ-woz-basis">
				<sequence minOccurs="0">
					<element name="kadastraleIdentificatie" type="BG:KadastraleIdentificatie-e" nillable="true" minOccurs="0"/>
					<element name="kadastraleAanduiding" type="BG:KadastraleAanduidingGrp-basis" minOccurs="0"/>
					<choice minOccurs="0">
						<sequence minOccurs="0">
							<element name="kdp.grootte" type="BG:Maateenheid8-2-neg-e" nillable="true" minOccurs="0"/>
						</sequence>
						<sequence minOccurs="0"/>
					</choice>
					<element name="ingangsdatumObject" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
					<element name="einddatumObject" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="KOZ-woz-vraagScope">
		<complexContent>
			<restriction base="BG:KOZ-woz-basis">
				<sequence minOccurs="0">
					<element name="kadastraleIdentificatie" type="BG:KadastraleIdentificatie-e" nillable="true" minOccurs="0"/>
					<element name="kadastraleAanduiding" type="BG:KadastraleAanduidingGrp" minOccurs="0"/>
					<choice minOccurs="0">
						<sequence minOccurs="0">
							<element name="kdp.grootte" type="BG:Maateenheid8-2-neg-e" nillable="true" minOccurs="0"/>
						</sequence>
						<sequence minOccurs="0"/>
					</choice>
					<element name="ingangsdatumObject" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
					<element name="einddatumObject" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="KOZ-woz-vraagSelectie">
		<complexContent>
			<restriction base="BG:KOZ-woz-basis">
				<sequence minOccurs="0">
					<element name="kadastraleIdentificatie" type="BG:KadastraleIdentificatie-e" nillable="true" minOccurs="0"/>
					<element name="kadastraleAanduiding" type="BG:KadastraleAanduidingGrp-basis" minOccurs="0"/>
					<choice minOccurs="0">
						<sequence minOccurs="0">
							<element name="kdp.grootte" type="BG:Maateenheid8-2-neg-e" nillable="true" minOccurs="0"/>
						</sequence>
						<sequence minOccurs="0"/>
					</choice>
					<element name="ingangsdatumObject" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
					<element name="einddatumObject" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="LIG-woz-antwoord">
		<complexContent>
			<restriction base="BG:LIG-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true" minOccurs="0"/>
					<element name="adresAanduidingGrp" type="BG:AdrGrp-woz-basis" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="LIG-woz-vraag">
		<complexContent>
			<restriction base="BG:LIG-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true" minOccurs="0"/>
					<element name="adresAanduidingGrp" type="BG:AdrGrp-woz-basis" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="MAC-woz-antwoord">
		<complexContent>
			<restriction base="BG:MAC-basis">
				<sequence>
					<element name="kvkNummer" type="BG:KvKNummer-e" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:entiteittype" use="required" fixed="MAC"/>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NNP-woz-antwoord">
		<complexContent>
			<restriction base="BG:NNP-woz-basis">
				<sequence>
					<choice minOccurs="0">
						<sequence minOccurs="0">
							<element name="inn.nnpId" type="BG:BSN-e" nillable="true" minOccurs="0"/>
							<element name="authentiek" type="BG:Authentiek" minOccurs="0"/>
						</sequence>
						<element name="ann.identificatie" type="BG:IdentificatieRPSBTL-e" nillable="true" minOccurs="0"/>
					</choice>
					<element name="statutaireNaam" type="BG:StatutaireNaam-e" nillable="true" minOccurs="0"/>
					<element name="sub.correspondentieAdres" type="BG:CorrespondentieAdrGrp-woz-basis" minOccurs="0"/>
					<choice minOccurs="0">
						<element name="sub.verblijfBuitenland" type="BG:VerblijfBuitenlandGrp" minOccurs="0"/>
					</choice>
					<element name="rps.isEigenaarVan" type="BG:NNPMAC-woz-antwoord" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NNP-woz-vraagScope">
		<complexContent>
			<restriction base="BG:NNP-woz-basis">
				<sequence>
					<choice minOccurs="0" maxOccurs="2">
						<sequence minOccurs="0">
							<element name="inn.nnpId" type="BG:BSN-e" nillable="true" minOccurs="0"/>
							<element name="authentiek" type="BG:Authentiek" nillable="true" minOccurs="0"/>
						</sequence>
						<element name="ann.identificatie" type="BG:IdentificatieRPSBTL-e" nillable="true" minOccurs="0"/>
					</choice>
					<element name="statutaireNaam" type="BG:StatutaireNaam-e" nillable="true" minOccurs="0"/>
					<element name="sub.correspondentieAdres" type="BG:CorrespondentieAdrGrp-woz-vraagScope" minOccurs="0"/>
					<choice minOccurs="0">
						<element name="sub.verblijfBuitenland" type="BG:VerblijfBuitenlandGrp" minOccurs="0"/>
					</choice>
					<element name="rps.isEigenaarVan" type="BG:NNPMAC-woz-antwoord" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NNP-woz-vraagSelectie">
		<complexContent>
			<restriction base="BG:NNP-woz-basis">
				<sequence>
					<choice minOccurs="0">
						<sequence minOccurs="0">
							<element name="inn.nnpId" type="BG:BSN-e" nillable="true" minOccurs="0"/>
						</sequence>
						<element name="ann.identificatie" type="BG:IdentificatieRPSBTL-e" nillable="true" minOccurs="0"/>
					</choice>
					<element name="statutaireNaam" type="BG:StatutaireNaam-e" nillable="true" minOccurs="0"/>
					<element name="sub.correspondentieAdres" type="BG:CorrespondentieAdrGrp-woz-basis" minOccurs="0"/>
					<choice minOccurs="0">
						<element name="sub.verblijfBuitenland" type="BG:VerblijfBuitenlandGrp" minOccurs="0"/>
					</choice>
					<element name="rps.isEigenaarVan" type="BG:NNPMAC-woz-antwoord" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NNPMAC-woz-antwoord">
		<complexContent>
			<restriction base="BG:NNPMAC-basis">
				<sequence>
					<element name="gerelateerde" type="BG:MAC-woz-antwoord" nillable="true"/>
				</sequence>
				<attribute ref="StUF:entiteittype" use="required" fixed="NNPMAC"/>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NPS-woz-antwoord">
		<complexContent>
			<restriction base="BG:NPS-woz-basis">
				<sequence>
					<choice minOccurs="0">
						<sequence minOccurs="0">
							<element name="inp.bsn" type="BG:BSN-e" nillable="true" minOccurs="0"/>
							<element name="authentiek" type="BG:Authentiek" nillable="true" minOccurs="0"/>
						</sequence>
						<element name="anp.identificatie" type="BG:IdentificatieRPSBTL-e" nillable="true" minOccurs="0"/>
					</choice>
					<element name="geslachtsnaam" type="BG:Geslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="voorvoegselGeslachtsnaam" type="BG:VoorvoegselGeslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="voorletters" type="BG:Voorletters-e" nillable="true" minOccurs="0"/>
					<element name="aanduidingNaamgebruik" type="BG:AanduidingNaamgebruik-e" nillable="true" minOccurs="0"/>
					<element name="geslachtsnaamPartner" type="BG:Geslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="voorvoegselGeslachtsnaamPartner" type="BG:VoorvoegselGeslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="aanhefAanschrijving" type="BG:Aanhef-e" nillable="true" minOccurs="0"/>
					<element name="geslachtsnaamAanschrijving" type="BG:Geslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="geslachtsaanduiding" type="BG:Geslachtsaanduiding-e" nillable="true" minOccurs="0"/>
					<element name="geboortedatum" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
					<element name="inp.verblijftIn" type="BG:NPSTGO-woz-antwoord" nillable="true" minOccurs="0"/>
					<choice minOccurs="0">
						<element name="verblijfsadres" type="BG:VerblijfsadresGrp-woz-basis"/>
						<element name="sub.verblijfBuitenland" type="BG:VerblijfBuitenlandGrp"/>
					</choice>
					<element name="sub.correspondentieAdres" type="BG:CorrespondentieAdrGrp-woz-antwoord" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NPS-woz-vraagScope">
		<complexContent>
			<restriction base="BG:NPS-woz-basis">
				<sequence>
					<choice minOccurs="0" maxOccurs="2">
						<sequence minOccurs="0">
							<element name="inp.bsn" type="BG:BSN-e" nillable="true" minOccurs="0"/>
							<element name="authentiek" type="BG:Authentiek" nillable="true" minOccurs="0"/>
						</sequence>
						<element name="anp.identificatie" type="BG:IdentificatieRPSBTL-e" nillable="true" minOccurs="0"/>
					</choice>
					<element name="geslachtsnaam" type="BG:Geslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="voorvoegselGeslachtsnaam" type="BG:VoorvoegselGeslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="voorletters" type="BG:Voorletters-e" nillable="true" minOccurs="0"/>
					<element name="aanduidingNaamgebruik" type="BG:AanduidingNaamgebruik-e" nillable="true" minOccurs="0"/>
					<element name="geslachtsnaamPartner" type="BG:Geslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="voorvoegselGeslachtsnaamPartner" type="BG:VoorvoegselGeslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="aanhefAanschrijving" type="BG:Aanhef-e" nillable="true" minOccurs="0"/>
					<element name="geslachtsnaamAanschrijving" type="BG:Geslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="geslachtsaanduiding" type="BG:Geslachtsaanduiding-e" nillable="true" minOccurs="0"/>
					<element name="geboortedatum" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
					<element name="inp.verblijftIn" type="BG:NPSTGO-woz-vraag" nillable="true" minOccurs="0"/>
					<choice minOccurs="0" maxOccurs="2">
						<element name="verblijfsadres" type="BG:VerblijfsadresGrp-woz-basis"/>
						<element name="sub.verblijfBuitenland" type="BG:VerblijfBuitenlandGrp"/>
					</choice>
					<element name="sub.correspondentieAdres" type="BG:CorrespondentieAdrGrp-woz-vraagScope" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NPS-woz-vraagSelectie">
		<complexContent>
			<restriction base="BG:NPS-woz-basis">
				<sequence>
					<choice minOccurs="0">
						<sequence minOccurs="0">
							<element name="inp.bsn" type="BG:BSN-e" nillable="true" minOccurs="0"/>
						</sequence>
						<element name="anp.identificatie" type="BG:IdentificatieRPSBTL-e" nillable="true" minOccurs="0"/>
					</choice>
					<element name="geslachtsnaam" type="BG:Geslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="voorvoegselGeslachtsnaam" type="BG:VoorvoegselGeslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="voorletters" type="BG:Voorletters-e" nillable="true" minOccurs="0"/>
					<element name="aanduidingNaamgebruik" type="BG:AanduidingNaamgebruik-e" nillable="true" minOccurs="0"/>
					<element name="geslachtsnaamPartner" type="BG:Geslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="voorvoegselGeslachtsnaamPartner" type="BG:VoorvoegselGeslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="aanhefAanschrijving" type="BG:Aanhef-e" nillable="true" minOccurs="0"/>
					<element name="geslachtsnaamAanschrijving" type="BG:Geslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="geslachtsaanduiding" type="BG:Geslachtsaanduiding-e" nillable="true" minOccurs="0"/>
					<element name="geboortedatum" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
					<element name="inp.verblijftIn" type="BG:NPSTGO-woz-vraag" nillable="true" minOccurs="0"/>
					<choice minOccurs="0">
						<element name="verblijfsadres" type="BG:VerblijfsadresGrp-woz-basis"/>
						<element name="sub.verblijfBuitenland" type="BG:VerblijfBuitenlandGrp"/>
					</choice>
					<element name="sub.correspondentieAdres" type="BG:CorrespondentieAdrGrp-woz-vraagSelectie" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NPSTGO-woz-antwoord">
		<complexContent>
			<restriction base="BG:NPSTGO-woz-basis">
				<sequence>
					<element name="gerelateerde" type="BG:TGO-woz-kerngegevens" nillable="true"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NPSTGO-woz-vraag">
		<complexContent>
			<restriction base="BG:NPSTGO-woz-basis">
				<sequence>
					<element name="gerelateerde" type="BG:TGO-woz-kerngegevens" nillable="true"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NUM-woz-antwoord">
		<complexContent>
			<restriction base="BG:NUM-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true" minOccurs="0"/>
					<element name="wpl.woonplaatsNaam" type="BG:NaamgevingObject-e" nillable="true" minOccurs="0"/>
					<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true" minOccurs="0"/>
					<element name="huisnummer" type="BG:Huisnummering-e" nillable="true" minOccurs="0"/>
					<element name="huisletter" type="BG:Huislettering-e" nillable="true" minOccurs="0"/>
					<element name="huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true" minOccurs="0"/>
					<element name="postcode" type="BG:Postcode-e" nillable="true" minOccurs="0"/>
					<element name="gor.straatnaam" type="BG:Straatnaam-e" nillable="true" minOccurs="0"/>
					<element name="ingangsdatumObject" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
					<element name="einddatumObject" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NUM-woz-vraag">
		<complexContent>
			<restriction base="BG:NUM-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true" minOccurs="0"/>
					<element name="wpl.woonplaatsNaam" type="BG:NaamgevingObject-e" nillable="true" minOccurs="0"/>
					<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true" minOccurs="0"/>
					<element name="huisnummer" type="BG:Huisnummering-e" nillable="true" minOccurs="0"/>
					<element name="huisletter" type="BG:Huislettering-e" nillable="true" minOccurs="0"/>
					<element name="huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true" minOccurs="0"/>
					<element name="postcode" type="BG:Postcode-e" nillable="true" minOccurs="0"/>
					<element name="gor.straatnaam" type="BG:Straatnaam-e" nillable="true" minOccurs="0"/>
					<element name="ingangsdatumObject" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
					<element name="einddatumObject" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="PND-woz-antwoord">
		<complexContent>
			<restriction base="BG:PND-woz-basis">
				<sequence minOccurs="0">
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true" minOccurs="0"/>
					<element name="ingangsdatumObject" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
					<element name="einddatumObject" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="PND-woz-vraag">
		<complexContent>
			<restriction base="BG:PND-woz-basis">
				<sequence minOccurs="0">
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true" minOccurs="0"/>
					<element name="ingangsdatumObject" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
					<element name="einddatumObject" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="STA-woz-antwoord">
		<complexContent>
			<restriction base="BG:STA-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true" minOccurs="0"/>
					<element name="adresAanduidingGrp" type="BG:AdrGrp-woz-basis" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="STA-woz-vraag">
		<complexContent>
			<restriction base="BG:STA-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true" minOccurs="0"/>
					<element name="adresAanduidingGrp" type="BG:AdrGrp-woz-basis" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="TGO-woz-antwoord">
		<complexContent>
			<restriction base="BG:TGO-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true" minOccurs="0"/>
					<element name="adresAanduidingGrp" type="BG:AdrGrp-woz-basis" minOccurs="0"/>
					<element name="gbo.puntGeometrie" type="BG:GeometriePunt-e" nillable="true" minOccurs="0"/>
					<element name="vlakGeometrie" type="BG:GeometrieVlak-e" nillable="true" minOccurs="0"/>
					<element name="type" type="BG:TypeOGOofOTR-e" nillable="true" minOccurs="0"/>
					<element name="vbo.soortWoonobject" type="BG:SoortWoonobject-e" nillable="true" minOccurs="0"/>
					<element name="gbo.bouwkundigeBestemming" type="BG:BouwkundigeBestemming-e" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="gebruiksdoel" type="BG:Gebruiksdoeleinden-e" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="gbo.brutoInhoud" type="BG:Maateenheid6-e" nillable="true" minOccurs="0"/>
					<element name="gbo.oppervlakte" type="BG:Maateenheid6-e" nillable="true" minOccurs="0"/>
					<element name="ogo.bouwjaar" type="BG:Jaar-e" nillable="true" minOccurs="0"/>
					<element name="vbo.toegangBouwlaag" type="BG:Bouwlaag-e" nillable="true" minOccurs="0"/>
					<element name="vbo.aantalKamers" type="BG:Maateenheid2-e" nillable="true" minOccurs="0"/>
					<element name="vbo.ontsluitingVerdieping" type="BG:OntsluitingVerdieping-e" nillable="true" minOccurs="0"/>
					<element name="aot.status" type="BG:StatusTGO-e" nillable="true" minOccurs="0"/>
					<element name="gbo.statusVoortgangBouw" type="BG:StatusVoortgangBouw-e" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="TGO-woz-vraag">
		<complexContent>
			<restriction base="BG:TGO-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true" minOccurs="0"/>
					<element name="adresAanduidingGrp" type="BG:AdrGrp-woz-basis" minOccurs="0"/>
					<element name="gbo.puntGeometrie" type="BG:GeometriePunt-e" nillable="true" minOccurs="0"/>
					<element name="vlakGeometrie" type="BG:GeometrieVlak-e" nillable="true" minOccurs="0"/>
					<element name="type" type="BG:TypeOGOofOTR-e" nillable="true" minOccurs="0"/>
					<element name="vbo.soortWoonobject" type="BG:SoortWoonobject-e" nillable="true" minOccurs="0"/>
					<element name="gbo.bouwkundigeBestemming" type="BG:BouwkundigeBestemming-e" nillable="true" minOccurs="0"/>
					<element name="gebruiksdoel" type="BG:Gebruiksdoeleinden-e" nillable="true" minOccurs="0"/>
					<element name="gbo.brutoInhoud" type="BG:Maateenheid6-e" nillable="true" minOccurs="0"/>
					<element name="gbo.oppervlakte" type="BG:Maateenheid6-e" nillable="true" minOccurs="0"/>
					<element name="ogo.bouwjaar" type="BG:Jaar-e" nillable="true" minOccurs="0"/>
					<element name="vbo.toegangBouwlaag" type="BG:Bouwlaag-e" nillable="true" minOccurs="0"/>
					<element name="vbo.aantalKamers" type="BG:Maateenheid2-e" nillable="true" minOccurs="0"/>
					<element name="vbo.ontsluitingVerdieping" type="BG:OntsluitingVerdieping-e" nillable="true" minOccurs="0"/>
					<element name="aot.status" type="BG:StatusTGO-e" nillable="true" minOccurs="0"/>
					<element name="gbo.statusVoortgangBouw" type="BG:StatusVoortgangBouw-e" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VBO-woz-antwoord">
		<complexContent>
			<restriction base="BG:VBO-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true" minOccurs="0"/>
					<element name="adresAanduidingGrp" type="BG:AdrGrp-woz-basis" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VBO-woz-vraag">
		<complexContent>
			<restriction base="BG:VBO-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true" minOccurs="0"/>
					<element name="adresAanduidingGrp" type="BG:AdrGrp-woz-basis" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VES-woz-antwoord">
		<complexContent>
			<restriction base="BG:VES-woz-basis">
				<sequence>
					<element name="vestigingsNummer" type="BG:VestigingsNummer-e" nillable="true" minOccurs="0"/>
					<element name="authentiek" type="BG:Authentiek" default="N" nillable="true" minOccurs="0"/>
					<sequence minOccurs="0">
						<element name="handelsnaam" type="BG:Handelsnaam-e" nillable="true" minOccurs="0"/>
					</sequence>
					<choice minOccurs="0">
						<element name="verblijfsadres" type="BG:VerblijfsadresGrp-woz-basis" minOccurs="0"/>
						<element name="sub.verblijfBuitenland" type="BG:VerblijfBuitenlandGrp" minOccurs="0"/>
					</choice>
					<element name="sub.correspondentieAdres" type="BG:CorrespondentieAdrGrp-woz-antwoord" minOccurs="0"/>
					<element name="oefentActiviteitenUitVoor" type="BG:VESMAC-woz-antwoord" nillable="true" minOccurs="0"/>
					<element name="heeftAlsHoofdLocatie" type="BG:VESTGOHFD-woz-antwoord" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VES-woz-vraagScope">
		<complexContent>
			<restriction base="BG:VES-woz-basis">
				<sequence>
					<element name="vestigingsNummer" type="BG:VestigingsNummer-e" nillable="true" minOccurs="0"/>
					<element name="authentiek" type="BG:Authentiek" default="N" nillable="true" minOccurs="0"/>
					<sequence minOccurs="0">
						<element name="handelsnaam" type="BG:Handelsnaam-e" nillable="true" minOccurs="0"/>
					</sequence>
					<choice minOccurs="0" maxOccurs="2">
						<element name="verblijfsadres" type="BG:VerblijfsadresGrp-woz-basis" minOccurs="0"/>
						<element name="sub.verblijfBuitenland" type="BG:VerblijfBuitenlandGrp" minOccurs="0"/>
					</choice>
					<element name="sub.correspondentieAdres" type="BG:CorrespondentieAdrGrp-woz-vraagScope" minOccurs="0"/>
					<element name="oefentActiviteitenUitVoor" type="BG:VESMAC-woz-antwoord" nillable="true" minOccurs="0"/>
					<element name="heeftAlsHoofdLocatie" type="BG:VESTGOHFD-woz-vraag" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VES-woz-vraagSelectie">
		<complexContent>
			<restriction base="BG:VES-woz-basis">
				<sequence>
					<element name="vestigingsNummer" type="BG:VestigingsNummer-e" nillable="true" minOccurs="0"/>
					<sequence minOccurs="0">
						<element name="handelsnaam" type="BG:Handelsnaam-e" nillable="true" minOccurs="0"/>
					</sequence>
					<choice minOccurs="0">
						<element name="verblijfsadres" type="BG:VerblijfsadresGrp-woz-basis" minOccurs="0"/>
						<element name="sub.verblijfBuitenland" type="BG:VerblijfBuitenlandGrp" minOccurs="0"/>
					</choice>
					<element name="sub.correspondentieAdres" type="BG:CorrespondentieAdrGrp-woz-vraagSelectie" minOccurs="0"/>
					<element name="oefentActiviteitenUitVoor" type="BG:VESMAC-woz-antwoord" nillable="true" minOccurs="0"/>
					<element name="heeftAlsHoofdLocatie" type="BG:VESTGOHFD-woz-vraag" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VESMAC-woz-antwoord">
		<complexContent>
			<restriction base="BG:VESMAC-basis">
				<sequence>
					<element name="gerelateerde" type="BG:MAC-woz-antwoord" nillable="true"/>
				</sequence>
				<attribute ref="StUF:entiteittype" use="required" fixed="VESMAC"/>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VESTGOHFD-woz-antwoord">
		<complexContent>
			<restriction base="BG:VESTGOHFD-woz-basis">
				<sequence>
					<element name="gerelateerde" type="BG:TGO-woz-kerngegevens" nillable="true"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VESTGOHFD-woz-vraag">
		<complexContent>
			<restriction base="BG:VESTGOHFD-woz-basis">
				<sequence>
					<element name="gerelateerde" type="BG:TGO-woz-vraag" nillable="true"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!--ComplexTypes voor groepen-->
	<complexType name="CorrespondentieAdrGrp-woz-antwoord">
		<complexContent>
			<restriction base="BG:CorrespondentieAdrGrp-woz-basis">
				<sequence>
					<element name="wpl.woonplaatsNaam" type="BG:NaamgevingObject-e" nillable="true" minOccurs="0"/>
					<element name="postcode" type="BG:Postcode-e" nillable="true" minOccurs="0"/>
					<choice minOccurs="0">
						<sequence>
							<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true" minOccurs="0"/>
							<element name="gor.straatnaam" type="BG:Straatnaam-e" nillable="true" minOccurs="0"/>
							<element name="aoa.huisnummer" type="BG:Huisnummering-e" nillable="true" minOccurs="0"/>
							<element name="aoa.huisletter" type="BG:Huislettering-e" nillable="true" minOccurs="0"/>
							<element name="aoa.huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true" minOccurs="0"/>
						</sequence>
						<sequence>
							<element name="sub.postadresType" type="BG:PostadresType-e" nillable="true"/>
							<element name="sub.postadresNummer" type="BG:PostadresNummer-e" nillable="true"/>
						</sequence>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="CorrespondentieAdrGrp-woz-vraagScope">
		<complexContent>
			<restriction base="BG:CorrespondentieAdrGrp-woz-basis">
				<sequence>
					<element name="wpl.woonplaatsNaam" type="BG:NaamgevingObject-e" nillable="true" minOccurs="0"/>
					<element name="postcode" type="BG:Postcode-e" nillable="true" minOccurs="0"/>
					<choice minOccurs="0" maxOccurs="2">
						<sequence>
							<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true" minOccurs="0"/>
							<element name="gor.straatnaam" type="BG:Straatnaam-e" nillable="true" minOccurs="0"/>
							<element name="aoa.huisnummer" type="BG:Huisnummering-e" nillable="true" minOccurs="0"/>
							<element name="aoa.huisletter" type="BG:Huislettering-e" nillable="true" minOccurs="0"/>
							<element name="aoa.huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true" minOccurs="0"/>
						</sequence>
						<sequence>
							<element name="sub.postadresType" type="BG:PostadresType-e" nillable="true"/>
							<element name="sub.postadresNummer" type="BG:PostadresNummer-e" nillable="true"/>
						</sequence>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="CorrespondentieAdrGrp-woz-vraagSelectie">
		<complexContent>
			<restriction base="BG:CorrespondentieAdrGrp-woz-basis">
				<sequence>
					<element name="wpl.woonplaatsNaam" type="BG:NaamgevingObject-e" nillable="true" minOccurs="0"/>
					<element name="postcode" type="BG:Postcode-e" nillable="true" minOccurs="0"/>
					<choice minOccurs="0">
						<sequence>
							<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true" minOccurs="0"/>
							<element name="gor.straatnaam" type="BG:Straatnaam-e" nillable="true" minOccurs="0"/>
							<element name="aoa.huisnummer" type="BG:Huisnummering-e" nillable="true" minOccurs="0"/>
							<element name="aoa.huisletter" type="BG:Huislettering-e" nillable="true" minOccurs="0"/>
							<element name="aoa.huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true" minOccurs="0"/>
						</sequence>
						<sequence>
							<element name="sub.postadresType" type="BG:PostadresType-e" nillable="true"/>
							<element name="sub.postadresNummer" type="BG:PostadresNummer-e" nillable="true"/>
						</sequence>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
</schema>
