brmo-stufwoz312/src/XSD-Resolver/toresolve/woz0312/lv_vraagAntwoord/woz0312_beantwoordVraag_lv_vraagAntwoord_lv.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:WOZ="http://www.waarderingskamer.nl/StUF/0312" xmlns:StUF="http://www.egem.nl/StUF/StUF0301" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" name="StUF-WOZ0312" targetNamespace="http://www.waarderingskamer.nl/StUF/0312">
	<documentation>
		Versie 031200
		Dit document definieert de webservices voor het portType BeantwoordVraag met de synchrone vraagberichten voor de LV WOZ.
	</documentation>
	<types>
		<xs:schema>
			<xs:import namespace="http://www.egem.nl/StUF/StUF0301" schemaLocation="../../0301/stuf0301.xsd"/>
			<xs:import namespace="http://www.waarderingskamer.nl/StUF/0312" schemaLocation="woz0312_msg_lv_vraagAntwoord.xsd"/>
		</xs:schema>
	</types>
	<message name="nnpLa01">
		<part name="body" element="WOZ:nnpLa01"/>
	</message>
	<message name="nnpLv01">
		<part name="body" element="WOZ:nnpLv01"/>
	</message>
	<message name="npsLa01">
		<part name="body" element="WOZ:npsLa01"/>
	</message>
	<message name="npsLv01">
		<part name="body" element="WOZ:npsLv01"/>
	</message>
	<message name="swoLa01-lvwoz">
		<part name="body" element="WOZ:swoLa01-lvwoz"/>
	</message>
	<message name="swoLa03-lvwoz">
		<part name="body" element="WOZ:swoLa03-lvwoz"/>
	</message>
	<message name="swoLa05-lvwoz">
		<part name="body" element="WOZ:swoLa05-lvwoz"/>
	</message>
	<message name="swoLa07-lvwoz">
		<part name="body" element="WOZ:swoLa07-lvwoz"/>
	</message>
	<message name="swoLa09-lvwoz">
		<part name="body" element="WOZ:swoLa09-lvwoz"/>
	</message>
	<message name="swoLv01-lvwoz">
		<part name="body" element="WOZ:swoLv01-lvwoz"/>
	</message>
	<message name="swoLv03-lvwoz">
		<part name="body" element="WOZ:swoLv03-lvwoz"/>
	</message>
	<message name="swoLv05-lvwoz">
		<part name="body" element="WOZ:swoLv05-lvwoz"/>
	</message>
	<message name="swoLv07-lvwoz">
		<part name="body" element="WOZ:swoLv07-lvwoz"/>
	</message>
	<message name="swoLv09-lvwoz">
		<part name="body" element="WOZ:swoLv09-lvwoz"/>
	</message>
	<message name="vesLa01">
		<part name="body" element="WOZ:vesLa01"/>
	</message>
	<message name="vesLv01">
		<part name="body" element="WOZ:vesLv01"/>
	</message>
	<message name="wozLa01-lvwoz">
		<part name="body" element="WOZ:wozLa01-lvwoz"/>
	</message>
	<message name="wozLa03-lvwoz">
		<part name="body" element="WOZ:wozLa03-lvwoz"/>
	</message>
	<message name="wozLa05-lvwoz">
		<part name="body" element="WOZ:wozLa05-lvwoz"/>
	</message>
	<message name="wozLa07-lvwoz">
		<part name="body" element="WOZ:wozLa07-lvwoz"/>
	</message>
	<message name="wozLa09-lvwoz">
		<part name="body" element="WOZ:wozLa09-lvwoz"/>
	</message>
	<message name="wozLv01-lvwoz">
		<part name="body" element="WOZ:wozLv01-lvwoz"/>
	</message>
	<message name="wozLv03-lvwoz">
		<part name="body" element="WOZ:wozLv03-lvwoz"/>
	</message>
	<message name="wozLv05-lvwoz">
		<part name="body" element="WOZ:wozLv05-lvwoz"/>
	</message>
	<message name="wozLv07-lvwoz">
		<part name="body" element="WOZ:wozLv07-lvwoz"/>
	</message>
	<message name="wozLv09-lvwoz">
		<part name="body" element="WOZ:wozLv09-lvwoz"/>
	</message>
	<message name="wrdLa01-lvwoz">
		<part name="body" element="WOZ:wrdLa01-lvwoz"/>
	</message>
	<message name="wrdLa03-lvwoz">
		<part name="body" element="WOZ:wrdLa03-lvwoz"/>
	</message>
	<message name="wrdLa05-lvwoz">
		<part name="body" element="WOZ:wrdLa05-lvwoz"/>
	</message>
	<message name="wrdLa07-lvwoz">
		<part name="body" element="WOZ:wrdLa07-lvwoz"/>
	</message>
	<message name="wrdLa09-lvwoz">
		<part name="body" element="WOZ:wrdLa09-lvwoz"/>
	</message>
	<message name="wrdLv01-lvwoz">
		<part name="body" element="WOZ:wrdLv01-lvwoz"/>
	</message>
	<message name="wrdLv03-lvwoz">
		<part name="body" element="WOZ:wrdLv03-lvwoz"/>
	</message>
	<message name="wrdLv05-lvwoz">
		<part name="body" element="WOZ:wrdLv05-lvwoz"/>
	</message>
	<message name="wrdLv07-lvwoz">
		<part name="body" element="WOZ:wrdLv07-lvwoz"/>
	</message>
	<message name="wrdLv09-lvwoz">
		<part name="body" element="WOZ:wrdLv09-lvwoz"/>
	</message>
	<message name="Fo02">
		<part name="body" element="StUF:Fo02Bericht"/>
	</message>
	<portType name="BeantwoordVraag">
		<documentation>
		Dit portType ondersteunt als operaties alle synchrone vraagberichten gedefinieerd binnen het sectormodel
	</documentation>
		<operation name="nnpLv01">
			<input message="WOZ:nnpLv01" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/nnpLv01"/>
			<output message="WOZ:nnpLa01" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/nnpLv01Respons"/>
			<fault name="fout" message="WOZ:Fo02" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/nnpLv01Fout"/>
		</operation>
		<operation name="npsLv01">
			<input message="WOZ:npsLv01" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/npsLv01"/>
			<output message="WOZ:npsLa01" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/npsLv01Respons"/>
			<fault name="fout" message="WOZ:Fo02" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/npsLv01Fout"/>
		</operation>
		<operation name="swoLv01-lvwoz">
			<input message="WOZ:swoLv01-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/swoLv01-lvwoz"/>
			<output message="WOZ:swoLa01-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/swoLv01-lvwozRespons"/>
			<fault name="fout" message="WOZ:Fo02" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/swoLv01-lvwozFout"/>
		</operation>
		<operation name="swoLv03-lvwoz">
			<input message="WOZ:swoLv03-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/swoLv03-lvwoz"/>
			<output message="WOZ:swoLa03-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/swoLv03-lvwozRespons"/>
			<fault name="fout" message="WOZ:Fo02" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/swoLv03-lvwozFout"/>
		</operation>
		<operation name="swoLv05-lvwoz">
			<input message="WOZ:swoLv05-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/swoLv05-lvwoz"/>
			<output message="WOZ:swoLa05-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/swoLv05-lvwozRespons"/>
			<fault name="fout" message="WOZ:Fo02" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/swoLv05-lvwozFout"/>
		</operation>
		<operation name="swoLv07-lvwoz">
			<input message="WOZ:swoLv07-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/swoLv07-lvwoz"/>
			<output message="WOZ:swoLa07-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/swoLv07-lvwozRespons"/>
			<fault name="fout" message="WOZ:Fo02" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/swoLv07-lvwozFout"/>
		</operation>
		<operation name="swoLv09-lvwoz">
			<input message="WOZ:swoLv09-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/swoLv09-lvwoz"/>
			<output message="WOZ:swoLa09-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/swoLv09-lvwozRespons"/>
			<fault name="fout" message="WOZ:Fo02" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/swoLv03-lvwozFout"/>
		</operation>
		<operation name="vesLv01">
			<input message="WOZ:vesLv01" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/vesLv01"/>
			<output message="WOZ:vesLa01" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/vesLv01Respons"/>
			<fault name="fout" message="WOZ:Fo02" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/vesLv01Fout"/>
		</operation>
		<operation name="wozLv01-lvwoz">
			<input message="WOZ:wozLv01-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wozLv01-lvwoz"/>
			<output message="WOZ:wozLa01-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wozLv01-lvwozRespons"/>
			<fault name="fout" message="WOZ:Fo02" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wozLv01-lvwozFout"/>
		</operation>
		<operation name="wozLv03-lvwoz">
			<input message="WOZ:wozLv03-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wozLv03-lvwoz"/>
			<output message="WOZ:wozLa03-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wozLv03-lvwozRespons"/>
			<fault name="fout" message="WOZ:Fo02" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wozLv03-lvwozFout"/>
		</operation>
		<operation name="wozLv05-lvwoz">
			<input message="WOZ:wozLv05-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wozLv05-lvwoz"/>
			<output message="WOZ:wozLa05-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wozLv05-lvwozRespons"/>
			<fault name="fout" message="WOZ:Fo02" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wozLv05lvwozFout"/>
		</operation>
		<operation name="wozLv07-lvwoz">
			<input message="WOZ:wozLv07-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wozLv07-lvwoz"/>
			<output message="WOZ:wozLa07-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wozLv07-lvwozRespons"/>
			<fault name="fout" message="WOZ:Fo02" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wozLv07-lvwozFout"/>
		</operation>
		<operation name="wozLv09-lvwoz">
			<input message="WOZ:wozLv09-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wozLv09-lvwoz"/>
			<output message="WOZ:wozLa09-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wozLv09-lvwozRespons"/>
			<fault name="fout" message="WOZ:Fo02" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wozLv09-lvwozFout"/>
		</operation>
		<operation name="wrdLv01-lvwoz">
			<input message="WOZ:wrdLv01-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wrdLv01-lvwoz"/>
			<output message="WOZ:wrdLa01-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wrdLv01-lvwozRespons"/>
			<fault name="fout" message="WOZ:Fo02" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wrdLv01-lvwozFout"/>
		</operation>
		<operation name="wrdLv03-lvwoz">
			<input message="WOZ:wrdLv03-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wrdLv03-lvwoz"/>
			<output message="WOZ:wrdLa03-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wrdLv03-lvwozRespons"/>
			<fault name="fout" message="WOZ:Fo02" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wrdLv03-lvwozFout"/>
		</operation>
		<operation name="wrdLv05-lvwoz">
			<input message="WOZ:wrdLv05-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wrdLv05-lvwoz"/>
			<output message="WOZ:wrdLa05-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wrdLv05-lvwozRespons"/>
			<fault name="fout" message="WOZ:Fo02" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wrdLv05-lvwozFout"/>
		</operation>
		<operation name="wrdLv07-lvwoz">
			<input message="WOZ:wrdLv07-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wrdLv07-lvwoz"/>
			<output message="WOZ:wrdLa07-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wrdLv07-lvwozRespons"/>
			<fault name="fout" message="WOZ:Fo02" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wrdLv07-lvwozFout"/>
		</operation>
		<operation name="wrdLv09-lvwoz">
			<input message="WOZ:wrdLv09-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wrdLv09-lvwoz"/>
			<output message="WOZ:wrdLa09-lvwoz" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wrdLv09-lvwozRespons"/>
			<fault name="fout" message="WOZ:Fo02" wsam:Action="http://www.waarderingskamer.nl/StUF/0312/wrdLv01-lvwozFout"/>
		</operation>
	</portType>
	<binding name="SOAPBeantwoordVraag" type="WOZ:BeantwoordVraag">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<documentation>
			Omdat de uit te wisselen berichten volledig gedefinieerd zijn in het sectormodel cq de StUF-standaard, kunnen we ze zonder verdere encoding (“literal”) opnemen in de body.
Niet ondersteunde berichten kunnen uit de binding en portType worden verwijderd.
		</documentation>
		<operation name="nnpLv01">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/nnpLv01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="npsLv01">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/npsLv01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="swoLv01-lvwoz">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/swoLv01-lvwoz"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="swoLv03-lvwoz">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/swoLv03-lvwoz"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="swoLv05-lvwoz">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/swoLv05-lvwoz"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="swoLv07-lvwoz">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/swoLv07-lvwoz"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="swoLv09-lvwoz">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/swoLv09-lvwoz"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="vesLv01">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/vesLv01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wozLv01-lvwoz">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wozLv01-lvwoz"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wozLv03-lvwoz">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wozLv03-lvwoz"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wozLv05-lvwoz">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wozLv05-lvwoz"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wozLv07-lvwoz">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wozLv07-lvwoz"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wozLv09-lvwoz">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wozLv09-lvwoz"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wrdLv01-lvwoz">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wrdLv01-lvwoz"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wrdLv03-lvwoz">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wrdLv03-lvwoz"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wrdLv05-lvwoz">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wrdLv05-lvwoz"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wrdLv07-lvwoz">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wrdLv07-lvwoz"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="wrdLv09-lvwoz">
			<soap:operation soapAction="http://www.waarderingskamer.nl/StUF/0312/wrdLv09-lvwoz"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="BeantwoordVraag">
		<documentation>
	Hieronder wordt de concreet aan te roepen service voor het beantwoorden van synchrone WOZ0312-vraagberichten door de LV WOZ gedefinieerd. In het attribute location in het element soap:address dient nog de correcte URL te worden ingevuld.
		</documentation>
		<port name="BeantwoordVraag" binding="WOZ:SOAPBeantwoordVraag">
			<soap:address location="http://example.com/BeantwoordVraag"/>
			<documentation>
				<wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
		</port>
	</service>
</definitions>
