brmo-stufwoz312/src/XSD-Resolver/toresolve/woz0312/lv_mutatieMetFo01/woz0312_bg0310_lv_mutatie.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 rel. 2 sp1 (x64) (http://www.altova.com) by M. van den Broek (messageDesign B.V.) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:StUF="http://www.egem.nl/StUF/StUF0301" xmlns:BG="http://www.egem.nl/StUF/sector/bg/0310" targetNamespace="http://www.egem.nl/StUF/sector/bg/0310" elementFormDefault="qualified" attributeFormDefault="unqualified" version="031206">
	<annotation>
		<documentation>
			Dit schema bevat de restricties van BG-types tbv het LV WOZ deel van het sectormodel WOZ.
			
			Wijzigingen vergeleken met versie 031205:
			- De complexTypes LIG-lv-synchroniseer, NUM-lv-synchroniseer, STA-lv-synchroniseer en VBO-lv-synchroniseer toegevoegd
 		</documentation>
	</annotation>
	<include schemaLocation="../entiteiten/woz0312_bg0310_lv_basis.xsd"/>
	<import namespace="http://www.egem.nl/StUF/StUF0301" schemaLocation="../entiteiten/woz0312_stuf_simpleTypes.xsd"/>
	<complexType name="AOT-lv-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:AOT-lv-basis">
				<choice minOccurs="0">
					<choice minOccurs="0">
						<element name="ligplaats" type="BG:LIG-lv-kerngegevensKennisgeving"/>
						<element name="standplaats" type="BG:STA-lv-kerngegevensKennisgeving"/>
						<element name="verblijfsobject" type="BG:VBO-lv-kerngegevensKennisgeving"/>
					</choice>
				</choice>
				<attribute ref="StUF:entiteittype" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="KOZ-lv-kennisgeving">
		<complexContent>
			<restriction base="BG:KOZ-woz-basis">
				<sequence>
					<element name="kadastraleIdentificatie" type="BG:KadastraleIdentificatie-e" nillable="true"/>
					<element name="kadastraleAanduiding" type="BG:KadastraleAanduidingGrp-verplicht-lv"/>
					<element name="ingangsdatumObject" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
					<element name="einddatumObject" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:sleutelVerzendend" use="prohibited"/>
				<attribute ref="StUF:sleutelOntvangend" use="prohibited"/>
				<attribute ref="StUF:sleutelGegevensbeheer" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
				<attribute ref="StUF:scope" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="KOZ-lv-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:KOZ-woz-basis">
				<sequence>
					<element name="kadastraleIdentificatie" type="BG:KadastraleIdentificatie-e" nillable="true"/>
					<element name="kadastraleAanduiding" type="BG:KadastraleAanduidingGrp-verplicht-lv"/>
				</sequence>
				<attribute ref="StUF:sleutelVerzendend" use="prohibited"/>
				<attribute ref="StUF:sleutelOntvangend" use="prohibited"/>
				<attribute ref="StUF:sleutelGegevensbeheer" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="LIG-lv-kennisgeving">
		<complexContent>
			<restriction base="BG:LIG-lv-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummeringLIG-r"/>
					<element name="adresAanduidingGrp" type="BG:AdrGrp-lv-kerngegevensKennisgeving-nietNillable"/>
				</sequence>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="LIG-lv-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:LIG-lv-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummeringLIG-r"/>
					<element name="adresAanduidingGrp" type="BG:AdrGrp-lv-kerngegevensKennisgeving-nietNillable"/>
				</sequence>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="LIG-lv-synchroniseer">
		<complexContent>
			<restriction base="BG:LIG-lv-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummeringLIG-e" nillable="true"/>
					<element name="adresAanduidingGrp" type="BG:AdrGrp-lv-kerngegevensKennisgeving"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="MAC-lv-kennisgeving">
		<complexContent>
			<restriction base="BG:MAC-basis">
				<sequence>
					<element name="kvkNummer" type="BG:KvKNummer-r"/>
				</sequence>
				<attribute ref="StUF:entiteittype" use="required" fixed="MAC"/>
				<attribute ref="StUF:sleutelVerzendend" use="prohibited"/>
				<attribute ref="StUF:sleutelOntvangend" use="prohibited"/>
				<attribute ref="StUF:sleutelGegevensbeheer" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NNP-lv-beeindigen">
		<complexContent>
			<restriction base="BG:NNP-lv-basis">
				<sequence>
					<choice>
						<sequence>
							<element name="inn.nnpId" type="BG:BSN-e" nillable="true"/>
						</sequence>
						<element name="ann.identificatie" type="BG:IdentificatieRPSBTL-e" nillable="true"/>
					</choice>
					<element name="statutaireNaam" type="BG:StatutaireNaam-r"/>
					<element name="sub.correspondentieAdres" type="BG:CorrespondentieAdrGrp-lv-kennisgeving"/>
					<choice minOccurs="0">
						<element name="sub.verblijfBuitenland" type="BG:VerblijfBuitenlandGrp-lv-kerngegevensKennisgeving" minOccurs="0"/>
					</choice>
				</sequence>
				<attribute ref="StUF:entiteittype" use="required" fixed="NNP"/>
				<attribute ref="StUF:sleutelVerzendend" use="prohibited"/>
				<attribute ref="StUF:sleutelOntvangend" use="prohibited"/>
				<attribute ref="StUF:sleutelGegevensbeheer" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NNP-lv-kennisgeving">
		<complexContent>
			<restriction base="BG:NNP-woz-basis">
				<sequence>
					<choice>
						<sequence>
							<element name="inn.nnpId" type="BG:BSN-e" nillable="true"/>
						</sequence>
						<element name="ann.identificatie" type="BG:IdentificatieRPSBTL-e" nillable="true"/>
					</choice>
					<element name="statutaireNaam" type="BG:StatutaireNaam-r"/>
					<element name="sub.correspondentieAdres" type="BG:CorrespondentieAdrGrp-lv-kennisgeving"/>
					<choice minOccurs="0">
						<element name="sub.verblijfBuitenland" type="BG:VerblijfBuitenlandGrp-lv-kerngegevensKennisgeving" minOccurs="0"/>
					</choice>
					<element name="rps.isEigenaarVan" type="BG:NNPMAC-lv-kennisgeving" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
				<attribute ref="StUF:entiteittype" use="required" fixed="NNP"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NNP-lv-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:NNP-woz-basis">
				<sequence>
					<choice>
						<sequence>
							<element name="inn.nnpId" type="BG:BSN-e" nillable="true"/>
						</sequence>
						<element name="ann.identificatie" type="BG:IdentificatieRPSBTL-e" nillable="true"/>
					</choice>
					<element name="statutaireNaam" type="BG:StatutaireNaam-r"/>
					<element name="sub.correspondentieAdres" type="BG:CorrespondentieAdrGrp-lv-kennisgeving"/>
				</sequence>
				<attribute ref="StUF:sleutelVerzendend" use="prohibited"/>
				<attribute ref="StUF:sleutelOntvangend" use="prohibited"/>
				<attribute ref="StUF:sleutelGegevensbeheer" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
				<attribute ref="StUF:entiteittype" use="required" fixed="NNP"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NNP-lv-kerngegevensVerplicht">
		<complexContent>
			<restriction base="BG:NNP-woz-basis">
				<sequence>
					<choice>
						<sequence>
							<element name="inn.nnpId" type="BG:BSN-e" nillable="true"/>
						</sequence>
						<element name="ann.identificatie" type="BG:IdentificatieRPSBTL-e" nillable="true"/>
					</choice>
					<element name="statutaireNaam" type="BG:StatutaireNaam-r"/>
					<element name="sub.correspondentieAdres" type="BG:CorrespondentieAdrGrp-lv-kennisgeving"/>
				</sequence>
				<attribute ref="StUF:sleutelVerzendend" use="prohibited"/>
				<attribute ref="StUF:sleutelOntvangend" use="prohibited"/>
				<attribute ref="StUF:sleutelGegevensbeheer" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
				<attribute ref="StUF:entiteittype" use="required" fixed="NNP"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NNPMAC-lv-kennisgeving">
		<complexContent>
			<restriction base="BG:NNPMAC-basis">
				<sequence>
					<element name="gerelateerde" type="BG:MAC-lv-kennisgeving"/>
				</sequence>
				<attribute ref="StUF:sleutelVerzendend" use="prohibited"/>
				<attribute ref="StUF:sleutelOntvangend" use="prohibited"/>
				<attribute ref="StUF:sleutelGegevensbeheer" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
				<attribute ref="StUF:entiteittype" use="required" fixed="NNPMAC"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NPS-lv-beeindigen">
		<complexContent>
			<restriction base="BG:NPS-woz-basis">
				<sequence>
					<choice>
						<sequence>
							<element name="inp.bsn" type="BG:BSN-e" nillable="true"/>
						</sequence>
						<element name="anp.identificatie" type="BG:IdentificatieRPSBTL-e" nillable="true"/>
					</choice>
					<element name="geslachtsnaam" type="BG:Geslachtsnaam-r"/>
					<element name="voorvoegselGeslachtsnaam" type="BG:VoorvoegselGeslachtsnaam-e" nillable="true"/>
					<element name="voorletters" type="BG:Voorletters-e" nillable="true"/>
					<element name="geslachtsaanduiding" type="BG:Geslachtsaanduiding-r"/>
					<element name="geboortedatum" type="StUF:DatumMetIndicator-r"/>
					<choice>
						<element name="verblijfsadres" type="BG:VerblijfsadresGrp-lv-kerngegevensKennisgeving"/>
						<element name="sub.verblijfBuitenland" type="BG:VerblijfBuitenlandGrp-lv-kerngegevensKennisgeving"/>
					</choice>
				</sequence>
				<attribute ref="StUF:sleutelVerzendend" use="prohibited"/>
				<attribute ref="StUF:sleutelOntvangend" use="prohibited"/>
				<attribute ref="StUF:sleutelGegevensbeheer" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NPS-lv-kennisgeving">
		<complexContent>
			<restriction base="BG:NPS-woz-basis">
				<sequence>
					<choice>
						<sequence>
							<element name="inp.bsn" type="BG:BSN-e" nillable="true"/>
						</sequence>
						<element name="anp.identificatie" type="BG:IdentificatieRPSBTL-e" nillable="true"/>
					</choice>
					<element name="geslachtsnaam" type="BG:Geslachtsnaam-r"/>
					<element name="voorvoegselGeslachtsnaam" type="BG:VoorvoegselGeslachtsnaam-e" nillable="true"/>
					<element name="voorletters" type="BG:Voorletters-e" nillable="true"/>
					<element name="aanduidingNaamgebruik" type="BG:AanduidingNaamgebruik-e" nillable="true" minOccurs="0"/>
					<element name="geslachtsnaamPartner" type="BG:Geslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="voorvoegselGeslachtsnaamPartner" type="BG:VoorvoegselGeslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="aanhefAanschrijving" type="BG:Aanhef-e" nillable="true" minOccurs="0"/>
					<element name="geslachtsnaamAanschrijving" type="BG:Geslachtsnaam-e" nillable="true" minOccurs="0"/>
					<element name="geslachtsaanduiding" type="BG:Geslachtsaanduiding-e" nillable="true"/>
					<element name="geboortedatum" type="StUF:DatumMetIndicator" nillable="true"/>
					<element name="inp.verblijftIn" type="BG:NPSTGO-lv-kennisgeving" nillable="true" minOccurs="0"/>
					<choice>
						<element name="verblijfsadres" type="BG:VerblijfsadresGrp-lv-kennisgeving"/>
						<element name="sub.verblijfBuitenland" type="BG:VerblijfBuitenlandGrp-lv-kerngegevensKennisgeving"/>
					</choice>
					<element name="sub.correspondentieAdres" type="BG:CorrespondentieAdrGrp-lv-kennisgeving" minOccurs="0"/>
					<element name="inp.indicatieGeheim" type="BG:IndicatieGeheim-e" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NPS-lv-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:NPS-woz-basis">
				<sequence>
					<choice>
						<sequence>
							<element name="inp.bsn" type="BG:BSN-e" nillable="true"/>
						</sequence>
						<element name="anp.identificatie" type="BG:IdentificatieRPSBTL-e" nillable="true"/>
					</choice>
					<element name="geslachtsnaam" type="BG:Geslachtsnaam-r"/>
					<element name="voorvoegselGeslachtsnaam" type="BG:VoorvoegselGeslachtsnaam-e" nillable="true"/>
					<element name="voorletters" type="BG:Voorletters-e" nillable="true"/>
					<element name="geslachtsaanduiding" type="BG:Geslachtsaanduiding-e" nillable="true"/>
					<element name="geboortedatum" type="StUF:DatumMetIndicator" nillable="true"/>
					<choice>
						<element name="verblijfsadres" type="BG:VerblijfsadresGrp-lv-kerngegevensKennisgeving"/>
						<element name="sub.verblijfBuitenland" type="BG:VerblijfBuitenlandGrp-lv-kerngegevensKennisgeving"/>
					</choice>
				</sequence>
				<attribute ref="StUF:sleutelVerzendend" use="prohibited"/>
				<attribute ref="StUF:sleutelOntvangend" use="prohibited"/>
				<attribute ref="StUF:sleutelGegevensbeheer" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NPS-lv-kerngegevensVerplicht">
		<complexContent>
			<restriction base="BG:NPS-woz-basis">
				<sequence>
					<choice>
						<sequence>
							<element name="inp.bsn" type="BG:BSN-e" nillable="true"/>
						</sequence>
						<element name="anp.identificatie" type="BG:IdentificatieRPSBTL-e" nillable="true"/>
					</choice>
					<element name="geslachtsnaam" type="BG:Geslachtsnaam-r"/>
					<element name="voorvoegselGeslachtsnaam" type="BG:VoorvoegselGeslachtsnaam-e" nillable="true"/>
					<element name="voorletters" type="BG:Voorletters-e" nillable="true"/>
					<element name="geslachtsaanduiding" type="BG:Geslachtsaanduiding-e" nillable="true"/>
					<element name="geboortedatum" type="StUF:DatumMetIndicator" nillable="true"/>
					<choice>
						<element name="verblijfsadres" type="BG:VerblijfsadresGrp-lv-kerngegevensKennisgeving"/>
						<element name="sub.verblijfBuitenland" type="BG:VerblijfBuitenlandGrp-lv-kerngegevensKennisgeving"/>
					</choice>
				</sequence>
				<attribute ref="StUF:sleutelVerzendend" use="prohibited"/>
				<attribute ref="StUF:sleutelOntvangend" use="prohibited"/>
				<attribute ref="StUF:sleutelGegevensbeheer" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NPSTGO-lv-kennisgeving">
		<complexContent>
			<restriction base="BG:NPSTGO-lv-basis">
				<sequence>
					<element name="gerelateerde" type="BG:TGO-lv-kerngegevensKennisgeving"/>
				</sequence>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NUM-lv-kennisgeving">
		<complexContent>
			<restriction base="BG:NUM-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e"/>
					<element name="wpl.woonplaatsNaam" type="BG:NaamgevingObject-r"/>
					<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-r"/>
					<element name="huisnummer" type="BG:Huisnummering-r"/>
					<element name="huisletter" type="BG:Huislettering-e" nillable="true"/>
					<element name="huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true"/>
					<element name="postcode" type="BG:Postcode-e" nillable="true"/>
					<element name="gor.straatnaam" type="BG:Straatnaam-e" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
				<attribute ref="StUF:sleutelVerzendend" use="prohibited"/>
				<attribute ref="StUF:sleutelOntvangend" use="prohibited"/>
				<attribute ref="StUF:sleutelGegevensbeheer" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NUM-lv-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:NUM-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e"/>
					<element name="wpl.woonplaatsNaam" type="BG:NaamgevingObject-r"/>
					<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-r"/>
					<element name="huisnummer" type="BG:Huisnummering-r"/>
					<element name="huisletter" type="BG:Huislettering-e" nillable="true"/>
					<element name="huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true"/>
					<element name="postcode" type="BG:Postcode-e" nillable="true"/>
				</sequence>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
				<attribute ref="StUF:sleutelVerzendend" use="prohibited"/>
				<attribute ref="StUF:sleutelOntvangend" use="prohibited"/>
				<attribute ref="StUF:sleutelGegevensbeheer" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NUM-lv-synchroniseer">
		<complexContent>
			<restriction base="BG:NUM-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummering-e" nillable="true"/>
					<element name="wpl.woonplaatsNaam" type="BG:NaamgevingObject-e" nillable="true"/>
					<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true"/>
					<element name="huisnummer" type="BG:Huisnummering-e" nillable="true"/>
					<element name="huisletter" type="BG:Huislettering-e" nillable="true"/>
					<element name="huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true"/>
					<element name="postcode" type="BG:Postcode-e" nillable="true"/>
					<element name="gor.straatnaam" type="BG:Straatnaam-e" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:sleutelVerzendend" use="prohibited"/>
				<attribute ref="StUF:sleutelOntvangend" use="prohibited"/>
				<attribute ref="StUF:sleutelGegevensbeheer" use="prohibited"/>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="PND-lv-kennisgeving">
		<complexContent>
			<restriction base="BG:PND-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummeringPND-r"/>
					<element name="ingangsdatumObject" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
					<element name="einddatumObject" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:sleutelVerzendend" use="prohibited"/>
				<attribute ref="StUF:sleutelOntvangend" use="prohibited"/>
				<attribute ref="StUF:sleutelGegevensbeheer" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="PND-lv-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:PND-woz-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummeringPND-r"/>
				</sequence>
				<attribute ref="StUF:sleutelVerzendend" use="prohibited"/>
				<attribute ref="StUF:sleutelOntvangend" use="prohibited"/>
				<attribute ref="StUF:sleutelGegevensbeheer" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="STA-lv-kennisgeving">
		<complexContent>
			<restriction base="BG:STA-lv-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummeringSTA-r"/>
					<element name="adresAanduidingGrp" type="BG:AdrGrp-lv-kerngegevensKennisgeving-nietNillable"/>
				</sequence>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
				<attribute ref="StUF:scope" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="STA-lv-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:STA-lv-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummeringSTA-r"/>
					<element name="adresAanduidingGrp" type="BG:AdrGrp-lv-kerngegevensKennisgeving-nietNillable"/>
				</sequence>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
				<attribute ref="StUF:scope" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="STA-lv-synchroniseer">
		<complexContent>
			<restriction base="BG:STA-lv-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummeringSTA-e" nillable="true"/>
					<element name="adresAanduidingGrp" type="BG:AdrGrp-lv-kerngegevensKennisgeving"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="TGO-lv-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:TGO-lv-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummeringAOT-e" nillable="true"/>
					<element name="adresAanduidingGrp" type="BG:AdrGrp-lv-kerngegevensKennisgeving"/>
				</sequence>
				<attribute ref="StUF:sleutelVerzendend" use="prohibited"/>
				<attribute ref="StUF:sleutelOntvangend" use="prohibited"/>
				<attribute ref="StUF:sleutelGegevensbeheer" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
				<attribute ref="StUF:entiteittype" use="required" fixed="TGO"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VBO-lv-kennisgeving">
		<complexContent>
			<restriction base="BG:VBO-lv-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummeringVBO-r"/>
					<element name="adresAanduidingGrp" type="BG:AdrGrp-lv-kerngegevensKennisgeving-nietNillable"/>
				</sequence>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VBO-lv-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:VBO-lv-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummeringVBO-r"/>
					<element name="adresAanduidingGrp" type="BG:AdrGrp-lv-kerngegevensKennisgeving-nietNillable"/>
				</sequence>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VBO-lv-synchroniseer">
		<complexContent>
			<restriction base="BG:VBO-lv-basis">
				<sequence>
					<element name="identificatie" type="BG:ObjectNummeringVBO-e" nillable="true"/>
					<element name="adresAanduidingGrp" type="BG:AdrGrp-lv-kerngegevensKennisgeving"/>
				</sequence>
				<attribute ref="StUF:sleutelSynchronisatie" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VES-lv-kennisgeving">
		<complexContent>
			<restriction base="BG:VES-woz-basis">
				<sequence>
					<element name="vestigingsNummer" type="BG:VestigingsNummer-e" nillable="true"/>
					<sequence>
						<element name="handelsnaam" type="BG:Handelsnaam-r"/>
					</sequence>
					<choice>
						<element name="verblijfsadres" type="BG:VerblijfsadresGrp-lv-kennisgeving"/>
						<element name="sub.verblijfBuitenland" type="BG:VerblijfBuitenlandGrp-lv-kerngegevensKennisgeving"/>
					</choice>
					<element name="sub.correspondentieAdres" type="BG:CorrespondentieAdrGrp-lv-kennisgeving" minOccurs="0"/>
					<element name="oefentActiviteitenUitVoor" type="BG:VESMAC-lv-kennisgeving" nillable="true" minOccurs="0"/>
					<element name="heeftAlsHoofdLocatie" type="BG:VESTGOHFD-lv-kennisgeving" nillable="true" minOccurs="0"/>
				</sequence>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VES-lv-beeindigen">
		<complexContent>
			<restriction base="BG:VES-woz-basis">
				<sequence>
					<element name="vestigingsNummer" type="BG:VestigingsNummer-e" nillable="true"/>
					<sequence>
						<element name="handelsnaam" type="BG:Handelsnaam-r"/>
					</sequence>
					<choice>
						<element name="verblijfsadres" type="BG:VerblijfsadresGrp-lv-kennisgeving"/>
						<element name="sub.verblijfBuitenland" type="BG:VerblijfBuitenlandGrp-lv-kerngegevensKennisgeving"/>
					</choice>
				</sequence>
				<attribute ref="StUF:sleutelVerzendend" use="prohibited"/>
				<attribute ref="StUF:sleutelOntvangend" use="prohibited"/>
				<attribute ref="StUF:sleutelGegevensbeheer" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VES-lv-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:VES-lv-basis">
				<sequence>
					<element name="vestigingsNummer" type="BG:VestigingsNummer-e" nillable="true"/>
					<sequence>
						<element name="handelsnaam" type="BG:Handelsnaam-r"/>
					</sequence>
					<choice>
						<element name="verblijfsadres" type="BG:VerblijfsadresGrp-lv-kerngegevensKennisgeving"/>
						<element name="sub.verblijfBuitenland" type="BG:VerblijfBuitenlandGrp-lv-kerngegevensKennisgeving"/>
					</choice>
				</sequence>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VES-lv-kerngegevensVerplicht">
		<complexContent>
			<restriction base="BG:VES-lv-basis">
				<sequence>
					<element name="vestigingsNummer" type="BG:VestigingsNummer-e" nillable="true"/>
					<sequence>
						<element name="handelsnaam" type="BG:Handelsnaam-r"/>
					</sequence>
					<choice>
						<element name="verblijfsadres" type="BG:VerblijfsadresGrp-lv-kerngegevensKennisgeving"/>
						<element name="sub.verblijfBuitenland" type="BG:VerblijfBuitenlandGrp-lv-kerngegevensKennisgeving"/>
					</choice>
				</sequence>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VESMAC-lv-kennisgeving">
		<complexContent>
			<restriction base="BG:VESMAC-basis">
				<sequence>
					<element name="gerelateerde" type="BG:MAC-lv-kennisgeving"/>
				</sequence>
				<attribute ref="StUF:entiteittype" use="required" fixed="VESMAC"/>
				<attribute ref="StUF:sleutelVerzendend" use="prohibited"/>
				<attribute ref="StUF:sleutelOntvangend" use="prohibited"/>
				<attribute ref="StUF:sleutelGegevensbeheer" use="prohibited"/>
				<attribute ref="StUF:scope" use="prohibited"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VESTGOHFD-lv-kennisgeving">
		<complexContent>
			<restriction base="BG:VESTGOHFD-lv-basis">
				<sequence>
					<element name="gerelateerde" type="BG:TGO-lv-kerngegevensKennisgeving"/>
				</sequence>
				<attribute ref="StUF:entiteittype" use="required" fixed="VESTGOHFD"/>
				<attribute ref="StUF:verwerkingssoort" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!--ComplexTypes voor groepen-->
	<complexType name="AanduidingWOZobjectGrp-lv-kennisgeving">
		<complexContent>
			<restriction base="BG:AanduidingWOZobjectGrp-woz">
				<sequence minOccurs="0">
					<element name="aoa.identificatie" type="BG:ObjectNummering-e" nillable="true"/>
					<element name="wpl.woonplaatsNaam" type="BG:WoonplaatsNaam-e" nillable="true"/>
					<element name="aoa.postcode" type="BG:Postcode-e" nillable="true"/>
					<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true"/>
					<element name="gor.straatnaam" type="BG:Straatnaam-e" nillable="true" minOccurs="0"/>
					<element name="aoa.huisnummer" type="BG:Huisnummering-e" nillable="true"/>
					<element name="aoa.huisletter" type="BG:Huislettering-e" nillable="true"/>
					<element name="aoa.huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true"/>
					<element name="locatieOmschrijving" type="BG:LocatieOmschrijving-e" nillable="true"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AanduidingWOZobjectGrp-lv-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:AanduidingWOZobjectGrp-woz">
				<sequence minOccurs="0">
					<element name="aoa.identificatie" type="BG:ObjectNummering-e" nillable="true"/>
					<element name="wpl.woonplaatsNaam" type="BG:WoonplaatsNaam-e" nillable="true"/>
					<element name="aoa.postcode" type="BG:Postcode-e" nillable="true"/>
					<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true"/>
					<element name="aoa.huisnummer" type="BG:Huisnummering-e" nillable="true"/>
					<element name="aoa.huisletter" type="BG:Huislettering-e" nillable="true"/>
					<element name="aoa.huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true"/>
					<element name="locatieOmschrijving" type="BG:LocatieOmschrijving-e" nillable="true"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AdrGrp-lv-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:AdrGrp-lv-AOT">
				<sequence>
					<sequence>
						<choice>
							<element name="num.identificatie" type="BG:ObjectNummering-e" nillable="true"/>
						</choice>
					</sequence>
					<element name="wpl.woonplaatsNaam" type="BG:WoonplaatsNaam-e" nillable="true"/>
					<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true"/>
					<element name="gor.straatnaam" type="BG:Straatnaam-e" nillable="true"/>
					<element name="aoa.postcode" type="BG:Postcode-e" nillable="true"/>
					<element name="aoa.huisnummer" type="BG:Huisnummering-e" nillable="true"/>
					<element name="aoa.huisletter" type="BG:Huislettering-e" nillable="true"/>
					<element name="aoa.huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AdrGrp-lv-kerngegevensKennisgeving-nietNillable">
		<complexContent>
			<restriction base="BG:AdrGrp-lv-kerngegevensKennisgeving">
				<sequence>
					<sequence>
						<choice>
							<element name="num.identificatie" type="BG:ObjectNummering-e"/>
						</choice>
					</sequence>
					<element name="wpl.woonplaatsNaam" type="BG:WoonplaatsNaam-e"/>
					<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e"/>
					<element name="gor.straatnaam" type="BG:Straatnaam-e" nillable="true"/>
					<element name="aoa.postcode" type="BG:Postcode-e" nillable="true"/>
					<element name="aoa.huisnummer" type="BG:Huisnummering-e"/>
					<element name="aoa.huisletter" type="BG:Huislettering-e" nillable="true"/>
					<element name="aoa.huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="CorrespondentieAdrGrp-lv-kennisgeving">
		<complexContent>
			<restriction base="BG:CorrespondentieAdrGrp-woz-basis">
				<sequence>
					<element name="wpl.woonplaatsNaam" type="BG:NaamgevingObject-e" nillable="true"/>
					<element name="postcode" type="BG:Postcode-e" nillable="true"/>
					<choice>
						<sequence>
							<element name="aoa.identificatie" type="BG:ObjectNummering-e" nillable="true"/>
							<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true"/>
							<element name="gor.straatnaam" type="BG:Straatnaam-e" nillable="true" minOccurs="0"/>
							<element name="aoa.huisnummer" type="BG:Huisnummering-e" nillable="true"/>
							<element name="aoa.huisletter" type="BG:Huislettering-e" nillable="true"/>
							<element name="aoa.huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true"/>
						</sequence>
						<sequence>
							<element name="sub.postadresType" type="BG:PostadresType-e" nillable="true"/>
							<element name="sub.postadresNummer" type="BG:PostadresNummer-e" nillable="true"/>
						</sequence>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="CorrespondentieAdrGrp-lv-kernGegevensKennisgeving">
		<complexContent>
			<restriction base="BG:CorrespondentieAdrGrp-woz-basis">
				<sequence>
					<element name="wpl.woonplaatsNaam" type="BG:NaamgevingObject-e" nillable="true"/>
					<element name="postcode" type="BG:Postcode-e" nillable="true"/>
					<choice>
						<sequence>
							<element name="aoa.identificatie" type="BG:ObjectNummering-e" nillable="true"/>
							<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true"/>
							<element name="aoa.huisnummer" type="BG:Huisnummering-e" nillable="true"/>
							<element name="aoa.huisletter" type="BG:Huislettering-e" nillable="true"/>
							<element name="aoa.huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true"/>
						</sequence>
						<sequence>
							<element name="sub.postadresType" type="BG:PostadresType-e" nillable="true"/>
							<element name="sub.postadresNummer" type="BG:PostadresNummer-e" nillable="true"/>
						</sequence>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="KadastraleAanduidingGrp-verplicht-lv">
		<complexContent>
			<restriction base="BG:KadastraleAanduidingGrp-verplicht">
				<sequence>
					<element name="kadastraleGemeentecode" type="BG:KadastraleGemeentecode-e"/>
					<element name="kadastraleSectie" type="BG:KadastraleSectie-e"/>
					<element name="kadastraalPerceelnummer" type="BG:KadastraalPerceelnummer-e"/>
					<choice>
						<element name="kdp.deelperceelNummer" type="BG:DeelperceelNummer-e" nillable="true"/>
						<element name="apr.appartementsIndex" type="BG:Appartementsindex-e" nillable="true"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VerantwoordelijkeGemeenteGrp-lv-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:VerantwoordelijkeGemeenteGrp">
				<sequence>
					<element name="gemeenteCode" type="BG:Gemeentecodering-e" nillable="true"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VerblijfsadresGrp-lv-kennisgeving">
		<complexContent>
			<restriction base="BG:VerblijfsadresGrp-woz-basis">
				<sequence minOccurs="0">
					<element name="aoa.identificatie" type="BG:ObjectNummering-e" nillable="true"/>
					<element name="wpl.woonplaatsNaam" type="BG:WoonplaatsNaam-e" nillable="true"/>
					<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true"/>
					<element name="gor.straatnaam" type="BG:Straatnaam-e" nillable="true" minOccurs="0"/>
					<element name="aoa.postcode" type="BG:Postcode-e" nillable="true"/>
					<element name="aoa.huisnummer" type="BG:Huisnummering-e" nillable="true"/>
					<element name="aoa.huisletter" type="BG:Huislettering-e" nillable="true"/>
					<element name="aoa.huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true"/>
					<element name="inp.locatiebeschrijving" type="BG:Locatiebeschrijving-e" nillable="true"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VerblijfsadresGrp-lv-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:VerblijfsadresGrp-woz-basis">
				<sequence minOccurs="0">
					<element name="aoa.identificatie" type="BG:ObjectNummering-e" nillable="true"/>
					<element name="wpl.woonplaatsNaam" type="BG:WoonplaatsNaam-e" nillable="true"/>
					<element name="gor.openbareRuimteNaam" type="BG:NaamgevingObject-e" nillable="true"/>
					<element name="aoa.postcode" type="BG:Postcode-e" nillable="true"/>
					<element name="aoa.huisnummer" type="BG:Huisnummering-e" nillable="true"/>
					<element name="aoa.huisletter" type="BG:Huislettering-e" nillable="true"/>
					<element name="aoa.huisnummertoevoeging" type="BG:Huisnummertoevoeging-e" nillable="true"/>
					<element name="inp.locatiebeschrijving" type="BG:Locatiebeschrijving-e" nillable="true"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VerblijfBuitenlandGrp-lv-kerngegevensKennisgeving">
		<complexContent>
			<restriction base="BG:VerblijfBuitenlandGrp">
				<sequence>
					<element name="lnd.landcode" type="BG:Landcode-e" nillable="true"/>
					<element name="lnd.landnaam" type="BG:Landnaam-e" nillable="true"/>
					<element name="sub.adresBuitenland1" type="BG:AdresBuitenland-e" nillable="true"/>
					<element name="sub.adresBuitenland2" type="BG:AdresBuitenland-e" nillable="true"/>
					<element name="sub.adresBuitenland3" type="BG:AdresBuitenland-e" nillable="true"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
</schema>
